import { Component } from '@angular/core';

@Component({
  selector: '<%= prefix %>-<%= dasherize(path) %>-empty-view',
  templateUrl: './<%= dasherize(path) %>-empty-view.component.html',
  styleUrls: ['./<%= dasherize(path) %>-empty-view.component.scss']
})
export class <%= classify(path) %>EmptyViewComponent {

  constructor() { }

}
