<div layout="row" layout-align="space-between center" class="card padding-horizontal-2x">

    <div layout="row" layout-align="start center" flex-gt-xs="55" flex-xs class="md-block">
        <md-input-container flex-gt-xs="30" flex-xs class="md-block">
            <md-icon class="material-icons color-fg-primary-500">search</md-icon>
            <label>{{::$i18n.block.input.search}}</label>
            <input type="search" ng-model="tab.searchInput" title="" ng-keypress="$event.which === 13 && tab.search();mainCtrl.reloadCounters()">
        </md-input-container>
        <md-button ng-if="tab.searchInput" class="md-icon-button color-fg-material-grey-text" aria-label="clear_search"
                   ng-click="tab.searchInput=undefined;tab.search();mainCtrl.reloadCounters()">
            <md-icon class="material-icons">clear</md-icon>
        </md-button>
    </div>

    <md-button ng-if="$user.hasAuthority(tab.authorityToCreate)" class="md-fab md-raised md-mini md-primary"
               ng-click="tab.openNewCaseDialog()">
        <md-icon class="material-icons">add</md-icon>
        <md-tooltip md-direction="left">
            {{::$i18n.block.add.create + tab.createDialogTitle}}
        </md-tooltip>
    </md-button>

</div>