<div layout="row" layout-align="space-between center" class="card padding-2x">

    <div flex-gt-sm="30" flex-sm flex-xs layout="row" layout-align="start center" class="height-52px">

        <form flex ng-submit="tasksCtrl.filterTab.load(false,true)">
            <md-input-container flex class="md-block">
                <md-icon class="material-icons color-fg-primary-500">search</md-icon>
                <label>{{::$i18n.block.input.search}}</label>
                <input type="text" ng-model="tasksCtrl.filterTab.search.title" title="Search input">
            </md-input-container>
        </form>

        <md-menu>

            <md-button ng-click="$mdMenu.open($event)" class="md-icon-button">
                <md-icon class="material-icons color-fg-primary-500">{{tasksCtrl.filterTab.searchVisibilityIcon}}</md-icon>
                <md-tooltip md-direction="right">
                    {{$i18n.page.tasks.filter[tasksCtrl.filterTab.searchVisibilityIcon]}}
                </md-tooltip>
            </md-button>

            <md-menu-content>

                <md-menu-item>

                    <md-button ng-click="tasksCtrl.filterTab.changeSearchVisibility(2)">
                        <md-icon class="material-icons">public</md-icon>
                        <span>{{::$i18n.page.tasks.filter.public}}</span>
                    </md-button>

                </md-menu-item>

                <md-menu-item>

                    <md-button ng-click="tasksCtrl.filterTab.changeSearchVisibility(1)">
                        <md-icon class="material-icons">group</md-icon>
                        <span>{{::$i18n.page.tasks.filter.group}}</span>
                    </md-button>

                </md-menu-item>

                <md-menu-item>

                    <md-button ng-click="tasksCtrl.filterTab.changeSearchVisibility(0)">
                        <md-icon class="material-icons">person</md-icon>
                        <span>{{::$i18n.page.tasks.filter.private}}</span>
                    </md-button>

                </md-menu-item>

            </md-menu-content>

        </md-menu>
    </div>

    <md-button class="md-fab md-raised md-mini md-primary" ng-click="tasksCtrl.openTaskTabs(tasksCtrl.filterTab.saveFilters())">
        <md-icon class="material-icons">done</md-icon>
        <md-tooltip md-direction="left">
            {{::$i18n.block.btn.apply}}
        </md-tooltip>
    </md-button>

</div>