<div layout="column" class="card padding-2x" ng-if="search.guiComplexity==='COMPLEX' || search.guiComplexity==='COMBINED'">
    <div layout="row" layout-align="space-between center">
        <div layout="row" layout-align="start center">
            <md-input-container class="md-block margin-0" flex>
                <label class="placeholder">{{::$i18n.page.tasks.search.category}}</label>
                <md-select ng-model="search.searchCategory" ng-change="search.clearDatafieldInput()">
                    <md-option ng-repeat="(key, category) in search.enabledCategories" ng-value="category">
                        {{category.name}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-autocomplete md-search-text="search.searchDatafield.text"
                             md-selected-item="search.searchDatafield.object"
                             md-selected-item-change="search.searchCategory.datafieldFilter(); search.clearFieldsDatafield()"
                             md-items="item in search.searchCategory.datafieldFilter()"
                             md-item-text="item.text"
                             md-min-length="0"
                             md-no-cache="true"
                             md-select-on-match="true"
                             md-match-case-insensitive="true"
                             md-dropdown-items="5"
                             md-floating-label="{{::$i18n.page.tasks.search.search}}"
                             ng-if="search.searchCategory && search.searchCategory.name === 'Dataset'"
                             class="autocomplete-aligned-to-input">
                <md-item-template>
                    <md-icon class="material-icons">{{item.getTypeIcon()}}</md-icon>
                    <span md-highlight-text="search.searchDatafield.text" md-highlight-flags="i">
                        {{item.text}}
                    </span>
                </md-item-template>
                <md-not-found>
                    {{$i18n.page.tasks.filter.processNotFound}}
                </md-not-found>
            </md-autocomplete>

            <md-input-container class="md-block margin-0" flex ng-if="search.searchCategory && (search.searchCategory.name !== 'Dataset' || search.searchDatafield.object)">
                <label class="placeholder">operator</label>
                <md-select ng-model="search.searchOperator" ng-change="search.clearArgumentsInput()">
                    <md-option ng-repeat="operator in search.searchCategory.allowedOperators(undefined, search.searchDatafield.object.toSerializedForm())" ng-value="operator">
                        {{operator.display}}
                    </md-option>
                </md-select>
            </md-input-container>

             <div ng-if="search.searchOperator && search.searchOperator.numberOfOperands > 0"
                  ng-init="switchExpression = 'search.searchCategory.argsInputType && search.searchCategory.argsInputType()'; inputGui = 'COMPLEX'"
                  ng-repeat="argIndex in [].constructor(search.searchOperator.numberOfOperands) track by $index"
                  ng-include="'views/app/search_bars/search_inputs/search_typed_input.html'">
             </div>

            <!-- TODO i18n tooltips -->
            <md-button ng-disabled="!search.allArgumentsFilled()"
                       ng-click="search.commitChipPart(); search.filterPossibleNets(); tab.search()"
                       class="md-fab md-mini md-accent">
                <md-icon class="material-icons">add</md-icon>
                <md-tooltip md-direction="top">
                    add chip element
                </md-tooltip>
            </md-button>

            <md-button ng-disabled="!(search.allArgumentsFilled() || search.chipParts.committed.length > 0)"
                       ng-click="search.commitChip(); search.filterPossibleNets(); tab.search()"
                       class="md-fab md-mini md-accent">
                <md-icon class="material-icons">send</md-icon>
                <md-tooltip md-direction="top">
                    add chip
                </md-tooltip>
            </md-button>

            <md-button ng-disabled="!search.searchCategory && search.searchArguments['HEADER'].length === 0 && search.searchObjects['HEADER'].length === 0"
                       ng-click="search.resetInputFields()"
                       class="md-fab md-mini md-accent">
                <md-icon class="material-icons">clear_all</md-icon>
                <md-tooltip md-direction="top">
                    clear input
                </md-tooltip>
            </md-button>

            <md-button ng-disabled="search.removableChipsExist()"
                       ng-click="search.clearFilter()"
                       class="md-fab md-mini md-accent">
                <md-icon class="material-icons">delete</md-icon>
                <md-tooltip md-direction="top">
                    clear search
                </md-tooltip>
            </md-button>

            <md-button ng-if="search.searchType==='Task'"
                       ng-disabled="!(search.allArgumentsFilled() || search.chipParts.committed.length > 0 || search.chips.committed.length > 0)"
                       ng-click="tab.openSaveFilterDialog()"
                       class="md-fab md-mini md-accent">
                <md-icon class="material-icons">save</md-icon>
<!--                        <span>{{::$i18n.block.btn.save}}</span>-->
                <md-tooltip md-direction="top">
                    save filter
                </md-tooltip>
            </md-button>
        </div>
        <div flex-gt-xs="5" layout="row" layout-align="end center">
            <md-button ng-if="search.searchType === 'Case' && $user.hasAuthority(tab.authorityToCreate)"
                       ng-click="tab.openNewCaseDialog()"
                       class="md-fab md-raised md-mini md-primary">
                <md-icon class="material-icons">library_add</md-icon>
                <md-tooltip md-direction="left">
                    {{::$i18n.block.add.create + tab.createDialogTitle}}
                </md-tooltip>
            </md-button>
        </div>
    </div>
    <div layout="row">
        <div layout="column" flex>
            <div>
                <md-chips ng-model="search.chipParts.committed"
                          readonly="true"
                          md-removable="true"
                          md-on-remove="search.resetPossibleNets(); tab.search()"
                          class="empty-chips-with-height">
                    <md-chip-template>
                        {{$chip.text}}
                    </md-chip-template>
                </md-chips>
            </div>
            <div>
                <md-chips ng-model="search.chips.committed"
                          readonly="true"
                          md-removable="false"
                          md-on-remove="search.resetPossibleNets(); tab.search()"
                          class="empty-chips-with-height">
                    <md-chip-template>
                        {{$chip.text}}
                        <md-icon class="material-icons" md-chip-remove ng-if="$chip.canRemove">clear</md-icon>
                    </md-chip-template>
                </md-chips>
            </div>
        </div>
        <div flex-gt-xs="5" layout="row" layout-align="end center">
            <md-button ng-disabled="!(search.allArgumentsFilled() || search.chipParts.committed.length > 0 || search.chips.committed.length > 0)" class="md-fab md-mini md-accent"
                       ng-click="search.commitChip(); tab.search(); mainCtrl.reloadCounters(); search.filterPossibleNets()" layout-align=" end">
                <md-icon class="material-icons">search</md-icon>
                <md-tooltip md-direction="top">
                    search
                </md-tooltip>
            </md-button>
        </div>
    </div>
</div><!-- ./card -->
<!--<div layout="row" class="card-header padding-horizontal-2x" ng-if="search.guiComplexity==='HEADER' || search.guiComplexity==='COMBINED'">-->
<!--    <div ng-repeat="metadata in search.headerSearchFieldsMetadata track by $index">-->
<!--        <div ng-include="'views/app/search_bars/search_inputs/search_typed_input.html'"-->
<!--             ng-init="switchExpression = 'metadata.inputType'; inputGui = 'HEADER'">-->
<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; TODO change disabled condition &ndash;&gt;-->
<!--    <md-button ng-disabled="!(search.allArgumentsFilled() || search.chipParts.committed.length > 0 || search.chips.committed.length > 0)" class="md-fab md-mini"-->
<!--               ng-click="search.commitChip(); tab.search(); mainCtrl.reloadCounters(); search.filterPossibleNets()" layout-align=" end">-->
<!--        <md-icon class="material-icons">search</md-icon>-->
<!--        <md-tooltip md-direction="top">-->
<!--            search-->
<!--        </md-tooltip>-->
<!--    </md-button>-->
<!--</div>-->