<div layout="row" class="card padding-2x" ng-if="search.guiComplexity==='COMPLEX' || search.guiComplexity==='BOTH'">

    <div flex layout="column">

        <div layout="row" layout-align="start center">

            <div flex layout="row">

                <div layout-gt-xs="row" layout-xs="column">
                    <md-input-container class="md-block" flex>
                        <label class="placeholder">{{::$i18n.page.tasks.search.category}}</label>
                        <md-select ng-model="search.searchCategory" ng-change="search.clearFieldsCategory()">
                            <md-option ng-repeat="(key, category) in search.enabledCategories" ng-value="category">
                                {{category.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <div ng-if="search.searchCategory && search.searchCategory.name === 'Dataset'" layout="row">
                        <md-autocomplete md-search-text="search.searchDatafield"
                                         md-selected-item-change="search.searchCategory.datafieldFilter(); search.clearFieldsDatafield()"
                                         md-items="item in search.searchCategory.datafieldFilter()"
                                         md-item-text="item"
                                         md-min-length="0"
                                         md-no-cache="true"
                                         md-select-on-match="true"
                                         md-match-case-insensitive="true"
                                         md-dropdown-items="5"
                                         md-floating-label="{{::$i18n.page.tasks.search.search}}">

                            <md-item-template>
                                <span md-highlight-text="search.searchDatafield" md-highlight-flags="i">
                                    {{item}}
                                </span>
                            </md-item-template>
                            <md-not-found>
                                {{$i18n.page.tasks.filter.processNotFound}}
                            </md-not-found>
                        </md-autocomplete>
                    </div>

                    <md-input-container class="md-block" flex ng-if="search.searchCategory && (search.searchCategory.name !== 'Dataset' || search.searchDatafield)">
                        <label class="placeholder">operator</label>
                        <md-select ng-model="search.searchOperator" ng-change="search.clearFieldsOperator()">
                            <md-option ng-repeat="operator in search.searchCategory.allowedOperators" ng-value="operator">
                                {{operator.display}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <div ng-repeat="argIndex in [].constructor(search.searchOperator.numberOfOperands) track by $index" ng-if="search.searchOperator && search.searchOperator.numberOfOperands > 0">
                         <div ng-include="'views/app/search_bars/search_inputs/search_typed_input.html'"
                              ng-init="switchExpression = 'search.searchCategory.argsInputType && search.searchCategory.argsInputType()'; inputGui = 'COMPLEX'">
                         </div>
                    </div>


                    <md-button ng-disabled="!search.allArgumentsFilled()" class="md-fab md-mini"
                               ng-click="search.commitChipPart(); search.filterPossibleNets(); tab.search()">
                        <md-icon class="material-icons">add</md-icon>
                        <md-tooltip md-direction="top">
                            add chip element
                        </md-tooltip>
                    </md-button>

                    <md-button ng-disabled="!(search.allArgumentsFilled() || search.chipParts.committed.length > 0)" class="md-fab md-mini"
                               ng-click="search.commitChip(); search.filterPossibleNets(); tab.search()">
                        <md-icon class="material-icons">send</md-icon>
                        <md-tooltip md-direction="top">
                            add chip
                        </md-tooltip>
                    </md-button>


                    <md-menu layout="column" layout-align="center center" ng-if="search.searchType==='Task'">
                        <md-button class="md-icon-button" ng-click="$mdMenu.open($event)" md-menu-origin>
                            <md-icon class="material-icons">more_vert</md-icon>
                        </md-button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button ng-click="tab.openSaveFilterDialog()" ng-disabled="!(search.allArgumentsFilled() || search.chipParts.committed.length > 0 || search.chips.committed.length > 0)">
                                    <md-icon class="material-icons">save</md-icon>
                                    <span>{{::$i18n.block.btn.save}}</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="search.resetInputFields()">
                                    <md-icon class="material-icons">clear_all</md-icon>
                                    <span>{{::$i18n.block.btn.reset}}</span>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>

            </div>
        </div>

        <md-chips ng-model="search.chipParts.committed" readonly="true" md-removable="true"
                  md-on-remove="search.resetPossibleNets(); tab.search()">
            <md-chip-template>
                {{$chip.text}}
            </md-chip-template>
        </md-chips>

        <div flex layout="row">
            <md-chips ng-model="search.chips.committed" readonly="true" md-removable="false" flex
                      md-on-remove="search.resetPossibleNets(); tab.search()">
                <md-chip-template md-primary>
                    {{$chip.text}}
                    <md-button class="md-icon-button" md-chip-remove ng-if="$chip.canRemove">
                        <md-icon class="material-icons">clear</md-icon>
                    </md-button>
                </md-chip-template>
            </md-chips>

            <md-button ng-disabled="!(search.allArgumentsFilled() || search.chipParts.committed.length > 0 || search.chips.committed.length > 0)" class="md-fab md-mini"
                       ng-click="search.commitChip(); tab.search(); mainCtrl.reloadCounters(); search.filterPossibleNets()" layout-align=" end">
                <md-icon class="material-icons">search</md-icon>
                <md-tooltip md-direction="top">
                    search
                </md-tooltip>
            </md-button>
        </div>

    </div>
</div>
<div layout="row" class="card-header padding-horizontal-2x" ng-if="search.guiComplexity==='HEADER' || search.guiComplexity==='BOTH'">
    <div ng-repeat="type in search.getHeaderInputTypes() track by $index">
        <div ng-include="'views/app/search_bars/search_inputs/search_typed_input.html'"
             ng-init="switchExpression = 'type'; inputGui = 'HEADER'">
        </div>
    </div>
    <!-- TODO change disabled condition -->
    <md-button ng-disabled="!(search.allArgumentsFilled() || search.chipParts.committed.length > 0 || search.chips.committed.length > 0)" class="md-fab md-mini"
               ng-click="search.commitChip(); tab.search(); mainCtrl.reloadCounters(); search.filterPossibleNets()" layout-align=" end">
        <md-icon class="material-icons">search</md-icon>
        <md-tooltip md-direction="top">
            search
        </md-tooltip>
    </md-button>
</div><!-- ./card -->