<div layout="row" class="card padding-2x">

    <div flex layout="column">

        <div layout="row" layout-align="start center">

<!--            <i class="material-icons color-fg-primary-500 margin-right-14px">search</i>-->

            <div flex layout="row">

                <div layout-gt-xs="row" layout-xs="column">
                    <md-input-container class="md-block" flex>
                        <label class="placeholder">{{::$i18n.page.tasks.search.category}}</label>
                        <md-select ng-model="search.searchCategory">
                            <md-option ng-repeat="(key, category) in search.categories[search.searchType]" ng-value="category">
                                {{category.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <div ng-if="search.searchCategory && search.searchCategory.name === 'Dataset'" layout="row">
                        <md-autocomplete md-search-text="search.searchDatafield"
                                         md-selected-item-change="search.searchCategory.datafieldFilter()"
                                         md-items="item in search.searchCategory.datafieldFilter()"
                                         md-item-text="item"
                                         md-min-length="0"
                                         md-no-cache="true"
                                         md-select-on-match="true"
                                         md-match-case-insensitive="true"
                                         md-dropdown-items="5"
                                         md-floating-label="{{::$i18n.page.tasks.search.search}}">

                            <md-item-template>
                                <span md-highlight-text="search.searchDatafield" md-highlight-flags="i">
                                    {{item}}
                                </span>
                            </md-item-template>
                            <md-not-found>
                                {{$i18n.page.tasks.filter.processNotFound}}
                            </md-not-found>
                        </md-autocomplete>
                    </div>

                    <md-input-container class="md-block" flex ng-if="search.searchCategory && (search.searchCategory.name !== 'Dataset' || search.searchDatafield)">
                        <label class="placeholder">operator</label>
                        <md-select ng-model="search.searchOperator">
                            <md-option ng-repeat="operator in search.searchCategory.allowedOperators" ng-value="operator">
                                {{operator.display}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <div ng-switch="search.searchCategory.argsInputType && search.searchCategory.argsInputType()" ng-if="search.searchOperator && search.searchOperator.numberOfOperands > 0">
                        <div ng-switch-default layout="row">
                            <md-input-container class="md-block" flex  ng-repeat="argIndex in [].constructor(search.searchOperator.numberOfOperands) track by $index">
                                <label class="placeholder">argument {{$index+1}}</label>
                                <input ng-model="search.searchArguments[$index]">
                            </md-input-container>
                        </div>

                        <div ng-switch-when="autocomplete" layout="row">
                            <md-input-container class="md-block" ng-repeat="argIndex in [].constructor(search.searchOperator.numberOfOperands) track by $index" flex>
                                <md-autocomplete md-search-text="search.searchArguments[$index]"
                                                 md-selected-item-change="search.searchCategory.autocompleteFilter($index)"
                                                 md-items="item in search.searchCategory.autocompleteFilter($index)"
                                                 md-item-text="item"
                                                 md-min-length="0"
                                                 md-no-cache="true"
                                                 md-select-on-match="true"
                                                 md-match-case-insensitive="true"
                                                 md-dropdown-items="5"
                                                 md-floating-label="{{::$i18n.page.tasks.search.search}}">

                                    <md-item-template>
                                        <span md-highlight-text="search.searchArguments[$index]" md-highlight-flags="i">
                                            {{item}}
                                        </span>
                                    </md-item-template>
                                    <md-not-found>
                                        {{$i18n.page.tasks.filter.processNotFound}}
                                    </md-not-found>
                                </md-autocomplete>
                            </md-input-container>
                        </div>

                        <div ng-switch-when="user" layout="row">
                            <md-input-container class="md-block" ng-repeat="argIndex in [].constructor(search.searchOperator.numberOfOperands) track by $index" flex>
                                <md-autocomplete md-search-text="search.searchArguments[$index]"
                                                 md-selected-item="search.searchObjects[$index]"
                                                 md-items="item in search.queryUsers(search.searchArguments[$index])"
                                                 md-item-text="item.name"
                                                 md-min-length="0"
                                                 md-no-cache="true"
                                                 md-select-on-match="true"
                                                 md-match-case-insensitive="true"
                                                 md-dropdown-items="5"
                                                 md-floating-label="{{::$i18n.page.tasks.search.search}}"
                                                 md-delay="500">

                                    <md-item-template>
                                        <span md-highlight-text="search.searchArguments[$index]" md-highlight-flags="i">
                                            {{item.name}}
                                        </span>
                                    </md-item-template>
                                    <md-not-found>
                                        {{$i18n.page.tasks.filter.processNotFound}}
                                    </md-not-found>
                                </md-autocomplete>
                            </md-input-container>
                        </div>

                        <div ng-switch-when="number" layout="row">
                            <md-input-container class="md-block" flex  ng-repeat="argIndex in [].constructor(search.searchOperator.numberOfOperands) track by $index">
                                <label class="placeholder">argument {{$index+1}}</label>
                                <input ng-model="search.searchArguments[$index]" type="number">
                            </md-input-container>
                        </div>

                        <div ng-switch-when="boolean" layout="row">
                            <md-input-container class="md-block" flex  ng-repeat="argIndex in [].constructor(search.searchOperator.numberOfOperands) track by $index">
                                <md-switch class="md-primary"
                                           ng-model="search.searchArguments[$index]"
                                           aria-label="Switch">
                                </md-switch>
                            </md-input-container>
                        </div>

                        <div ng-switch-when="date" layout="row">
                            <md-input-container class="md-block" flex  ng-repeat="argIndex in [].constructor(search.searchOperator.numberOfOperands) track by $index">
                                <label class="placeholder">argument {{$index+1}}</label>
                                <md-datepicker ng-model="search.searchArguments[$index]"
                                               aria-label="Pick date"
                                               md-open-on-focus>
                                </md-datepicker>
                            </md-input-container>
                        </div>

<!--                        TODO dateTime after NAE-182 is merged-->
<!--                        <div ng-switch-when="dateTime" layout="row">-->
<!--                            <md-input-container class="md-block" flex  ng-repeat="argIndex in [].constructor(search.searchOperator.numberOfOperands) track by $index">-->
<!--                                <label class="placeholder">argument {{$index+1}}</label>-->
<!--                                -->
<!--                                </md-datepicker>-->
<!--                            </md-input-container>-->
<!--                        </div>-->
                    </div>

                    <md-button ng-disabled="!search.allArgumentsFilled()" class="md-fab md-mini"
                               ng-click="search.addChipPart()">
                        <md-icon class="material-icons">add</md-icon>
                        <md-tooltip md-direction="top">
                            add chip element
                        </md-tooltip>
                    </md-button>

                    <md-button ng-disabled="!(search.allArgumentsFilled() || search.chipParts.length > 0)" class="md-fab md-mini"
                               ng-click="search.addChip()">
                        <md-icon class="material-icons">send</md-icon>
                        <md-tooltip md-direction="top">
                            add chip
                        </md-tooltip>
                    </md-button>


                    <md-menu layout="column" layout-align="center center" ng-if="search.searchType==='Task'">
                        <md-button class="md-icon-button" ng-click="$mdMenu.open($event)" md-menu-origin>
                            <md-icon class="material-icons">more_vert</md-icon>
                        </md-button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button ng-click="tab.openSaveFilterDialog()">
                                    <md-icon class="material-icons">save</md-icon>
                                    <span>{{::$i18n.block.btn.save}}</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="search.resetInputFields()">
                                    <md-icon class="material-icons">clear_all</md-icon>
                                    <span>{{::$i18n.block.btn.reset}}</span>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>

            </div>
        </div>

        <md-chips ng-model="search.chipParts" readonly="true" md-removable="true">
            <md-chip-template>
                {{$chip.text}}
            </md-chip-template>
        </md-chips>

        <div flex layout="row">
            <md-chips ng-model="search.chips" readonly="true" md-removable="true" flex>
                <md-chip-template md-primary>
                    {{$chip.text}}
                </md-chip-template>
            </md-chips>

            <md-button ng-disabled="!(search.allArgumentsFilled() || search.chipParts.length > 0 || search.chips.length > 0)" class="md-fab md-mini"
                       ng-click="search.buildSearchQuery();tab.search();mainCtrl.reloadCounters()" layout-align=" end">
                <md-icon class="material-icons">search</md-icon>
                <md-tooltip md-direction="top">
                    search
                </md-tooltip>
            </md-button>
        </div>

    </div>
</div><!-- ./card -->