import {Injectable} from '@angular/core';
import {ConfigurationService} from '@netgrif/components-core';
import {NetgrifApplicationEngine} from '@netgrif/components-core/';
import {default as naeConfig} from '<%= configPath %>';

@Injectable({
    providedIn: 'root'
})
export class <%= classify(project) %>ConfigurationService extends ConfigurationService {
    constructor() {
        super(naeConfig as unknown as NetgrifApplicationEngine);
    }
}
