@use '@angular/material' as mat;

/**
* Mimicking VS Dark+ theme as closely as possible
*/
@mixin custom-covalent-highlight-theme() {
    td-highlight {
        border: .5px solid rgba(0, 0, 0, .03);
        background: rgba(0, 0, 0, .03);

        .highlight {
            color: mat.m2-get-color-from-palette(mat.$grey-palette, 900);
        }

        .hljs-comment,
        .hljs-quote {
            color: #608b4e;
        }

        .hljs-tag,
        .hljs-name,
        .hljs-selector-tag,
        .hljs-literal {
            color: #3b78e7;
        }

        .hljs-keyword {
            color: #c288bf;
        }

        .hljs-attr,
            //.hljs-params, // Remove param color for now
        .hljs-attribute {
            color: #9c27b0;
        }

        .hljs-string,
        .hljs-selector-attr,
        .hljs-regexp,
        .hljs-link {
            color: #ce9178;
        }

        .hljs-selector-id,
        .hljs-selector-class,
        .hljs-selector-pseudo {
            color: #d7ba7d;
        }

        .hljs-meta {
            color: #dcdcaa;
        }

        .hljs-built_in,
        .hljs-builtin-name,
        .hljs-type,
        .hljs-section,
        .hljs-class .hljs-title,
        .hljs-symbol,
        .hljs-bullet {
            color: #4ec9b0;
        }

        .hljs-number {
            color: #b5cea8;
        }

        .hljs-variable,
        .hljs-template-variable {
            color: #9fddfc;
        }

        .hljs-deletion {
            color: #ffc8bd;
        }

        .hljs-addition {
            background-color: #baeeba;
        }

        .hljs-emphasis {
            font-style: italic;
        }

        .hljs-doctag,
        .hljs-strong {
            font-weight: bold;
        }

        .hljs-formula {
            background-color: #eee;
            font-style: italic;
        }
    }
}
