@use '@angular/material' as mat;
@use 'node_modules/@netgrif/components/nae-theme' as nae;

$typography: mat.m2-define-typography-config(
    $font-family: 'Roboto, sans-serif',
    $headline-1: mat.m2-define-typography-level(32px, 48px, 700)
);

@include mat.core();

$netgrif-blue: (
    50: #E1F2FF,
    100: #B5DEFF,
    200: #83C8FF,
    300: #51B1FF,
    400: #2CA1FF,
    500: #0790FF,
    600: #0688FF,
    700: #057DFF,
    800: #0473FF,
    900: #0261FF,
    A100: #feeeb5,
    A200: #fee386,
    A400: #ffcf31,
    A700: #ffa610,
    contrast: (
        50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: rgba(black, 0.87),
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(black, 0.87),
        A200: rgba(black, 0.87),
        A400: rgba(black, 0.87),
        A700: rgba(black, 0.87),
    )
);

$netgrif-primary: mat.m2-define-palette($netgrif-blue);
$netgrif-accent:  mat.m2-define-palette($netgrif-blue, A200, A100, A400);
$netgrif-warn:    mat.m2-define-palette(mat.$m2-red-palette);

$netgrif-theme: mat.m2-define-light-theme((
    color: (
        primary: $netgrif-primary,
        accent: $netgrif-accent,
        warn: $netgrif-warn,
    ),
    typography: $typography,
    density: 0,
));

@include mat.all-component-themes($netgrif-theme);
@include mat.typography-hierarchy($netgrif-theme);
@include nae.nae-lib-theme($netgrif-theme, $typography);

body {
    font-family: Roboto, serif;
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: transparent;
    }

    ::-webkit-scrollbar {
        width: 7px;
        height: 7px;
        background-color: transparent;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 5px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        background-color: #82A5DD;
    }
}
