/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

//Cause of view encapsulation the task panel padding must be changed here
.mat-expansion-panel-content > .mat-expansion-panel-body {
    padding: 0;
}
