.task-tab-background{
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: transparent;
}
.search-panel{
    margin-top: 20px;
}
.content-margin{
    margin: 0 20px;
}
.task-panel-padding-mini{
    padding-bottom: 20px;
    padding-top: 20px;
}

.search-width {
    width: 100%;
}

.full-height {
    height: 100%;
}
.public-button {
    height: 36px;
    width: 200px;
}

.public-button-padding {
    padding: 16px;
    flex-direction: column;
    display: flex;
    align-items: center;
}
