<md-dialog aria-label="{{::$root.$i18n.block.dialog.assignUser.title}}">

    <md-toolbar>
        <div layout="row" layout-align="space-between center" class="md-toolbar-tools">

            <h2>{{::$root.$i18n.block.dialog.assignUser.title}}</h2>

            <md-button class="md-icon-button" ng-click="closeDialog()">
                <md-icon class="material-icons">close</md-icon>
            </md-button>

        </div>
    </md-toolbar>

    <md-dialog-content in-view-container>
        <div layout="column" class="md-dialog-content">

            <md-input-container class="md-block">
                <md-icon class="material-icons color-fg-primary-500">search</md-icon>
                <label>{{::$root.$i18n.block.dialog.assignUser.user}}</label>
                <input type="text" ng-model="dialogCtrl.searched" ng-change="dialogCtrl.filterUsers()" title="">
            </md-input-container>

            <div layout="row" layout-align="start center" ng-if="opt.task.caseTitle">

                <md-icon class="material-icons color-fg-primary-500 margin-right-12px">check_box</md-icon>

                <md-chips flex>
                    <md-chip>
                        <md-icon class="material-icons {{opt.task.caseColor}}">label</md-icon>
                        {{opt.task.caseTitle}}
                    </md-chip>
                    <md-chip>
                        {{opt.task.title}}
                    </md-chip>
                    <md-chip ng-if="opt.task.user">
                        <md-icon class="material-icons color-fg-primary-500">account_circle
                        </md-icon>
                        {{opt.task.user.name + " " + opt.task.user.surname}}
                    </md-chip>
                </md-chips>

            </div>

            <md-list class="assign-list">
                <md-list-item layout="row" layout-align="start center" class="md-2-line"
                              ng-repeat="user in users"
                              ng-click="dialogCtrl.selectedUser = user.id"
                              ng-class="getSelectedUserClass(user.id)">

                    <md-icon class="md-avatar" layout="row" layout-align="center center">
                        <i class="material-icons color-fg-primary-500">account_circle</i>
                    </md-icon>

                    <div layout="column" class="md-list-item-text">
                        <span>{{user.fullName}}</span>
                        <span>{{user.email}}</span>
                    </div>

                </md-list-item>
            </md-list>

        </div>

        <div layout="row" layout-align="center center" in-view="$inview && dialogCtrl.loadUsers(true)">
            <md-progress-circular md-mode="indeterminate" ng-disabled="!dialogCtrl.loading" class="progress-circular-stroke-primary-500" md-diameter="50"></md-progress-circular>
        </div>

    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="end center">

        <md-button class="md-primary" ng-click="assignTask()" ng-disabled="!dialogCtrl.selectedUser">
            {{::$root.$i18n.block.dialog.assignUser.assign}}
        </md-button>

    </md-dialog-actions>

</md-dialog>