<md-dialog aria-label="{{::$root.$i18n.block.dialog.saveFilter.title}}">
    <form ng-submit="parentCtrl.saveFilter()">

        <md-toolbar>
            <div layout="row" layout-align="space-between center" class="md-toolbar-tools">

                <h2>{{::$root.$i18n.block.dialog.saveFilter.title}}</h2>

                <md-button class="md-icon-button" ng-click="closeDialog()">
                    <md-icon class="material-icons">close</md-icon>
                </md-button>

            </div>
        </md-toolbar>

        <md-dialog-content>
            <div layout="column" class="md-dialog-content">

                <md-input-container>
                    <label>{{::$root.$i18n.block.dialog.saveFilter.name}}</label>
                    <input type="text" ng-model="parentCtrl.newFilter.name" required title="Filter name">
                </md-input-container>

                <md-input-container>
                    <label>{{::$root.$i18n.block.dialog.saveFilter.type.this}}</label>
                    <md-select ng-model="parentCtrl.newFilter.visibility" required>
                        <md-option value="0">{{::$root.$i18n.block.dialog.saveFilter.type.public}}</md-option>
                        <md-option value="1">{{::$root.$i18n.block.dialog.saveFilter.type.group}}</md-option>
                        <md-option value="2">{{::$root.$i18n.block.dialog.saveFilter.type.private}}</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container>
                    <label>Persist filter for roles</label>
                    <md-select ng-model="parentCtrl.newFilter.roles" multiple>
                        <md-option ng-repeat="role in opt.roles" ng-value="role.objectId">
                            {{role.name}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <div layout="column" layout-align="left" ng-if="parentCtrl.tabs[parentCtrl.activeTab].filter.processes.length != 0">
                    <label>{{::$root.$i18n.block.dialog.saveFilter.process}}</label>
                    <md-chips ng-model="parentCtrl.tabs[parentCtrl.activeTab].filter.processes" readonly="true" flex>
                        <md-chip-template>
                            {{$chip.title}}
                        </md-chip-template>
                    </md-chips>
                </div>

                <div layout="column" layout-align="left" ng-if="parentCtrl.tabs[parentCtrl.activeTab].filter.transitions.length != 0">
                    <label>{{::$root.$i18n.block.dialog.saveFilter.task}}</label>
                    <md-chips ng-model="parentCtrl.tabs[parentCtrl.activeTab].filter.transitions" readonly="true" flex>
                        <md-chip-template>
                            {{$chip.title}}
                        </md-chip-template>
                    </md-chips>
                </div>

            </div> <!-- ./column -->
        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="end center">

            <md-button type="submit">
                {{::$root.$i18n.block.btn.save}}
            </md-button>

        </md-dialog-actions>

    </form>
</md-dialog>