<md-dialog aria-label="Offer title">

    <form ng-submit="parentCtrl.createCase()">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{opt.title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="closeDialog()">
                    <md-icon class="material-icons">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" layout="column">

                <md-input-container>
                    <label>{{::$root.$i18n.block.dialog.createCase.process}}</label>
                    <md-select ng-model="parentCtrl.newCase.netId" required>
                        <md-option ng-repeat="net in parentCtrl.petriNetRefs" value="{{net.entityId}}">
                            {{net.title}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container>
                    <label>{{::$root.$i18n.block.dialog.createCase.title}}</label>
                    <input type="text" ng-model="parentCtrl.newCase.title" required>
                </md-input-container>

                <md-input-container>

                    <label>{{::$root.$i18n.block.dialog.createCase.color}}</label>

                    <md-select id="case-color-select" ng-model="parentCtrl.newCase.color" md-on-close="parentCtrl.clickElement('case-color-blur-assistant')" required>

                        <md-option value="color-fg-deep-purple-600" selected>
							<span class="color-fg-accent-900">
                                <md-icon class="material-icons color-fg-deep-purple-600">fiber_manual_record</md-icon>
                                Deep Purple
							</span>
                        </md-option>

                        <md-option value="color-fg-amber-500">
                            <span class="color-fg-accent-900">
                                <md-icon class="material-icons color-fg-amber-500">fiber_manual_record</md-icon>
                                Amber
                            </span>
                        </md-option>

                        <md-option value="color-fg-deep-orange-500">
							<span class="color-fg-accent-900">
                                <md-icon class="material-icons color-fg-deep-orange-500">fiber_manual_record</md-icon>
                                Deep Orange
							</span>
                        </md-option>

                        <md-option value="color-fg-brown-500">
							<span class="color-fg-accent-900">
                                <md-icon class="material-icons color-fg-brown-500">fiber_manual_record</md-icon>
                                Brown
							</span>
                        </md-option>

                    </md-select>

                </md-input-container>

            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="end center">

            <md-button type="submit">
                {{::$root.$i18n.block.dialog.createCase.submit}}
            </md-button>

        </md-dialog-actions>

    </form>

</md-dialog>
