<md-dialog aria-label="{{::$root.$i18n.block.dialog.uploadModel.title}}">
    <form name="petriNetUploadForm" ng-submit="parentCtrl.uploadPetriNet()">

        <md-toolbar>
            <div layout="row" layout-align="space-between center" class="md-toolbar-tools">

                <h2>{{::$root.$i18n.block.dialog.uploadModel.title}}</h2>

                <md-button class="md-icon-button" ng-click="closeDialog()">
                    <md-icon class="material-icons">close</md-icon>
                </md-button>

            </div>
        </md-toolbar>

        <md-dialog-content>
            <div layout="column" class="md-dialog-content">

                <div layout="row" layout-align="start center">

                    <md-button layout="row" layout-align="start center" class="file-chooser">

                        <input type="file" id="file"
                               file-model="parentCtrl.netFile"
                               file-change-callback="parentCtrl.netFileChanged"
                               file-change-arg="parentCtrl.netFile">

                        <label for="file" layout="row" layout-align="start center">
                            <i class="material-icons">attach_file</i>
                            <span>{{parentCtrl.netFile ? parentCtrl.netFileName : $root.$i18n.block.dialog.uploadModel.attachModel}}</span>
                        </label>

                    </md-button>

                    <span flex></span>

                    <div layout="row" layout-align="start center" class="cursor-pointer">
                        <md-tooltip md-direction="bottom">{{::$root.$i18n.block.dialog.uploadModel.attachModelHelp}}</md-tooltip>
                        <i class="material-icons">help</i>
                    </div>

                </div>

                <md-input-container>
                    <label>{{::$root.$i18n.block.dialog.uploadModel.name}}</label>
                    <input type="text" ng-model="parentCtrl.petriNetMeta.name" required>
                </md-input-container>

                <md-input-container>
                    <label>{{::$root.$i18n.block.dialog.uploadModel.key}}</label>
                    <input md-maxlength="3" type="text" name="initials" ng-model="parentCtrl.petriNetMeta.initials" required>
                    <div ng-messages="petriNetUploadForm.initials.$error">
                        <div ng-message="md-maxlength">{{::$root.$i18n.block.dialog.uploadModel.maxchars}}</div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label>{{::$root.$i18n.block.dialog.uploadModel.identifier}}</label>
                    <input type="text" ng-model="parentCtrl.petriNetMeta.identifier" required>
                </md-input-container>

                <md-input-container>
                    <label>{{::$root.$i18n.block.dialog.uploadModel.release.this}}</label>
                    <md-select ng-model="parentCtrl.petriNetMeta.releaseType">
                        <md-option value="major">
                            {{::$root.$i18n.block.dialog.uploadModel.release.type.major}}
                        </md-option>
                        <md-option value="minor">
                            {{::$root.$i18n.block.dialog.uploadModel.release.type.minor}}
                        </md-option>
                        <md-option value="patch">
                            {{::$root.$i18n.block.dialog.uploadModel.release.type.patch}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <div ng-if="parentCtrl.uploadProgress !== 0" flex class="margin-top-default">
                    <md-progress-linear md-mode="determinate" value="{{parentCtrl.uploadProgress}}"></md-progress-linear>
                </div>

            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="end center">

            <md-button type="submit">
                {{::$root.$i18n.block.dialog.uploadModel.submit}}
            </md-button>

        </md-dialog-actions>

    </form>
</md-dialog>
