<md-dialog aria-label="Dialog title">

    <form ng-submit="parentCtrl.createCase()">

        <md-toolbar>
            <div layout="row" layout-align="space-between center" class="md-toolbar-tools">

                <h2>{{opt.title}}</h2>

                <md-button class="md-icon-button" ng-click="closeDialog()">
                    <md-icon class="material-icons">close</md-icon>
                </md-button>

            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" layout="column">

                <md-input-container ng-if="parentCtrl.allowedNets.length > 1 || parentCtrl.allowedNets.length === 0">
                    <label>{{::$root.$i18n.block.dialog.createCase.process}}</label>
                    <md-select ng-model="parentCtrl.newCase.netId" ng-change="parentCtrl.changeNewCaseTitle()" required>
                        <md-option ng-repeat="net in parentCtrl.allowedNets" value="{{net.id}}">
                            {{net.title}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="on-open-auto-focus">
                    <label>{{::$root.$i18n.block.dialog.createCase.title}}</label>
                    <input type="text" ng-model="parentCtrl.newCase.title" required title="">
                </md-input-container>

                <md-input-container>

                    <label>{{::$root.$i18n.block.dialog.createCase.color}}</label>

                    <md-select id="case-color-select" ng-model="parentCtrl.newCase.color" required>

                        <md-option value="color-fg-deep-purple-600" selected>
							<span class="color-fg-accent-900">
                                <md-icon class="material-icons color-fg-deep-purple-600">fiber_manual_record</md-icon>
                                {{::$root.$i18n.block.dialog.createCase.purple}}
							</span>
                        </md-option>

                        <md-option value="color-fg-amber-500">
                            <span class="color-fg-accent-900">
                                <md-icon class="material-icons color-fg-amber-500">fiber_manual_record</md-icon>
                                {{::$root.$i18n.block.dialog.createCase.yellow}}
                            </span>
                        </md-option>

                        <md-option value="color-fg-deep-orange-500">
							<span class="color-fg-accent-900">
                                <md-icon class="material-icons color-fg-deep-orange-500">fiber_manual_record</md-icon>
                                {{::$root.$i18n.block.dialog.createCase.orange}}
							</span>
                        </md-option>

                        <md-option value="color-fg-brown-500">
							<span class="color-fg-accent-900">
                                <md-icon class="material-icons color-fg-brown-500">fiber_manual_record</md-icon>
                                {{::$root.$i18n.block.dialog.createCase.brown}}
							</span>
                        </md-option>

                    </md-select>

                </md-input-container>

            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="end center">

            <md-button type="submit" ng-disabled="parentCtrl.allowedNets.length > 1 && !parentCtrl.newCase.netId">
                {{::$root.$i18n.block.dialog.createCase.submit}}
            </md-button>

        </md-dialog-actions>

    </form>

</md-dialog>
