target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Work folder ###
_issues/
/prepros.cfg
/styles/scss/prepros.cfg
/views/test.html
/styles/dark-blue/scss/prepros-6.config
/prepros-6.config
