.color-fg-success {
  color: #4CAF50;
}

.color-fg-warning {
  color: #FFC107;
}

.color-fg-error {
  color: #F44336;
}

.color-fg-transparent {
  color: transparent;
}

.color-fg-teal-500 {
  color: #009688;
}

.color-fg-light-blue-A700 {
  color: #0091EA;
}

.color-fg-deep-purple-600 {
  color: #5E35B1;
}

.color-fg-amber-500 {
  color: #FFC107;
}

.color-fg-deep-orange-500 {
  color: #FF5722;
}

.color-fg-brown-500 {
  color: #795548;
}

.color-fg-blue-grey-50 {
  color: #ECEFF1;
}

.color-fg-blue-grey-300 {
  color: #90A4AE;
}

.color-fg-blue-grey-500 {
  color: #607D8B;
}

.color-fg-black-op-20 {
  color: rgba(0, 0, 0, 0.2);
}

.color-fg-black-op-30 {
  color: rgba(0, 0, 0, 0.3);
}

.color-fg-black-op-40 {
  color: rgba(0, 0, 0, 0.4);
}

.color-fg-black-op-50 {
  color: rgba(0, 0, 0, 0.5);
}

.color-fg-black-op-60 {
  color: rgba(0, 0, 0, 0.6);
}

.color-fg-black-op-87 {
  color: rgba(0, 0, 0, 0.87) !important;
}

.color-fg-primary-op-30 {
  color: rgba(0, 150, 136, 0.3);
}

.color-fg-primary-op-40 {
  color: rgba(0, 150, 136, 0.4);
}

.color-fg-primary-op-50 {
  color: rgba(0, 150, 136, 0.5);
}

.color-fg-primary-op-60 {
  color: rgba(0, 150, 136, 0.6);
}

.color-fg-primary-op-87 {
  color: rgba(0, 150, 136, 0.87) !important;
}

.color-fg-primary-50 {
  color: #E0F2F1;
}

.color-fg-primary-100 {
  color: #80CBC4;
}

.color-fg-primary-200 {
  color: #4DB6AC;
}

.color-fg-primary-300 {
  color: #B2DFDB;
}

.color-fg-primary-400 {
  color: #26A69A;
}

.color-fg-primary-500 {
  color: #009688;
}

.color-fg-primary-600 {
  color: #00897B;
}

.color-fg-primary-700 {
  color: #00796B;
}

.color-fg-primary-800 {
  color: #00695C;
}

.color-fg-primary-900 {
  color: #004D40;
}

.color-fg-primary-A100 {
  color: #A7FFEB;
}

.color-fg-primary-A200 {
  color: #64FFDA;
}

.color-fg-primary-A400 {
  color: #1DE9B6;
}

.color-fg-primary-A700 {
  color: #00BFA5;
}

.color-fg-accent-50 {
  color: #FAFAFA !important;
}

.color-fg-accent-100 {
  color: #F5F5F5;
}

.color-fg-accent-200 {
  color: #EEEEEE;
}

.color-fg-accent-300 {
  color: #E0E0E0;
}

.color-fg-accent-400 {
  color: #BDBDBD;
}

.color-fg-accent-500 {
  color: #9E9E9E;
}

.color-fg-accent-600 {
  color: #757575;
}

.color-fg-accent-700 {
  color: #616161;
}

.color-fg-accent-800 {
  color: #424242;
}

.color-fg-accent-900 {
  color: #212121;
}

.color-bg-success {
  background-color: #4CAF50;
}

.color-bg-warning {
  background-color: #FFC107;
}

.color-bg-error {
  background-color: #F44336;
}

.color-bg-transparent {
  background-color: transparent;
}

.color-bg-teal-500 {
  background-color: #009688;
}

.color-bg-light-blue-A700 {
  background-color: #0091EA;
}

.color-bg-deep-purple-600 {
  background-color: #5E35B1;
}

.color-bg-amber-500 {
  background-color: #FFC107;
}

.color-bg-deep-orange-500 {
  background-color: #FF5722;
}

.color-bg-brown {
  background-color: #795548;
}

.color-bg-blue-grey-50 {
  background-color: #ECEFF1;
}

.color-bg-blue-grey-300 {
  background-color: #90A4AE;
}

.color-bg-blue-grey-500 {
  background-color: #607D8B;
}

.color-bg-black-op-20 {
  background-color: rgba(0, 0, 0, 0.2);
}

.color-bg-black-op-30 {
  background-color: rgba(0, 0, 0, 0.3);
}

.color-bg-black-op-40 {
  background-color: rgba(0, 0, 0, 0.4);
}

.color-bg-black-op-50 {
  background-color: rgba(0, 0, 0, 0.5);
}

.color-bg-black-op-60 {
  background-color: rgba(0, 0, 0, 0.6);
}

.color-bg-black-op-87 {
  background-color: rgba(0, 0, 0, 0.87) !important;
}

.color-bg-primary-op-30 {
  background-color: rgba(0, 150, 136, 0.3);
}

.color-bg-primary-op-40 {
  background-color: rgba(0, 150, 136, 0.4);
}

.color-bg-primary-op-50 {
  background-color: rgba(0, 150, 136, 0.5);
}

.color-bg-primary-op-60 {
  background-color: rgba(0, 150, 136, 0.6);
}

.color-bg-primary-op-87 {
  background-color: rgba(0, 150, 136, 0.87) !important;
}

.color-bg-primary-50 {
  background-color: #E0F2F1;
}

.color-bg-primary-100 {
  background-color: #80CBC4;
}

.color-bg-primary-200 {
  background-color: #4DB6AC;
}

.color-bg-primary-300 {
  background-color: #B2DFDB;
}

.color-bg-primary-400 {
  background-color: #26A69A;
}

.color-bg-primary-500 {
  background-color: #009688 !important;
}

.color-bg-primary-600 {
  background-color: #00897B;
}

.color-bg-primary-700 {
  background-color: #00796B;
}

.color-bg-primary-800 {
  background-color: #00695C;
}

.color-bg-primary-900 {
  background-color: #004D40;
}

.color-bg-primary-A100 {
  background-color: #A7FFEB;
}

.color-bg-primary-A200 {
  background-color: #64FFDA;
}

.color-bg-primary-A400 {
  background-color: #1DE9B6;
}

.color-bg-primary-A700 {
  background-color: #00BFA5;
}

.color-bg-accent-50 {
  background-color: #FAFAFA;
}

.color-bg-accent-100 {
  background-color: #F5F5F5;
}

.color-bg-accent-200 {
  background-color: #EEEEEE;
}

.color-bg-accent-300 {
  background-color: #E0E0E0;
}

.color-bg-accent-400 {
  background-color: #BDBDBD;
}

.color-bg-accent-500 {
  background-color: #9E9E9E;
}

.color-bg-accent-600 {
  background-color: #757575;
}

.color-bg-accent-700 {
  background-color: #616161;
}

.color-bg-accent-800 {
  background-color: #424242;
}

.color-bg-accent-900 {
  background-color: #212121;
}

.color-border-transparent {
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
}

.color-border-primary-op-30 {
  border-top-color: rgba(0, 150, 136, 0.3) !important;
  border-bottom-color: rgba(0, 150, 136, 0.3) !important;
  border-left-color: rgba(0, 150, 136, 0.3) !important;
  border-right-color: rgba(0, 150, 136, 0.3) !important;
}

.color-border-primary-op-40 {
  border-top-color: rgba(0, 150, 136, 0.4) !important;
  border-bottom-color: rgba(0, 150, 136, 0.4) !important;
  border-left-color: rgba(0, 150, 136, 0.4) !important;
  border-right-color: rgba(0, 150, 136, 0.4) !important;
}

.color-border-primary-op-50 {
  border-top-color: rgba(0, 150, 136, 0.5) !important;
  border-bottom-color: rgba(0, 150, 136, 0.5) !important;
  border-left-color: rgba(0, 150, 136, 0.5) !important;
  border-right-color: rgba(0, 150, 136, 0.5) !important;
}

.color-border-primary-op-60 {
  border-top-color: rgba(0, 150, 136, 0.6) !important;
  border-bottom-color: rgba(0, 150, 136, 0.6) !important;
  border-left-color: rgba(0, 150, 136, 0.6) !important;
  border-right-color: rgba(0, 150, 136, 0.6) !important;
}

.color-border-primary-op-87 {
  border-top-color: rgba(0, 150, 136, 0.87) !important;
  border-bottom-color: rgba(0, 150, 136, 0.87) !important;
  border-left-color: rgba(0, 150, 136, 0.87) !important;
  border-right-color: rgba(0, 150, 136, 0.87) !important;
}

.height-52px {
  height: 52px;
}

.height-56px {
  height: 56px;
}

.min-height-0 {
  min-height: 0 !important;
}

.max-height-0 {
  max-height: 0 !important;
}

.margin-0 {
  margin: 0 !important;
}

.margin-default {
  margin: 8px;
}

.margin-2x {
  margin: 16px;
}

.margin-vertical-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.margin-vertical-default {
  margin-top: 8px;
  margin-bottom: 8px;
}

.margin-vertical-2x {
  margin-top: 16px;
  margin-bottom: 16px;
}

.margin-horizontal-0 {
  margin-left: 0;
  margin-right: 0;
}

.margin-horizontal-default {
  margin-left: 8px;
  margin-right: 8px;
}

.margin-horizontal-2x {
  margin-left: 16px;
  margin-right: 16px;
}

.margin-top-0 {
  margin-top: 0;
}

.margin-top-default {
  margin-top: 8px;
}

.margin-top-2x {
  margin-top: 16px;
}

.margin-bottom-negative-15px {
  margin-bottom: -15px;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.margin-bottom-default {
  margin-bottom: 8px;
}

.margin-bottom-2x {
  margin-bottom: 16px;
}

.margin-left-0 {
  margin-left: 0;
}

.margin-left-default {
  margin-left: 8px;
}

.margin-left-2x {
  margin-left: 16px;
}

.margin-right-0 {
  margin-right: 0;
}

.margin-right-default {
  margin-right: 8px;
}

.margin-right-2x {
  margin-right: 16px;
}

.padding-0 {
  padding: 0 !important;
}

.padding-default {
  padding: 8px;
}

.padding-2x {
  padding: 16px;
}

.padding-vertical-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.padding-vertical-default {
  padding-top: 8px;
  padding-bottom: 8px;
}

.padding-vertical-2x {
  padding-top: 16px;
  padding-bottom: 16px;
}

.padding-horizontal-0 {
  padding-left: 0;
  padding-right: 0;
}

.padding-horizontal-default {
  padding-left: 8px;
  padding-right: 8px;
}

.padding-horizontal-2x {
  padding-left: 16px;
  padding-right: 16px;
}

.padding-top-0 {
  padding-top: 0 !important;
}

.padding-top-default {
  padding-top: 8px;
}

.padding-top-2x {
  padding-top: 16px;
}

.padding-bottom-0 {
  padding-bottom: 0;
}

.padding-bottom-default {
  padding-bottom: 8px;
}

.padding-bottom-2x {
  padding-bottom: 16px;
}

.padding-left-0 {
  padding-left: 0;
}

.padding-left-default {
  padding-left: 8px;
}

.padding-left-2x {
  padding-left: 16px;
}

.padding-right-0 {
  padding-right: 0;
}

.padding-right-default {
  padding-right: 8px;
}

.padding-right-2x {
  padding-right: 16px;
}

.padding-right-66px {
  padding-right: 66px;
}

.border-width-default {
  border-width: 8px !important;
}

.border-width-2x {
  border-width: 16px !important;
}

.border-radius-default {
  border-radius: 2px !important;
}

.shadow {
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-visible {
  overflow: visible;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.overflow-x-visible {
  overflow-x: visible;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.overflow-y-visible {
  overflow-y: visible;
}

.cursor-default {
  cursor: default;
}

.cursor-pointer {
  cursor: pointer;
}

.visibility-visible {
  visibility: visible;
}

.visibility-hidden {
  visibility: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 150, 136, 0.5);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.3);
}

body {
  scrollbar-face-color: rgba(0, 150, 136, 0.5);
  scrollbar-track-color: rgba(0, 0, 0, 0.3);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.position-fixed {
  position: fixed !important;
}

.layout-rh-100 {
  height: 100%;
}

.layout-rh-100-min-400 {
  height: auto;
}

.layout-rh-100-min-550 {
  height: auto;
}

.layout-rw-100 {
  width: 100%;
}

.layout-sh-300 {
  height: 300px;
}

.layout-sw-300 {
  width: 300px;
}

@media all and (max-width: 599px) {
  .layout-xs-rw-100 {
    width: 100%;
  }
}

@media all and (min-width: 600px) and (max-width: 959px) {
  .layout-sm-rw-100 {
    width: 100%;
  }
}

@media all and (min-width: 960px) and (max-width: 1279px) {
  .layout-md-rw-100 {
    width: 100%;
  }
}

@media all and (min-width: 1280px) and (max-width: 1919px) {
  .layout-lg-rw-100 {
    width: 100%;
  }
}

@media all and (min-width: 1920px) {
  .layout-xl-rw-100 {
    width: 100%;
  }
}

@media all and (min-width: 600px) {
  .layout-gt-xs-rw-100 {
    width: 100%;
  }
}

@media all and (min-width: 960px) {
  .layout-gt-sm-rw-100 {
    width: 100%;
  }
}

@media all and (min-width: 1280px) {
  .layout-gt-md-rw-100 {
    width: 100%;
  }
}

@media all and (min-width: 1920px) {
  .layout-gt-lg-rw-100 {
    width: 100%;
  }
}

@media all and (min-height: 400px) {
  .layout-rh-100-min-400 {
    height: 100%;
  }
}

@media all and (min-height: 550px) {
  .layout-rh-100-min-550 {
    height: 100%;
  }
}

h1 {
  font-size: 32px;
  font-weight: 300;
  color: #FAFAFA;
}

h1 strong {
  font-weight: 700;
  color: #009688;
}

h2 {
  margin: 0;
  font-size: 32px;
  font-weight: 300;
  color: #FAFAFA;
}

h2 strong {
  font-weight: 600;
  color: #009688;
}

span strong {
  font-weight: 600;
  color: #009688;
}

span.active {
  font-weight: 600;
  color: #009688;
}

.text-overflow-dots {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.text-no-decor {
  text-decoration: none;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-15 {
  font-size: 15px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-22 {
  font-size: 22px;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.logo {
  height: 40px;
  width: auto;
}

@media all and (max-width: 599px) {
  .logo {
    height: 40px;
    width: 36px;
  }
}

@media all and (min-width: 600px) and (max-width: 959px) {
  .logo {
    height: 40px;
    width: 36px;
  }
}

@-webkit-keyframes spinner-right {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner-right {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spinner-left {
  to {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@keyframes spinner-left {
  to {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

.spinner:before {
  content: 'Loading';
  position: absolute;
  top: 50%;
  left: 50%;
}

.spinner:not(:required):before {
  content: '';
  border-radius: 50%;
  border-style: solid;
  border-color: transparent;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.orbit-1 {
  height: 20px;
  width: 20px;
}

.orbit-1:before {
  height: 20px;
  width: 20px;
  margin-top: -10px;
  margin-left: -10px;
}

.orbit-1:not(:required):before {
  border-width: 5px;
  border-top-color: #424242;
  -webkit-animation-name: spinner-left;
  animation-name: spinner-left;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
}

.orbit-2 {
  height: 40px;
  width: 40px;
}

.orbit-2:before {
  height: 40px;
  width: 40px;
  margin-top: -20px;
  margin-left: -20px;
}

.orbit-2:not(:required):before {
  border-width: 6px;
  border-top-color: #212121;
  -webkit-animation-name: spinner-right;
  animation-name: spinner-right;
  -webkit-animation-duration: 0.9s;
  animation-duration: 0.9s;
}

.orbit-3 {
  height: 60px;
  width: 60px;
}

.orbit-3:before {
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
}

.orbit-3:not(:required):before {
  border-width: 5px;
  border-top-color: #424242;
  -webkit-animation-name: spinner-left;
  animation-name: spinner-left;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
}

.orbit-4 {
  height: 80px;
  width: 80px;
}

.orbit-4:before {
  height: 80px;
  width: 80px;
  margin-top: -40px;
  margin-left: -40px;
}

.orbit-4:not(:required):before {
  border-width: 6px;
  border-top-color: #212121;
  -webkit-animation-name: spinner-left;
  animation-name: spinner-left;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.click-area {
  height: 100%;
  width: 100%;
}

md-expansion-panel {
  cursor: pointer !important;
}

md-expansion-panel md-expansion-panel-expanded .md-expansion-panel-header-container:hover,
md-expansion-panel md-expansion-panel-collapsed:hover, md-expansion-panel md-expansion-panel .md-expansion-panel-header-container:hover {
  background: #009688 !important;
}

md-expansion-panel md-expansion-panel-expanded .md-expansion-panel-header-container:hover span,
md-expansion-panel md-expansion-panel-collapsed:hover span, md-expansion-panel md-expansion-panel .md-expansion-panel-header-container:hover span {
  color: #FAFAFA;
}

md-expansion-panel md-expansion-panel-expanded .md-expansion-panel-header-container:hover md-progress-circular path,
md-expansion-panel md-expansion-panel-collapsed:hover md-progress-circular path, md-expansion-panel md-expansion-panel .md-expansion-panel-header-container:hover md-progress-circular path {
  stroke: #FAFAFA !important;
}

md-expansion-panel.highlight md-expansion-panel-expanded .md-expansion-panel-header-container,
md-expansion-panel.highlight md-expansion-panel-collapsed, md-expansion-panel.highlight md-expansion-panel .md-expansion-panel-header-container {
  background: #0091EA !important;
}

md-expansion-panel.highlight md-expansion-panel-expanded .md-expansion-panel-header-container:hover,
md-expansion-panel.highlight md-expansion-panel-collapsed:hover, md-expansion-panel.highlight md-expansion-panel .md-expansion-panel-header-container:hover {
  background: #009688 !important;
}

md-expansion-panel.highlight md-expansion-panel-expanded .md-expansion-panel-header-container:hover span,
md-expansion-panel.highlight md-expansion-panel-collapsed:hover span, md-expansion-panel.highlight md-expansion-panel .md-expansion-panel-header-container:hover span {
  color: #FAFAFA;
}

md-expansion-panel.highlight md-progress-circular path {
  stroke: #FAFAFA !important;
}

md-expansion-panel md-expansion-panel-collapsed:hover, md-expansion-panel .md-expansion-panel-header-container:hover {
  background: #009688 !important;
}

md-expansion-panel md-expansion-panel-collapsed:hover span, md-expansion-panel .md-expansion-panel-header-container:hover span {
  color: #FAFAFA;
}

md-expansion-panel-collapsed {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

md-expansion-panel-content {
  padding-left: 16px !important;
  padding-right: 16px !important;
  color: #E0F2F1;
}

md-expansion-panel-header .md-expansion-panel-header-container {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

md-expansion-panel .md-expansion-panel-footer-container {
  top: auto !important;
}

.base .background-default {
  background: url("../../assets/netgrif_background.png") no-repeat center center fixed;
  background-size: cover;
}

.base .background-header, .base .background-header-default, .base .background-header-tabs {
  position: absolute;
  width: 100%;
}

.base .background-header-default {
  height: 100%;
  top: 0;
}

.base .background-header-tabs {
  height: calc(100% - 48px);
  top: 48px;
}

.base .card, .base .card-header, .base .card-case {
  margin: 0;
}

.base .card md-card-content, .base .card-header md-card-content, .base .card-case md-card-content {
  padding-left: 0;
  padding-right: 0;
}

.base .card a, .base .card-header a, .base .card-case a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.base .card-login {
  min-height: 400px;
  width: 600px;
}

.base .card-login img {
  max-height: 150px;
  width: auto;
}

.base .card-login a {
  text-decoration: none;
}

.base .card-login a:hover {
  text-decoration: underline;
}

.base .card-signup {
  width: 600px;
  min-height: 600px;
}

.base .card-signup img {
  max-height: 150px;
  width: auto;
}

.base .card-header {
  margin-bottom: 16px;
}

.base .card-case {
  height: 56px;
  cursor: pointer;
}

.base .card-case:hover {
  background-color: #009688;
}

.base .card-case:hover span, .base .card-case:hover md-icon {
  color: #FAFAFA;
}

@media all and (max-width: 599px) {
  .base .card-login, .base .card-signup {
    height: 100%;
    width: 100%;
    margin: 0;
  }
  .base .card-login img, .base .card-signup img {
    max-height: 80px;
  }
}

@media all and (min-width: 960px) {
  .base .card-logo {
    width: 190px;
  }
}

.base .sidenav {
  width: 180px;
  background-color: #1a2b2b;
}

.base .sidenav .md-button {
  height: 36px;
  width: 100%;
  text-transform: none;
  color: white;
  font-size: 17px;
  margin: 0;
  padding: 8px 16px;
  border-radius: 0;
}

.base .sidenav .md-button:first-child {
  margin-top: 48px;
}

.base .sidenav .md-button i {
  margin-right: 8px;
}

.base .sidenav .md-button:hover {
  background-color: #009688;
}

.base .sidenav .md-button.active {
  background-color: #EEEEEE;
  color: #009688;
}

.base .sidenav .md-button.active:hover {
  background-color: #009688;
  color: white;
}

.base .toolbar {
  height: 56px;
  min-height: 56px;
  background-color: #37474F;
}

.base .toolbar-logo {
  height: 100%;
}

.base .toolbar-logo img {
  height: 100%;
  width: auto;
}

.base .toolbar-menu .btn-menu {
  height: 100%;
  margin: 0;
  color: #FAFAFA;
  font-size: 20px;
  text-transform: none;
}

.base .toolbar-menu .btn-menu .material-icons {
  font-size: 40px;
  color: #009688;
  margin-left: 16px;
}

.base .toolbar-menu .md-menu .md-button, .base .toolbar-menu .md-menu a {
  height: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 20px;
  color: white;
  text-transform: none;
}

.base .toolbar-menu .md-menu .md-button .material-icons, .base .toolbar-menu .md-menu a .material-icons {
  font-size: 48px;
  margin-left: 15px;
  color: #009688;
}

.base .toolbar-submenu {
  padding: 0 !important;
}

.base .toolbar-submenu .btn-menu > .material-icons {
  margin-right: 14px !important;
  margin-bottom: 1.5px !important;
}

.base .toolbar-submenu .btn-menu > span {
  float: none !important;
  text-transform: capitalize !important;
  font-weight: normal !important;
}

.base .toolbar md-menu-bar.md-default-theme md-menu.md-open > button, .base .toolbar md-menu-bar md-menu.md-open > button, .base .toolbar md-menu-bar.md-default-theme md-menu > button:focus, .base .toolbar md-menu-bar md-menu > button:focus {
  background: rgba(238, 238, 238, 0.1) !important;
}

.base .list-header {
  height: 48px;
}

.base .list-item {
  height: 48px;
}

.base .list-item-selected {
  background-color: #009688 !important;
}

.base .list-item-selected .material-icons {
  color: #FAFAFA !important;
}

.base .list-item-selected:hover .material-icons {
  color: #009688 !important;
}

.base .list-item:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.base .list-item-no-pointer:hover {
  cursor: default;
  background: rgba(0, 0, 0, 0.5) !important;
}

.base .list-item .md-button.md-default-theme:not([disabled]):hover, .base .list-item .md-button:not([disabled]):hover {
  background-color: transparent !important;
}

.base md-menu span, .base md-menu-item span {
  color: rgba(0, 0, 0, 0.87) !important;
  font-weight: normal !important;
}

.base .data-item md-input-container .md-errors-spacer {
  min-height: 0 !important;
}

.base .data-item md-icon {
  color: #FAFAFA;
}

.base .data-field-title {
  font-size: 18px;
  font-weight: 400;
}

.base .file-chooser {
  margin: 0;
  padding: 0;
}

.base .file-chooser input {
  position: absolute;
  height: 0.1px;
  width: 0.1px;
  opacity: 0;
  overflow: hidden;
  z-index: -1;
}

.base .file-chooser-avatar .avatar-icon {
  font-size: 220px;
}

.base .file-chooser-avatar input {
  position: absolute;
  height: 0.1px;
  width: 0.1px;
  opacity: 0;
  overflow: hidden;
  z-index: -1;
}

.base .file-chooser-avatar label {
  display: none;
  position: absolute;
}

.base .file-chooser-avatar label .material-icons {
  font-size: 100px;
}

.base .file-chooser-avatar label .material-icons:hover {
  cursor: pointer;
}

.base .file-chooser-avatar:hover label {
  display: block;
}

.base md-dialog md-expansion-panel-group span {
  color: #FAFAFA !important;
}

.base .assign-list md-list-item .md-avatar {
  margin-top: 14px !important;
  margin-bottom: 14px !important;
}

.base .assign-list md-list-item.selected-tile button {
  background-color: #009688;
  z-index: -1;
}

.base .assign-list md-list-item.selected-tile .md-avatar .material-icons {
  color: white !important;
}

.base .assign-list md-list-item.selected-tile .md-list-item-text p {
  color: white !important;
}

.base .line-3px {
  height: 3px;
}

.base .transaction {
  display: block;
  font-size: 18px;
}

@media all and (max-width: 599px) {
  .base .transaction.active {
    display: block;
  }
  .base .transaction:not(active) {
    display: none;
  }
}

.base md-progress-circular.progress-circular-stroke-primary-500 path {
  stroke: #009688;
}

.base md-progress-circular.progress-circular-stroke-accent-50 path {
  stroke: #FAFAFA;
}

.base .divider {
  border-bottom: 1px solid #E1E1E1;
}
