body {
  min-height: 100%;
}

.layout-vh-100 {
  height: 100vh;
}

html, body {
  padding: 0;
  margin: 0;
}

div.loading-container {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: #1E6CC7;
}

div.loading-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.base .card-welcome {
  min-height: 300px;
  width: 600px;
}

.base .card-welcome img {
  max-height: 150px;
  max-width: auto;
}

.base .card-welcome a {
  text-decoration: none;
}

.base .card-welcome a:hover {
  text-decoration: underline;
}

.base .background-welcome {
  background-image: url(../../../assets/welcome_background.jpg);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.base .main-toolbar {
  height: 80px;
  background-color: #EEEEEE;
}

.base .main-toolbar .md-toolbar-tools a {
  height: 70px;
  padding: 0;
}

.base .main-toolbar .md-toolbar-tools a .toolbar-logo {
  height: 70px;
  width: auto;
}

.base .main-toolbar .md-toolbar-tools a .toolbar-avatar {
  width: 70px;
  height: 70px;
}

.base .main-sidenav {
  width: 200px;
  background-color: #424242;
}

.base .main-sidenav a {
  width: 100%;
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 5px 10px;
}

.base .main-sidenav a:hover {
  background-color: #98002b;
}

.base .main-sidenav a:first-child {
  margin-top: 30px;
}

.base .main-sidenav a i {
  margin-right: 10px;
}
