.color-fg-success {
  color: #4CAF50 !important;
}

.color-fg-warning {
  color: #FFC107 !important;
}

.color-fg-error {
  color: #F44336 !important;
}

.color-fg-primary-50 {
  color: #E0F2F1;
}

.color-fg-primary-100 {
  color: #80CBC4;
}

.color-fg-primary-200 {
  color: #4DB6AC;
}

.color-fg-primary-300 {
  color: #B2DFDB;
}

.color-fg-primary-400 {
  color: #26A69A;
}

.color-fg-primary-500 {
  color: #009688;
}

.color-fg-primary-600 {
  color: #00897B;
}

.color-fg-primary-700 {
  color: #00796B;
}

.color-fg-primary-800 {
  color: #00695C;
}

.color-fg-primary-900 {
  color: #004D40;
}

.color-fg-primary-A100 {
  color: #A7FFEB;
}

.color-fg-primary-A200 {
  color: #64FFDA;
}

.color-fg-primary-A400 {
  color: #1DE9B6;
}

.color-fg-primary-A700 {
  color: #00BFA5;
}

.color-fg-grey-50 {
  color: #FAFAFA;
}

.color-fg-grey-100 {
  color: #F5F5F5;
}

.color-fg-grey-200 {
  color: #EEEEEE;
}

.color-fg-grey-300 {
  color: #E0E0E0;
}

.color-fg-grey-400 {
  color: #BDBDBD;
}

.color-fg-grey-500 {
  color: #9E9E9E;
}

.color-fg-grey-600 {
  color: #757575;
}

.color-fg-grey-700 {
  color: #616161;
}

.color-fg-grey-800 {
  color: #424242;
}

.color-fg-grey-900 {
  color: #212121;
}

.color-fg-blue-grey-50 {
  color: #ECEFF1;
}

.color-fg-blue-grey-300 {
  color: #90A4AE;
}

.color-fg-blue-grey-500 {
  color: #607D8B;
}

.color-fg-amber-500 {
  color: #FFC107;
}

.color-fg-green-500 {
  color: #4CAF50;
}

.color-fg-red-500 {
  color: #F44336;
}

.color-fg-indigo-500 {
  color: #3F51B5;
}

.color-fg-teal-500 {
  color: #009688;
}

.color-fg-deep-purple-500 {
  color: #673ab7;
}

.color-fg-brown-500 {
  color: #795548;
}

.color-fg-deep-orange-500 {
  color: #ff5722;
}

.color-fg-lime-500 {
  color: #cddc39;
}

.color-fg-material-grey-text {
  color: rgba(0, 0, 0, 0.38);
}

.color-fg-grey-light {
  color: rgba(0, 0, 0, 0.38);
}

.color-bg-success {
  background-color: #4CAF50 !important;
}

.color-bg-warning {
  background-color: #FFC107 !important;
}

.color-bg-error {
  background-color: #F44336 !important;
}

.color-bg-primary-50 {
  background-color: #E0F2F1;
}

.color-bg-primary-100 {
  background-color: #80CBC4;
}

.color-bg-primary-200 {
  background-color: #4DB6AC;
}

.color-bg-primary-300 {
  background-color: #B2DFDB;
}

.color-bg-primary-400 {
  background-color: #26A69A;
}

.color-bg-primary-500 {
  background-color: #009688;
}

.color-bg-primary-600 {
  background-color: #00897B;
}

.color-bg-primary-700 {
  background-color: #00796B;
}

.color-bg-primary-800 {
  background-color: #00695C;
}

.color-bg-primary-900 {
  background-color: #004D40;
}

.color-bg-primary-A100 {
  background-color: #A7FFEB;
}

.color-bg-primary-A200 {
  background-color: #64FFDA;
}

.color-bg-primary-A400 {
  background-color: #1DE9B6;
}

.color-bg-primary-A700 {
  background-color: #00BFA5;
}

.color-bg-grey-50 {
  background-color: #FAFAFA;
}

.color-bg-grey-100 {
  background-color: #F5F5F5;
}

.color-bg-grey-200 {
  background-color: #EEEEEE;
}

.color-bg-grey-300 {
  background-color: #E0E0E0;
}

.color-bg-grey-400 {
  background-color: #BDBDBD;
}

.color-bg-grey-500 {
  background-color: #9E9E9E;
}

.color-bg-grey-600 {
  background-color: #757575;
}

.color-bg-grey-700 {
  background-color: #616161;
}

.color-bg-grey-800 {
  background-color: #424242;
}

.color-bg-grey-900 {
  background-color: #212121;
}

.color-bg-blue-grey-50 {
  background-color: #ECEFF1;
}

.color-bg-blue-grey-300 {
  background-color: #90A4AE;
}

.color-bg-blue-grey-500 {
  background-color: #607D8B;
}

.color-bg-amber-500 {
  background-color: #FFC107;
}

.color-bg-green-500 {
  background-color: #4CAF50;
}

.color-bg-red-500 {
  background-color: #F44336;
}

.color-bg-indigo-500 {
  background-color: #3F51B5;
}

.color-bg-teal-500 {
  background-color: #009688;
}

.color-bg-deep-purple-500 {
  background-color: #673ab7;
}

.color-bg-brown-500 {
  background-color: #795548;
}

.color-bg-deep-orange-500 {
  background-color: #ff5722;
}

.color-bg-lime-500 {
  background-color: #cddc39;
}

.color-bg-material-grey-text {
  background-color: rgba(0, 0, 0, 0.38);
}

.color-bg-grey-light {
  background-color: rgba(0, 0, 0, 0.38);
}

.color-bg-transparent {
  background-color: transparent;
}

.highlight {
  color: #009688 !important;
}

.margin-no {
  margin: 0 !important;
}

.margin-default {
  margin: 8px;
}

.margin-2x {
  margin: 16px;
}

.margin-vertical-no {
  margin-top: 0;
  margin-bottom: 0;
}

.margin-vertical-default {
  margin-top: 8px;
  margin-bottom: 8px;
}

.margin-vertical-2x {
  margin-top: 16px;
  margin-bottom: 16px;
}

.margin-horizontal-no {
  margin-left: 0;
  margin-right: 0;
}

.margin-horizontal-default {
  margin-left: 8px;
  margin-right: 8px;
}

.margin-horizontal-2x {
  margin-left: 16px;
  margin-right: 16px;
}

.margin-top-no {
  margin-top: 0;
}

.margin-top-default {
  margin-top: 8px;
}

.margin-top-2x {
  margin-top: 16px;
}

.margin-bottom-no {
  margin-bottom: 0;
}

.margin-bottom-default {
  margin-bottom: 8px;
}

.margin-bottom-2x {
  margin-bottom: 16px;
}

.margin-left-no {
  margin-left: 0;
}

.margin-left-default {
  margin-left: 8px;
}

.margin-left-2x {
  margin-left: 16px;
}

.margin-right-no {
  margin-right: 0;
}

.margin-right-default {
  margin-right: 8px;
}

.margin-right-2x {
  margin-right: 16px;
}

.padding-no {
  padding: 0 !important;
}

.padding-default {
  padding: 8px;
}

.padding-2x {
  padding: 16px;
}

.padding-vertical-no {
  padding-top: 0;
  padding-bottom: 0;
}

.padding-vertical-default {
  padding-top: 8px;
  padding-bottom: 8px;
}

.padding-vertical-2x {
  padding-top: 16px;
  padding-bottom: 16px;
}

.padding-horizontal-no {
  padding-left: 0;
  padding-right: 0;
}

.padding-horizontal-default {
  padding-left: 8px;
  padding-right: 8px;
}

.padding-horizontal-2x {
  padding-left: 16px;
  padding-right: 16px;
}

.padding-top-no {
  padding-top: 0;
}

.padding-top-default {
  padding-top: 8px;
}

.padding-top-2x {
  padding-top: 16px;
}

.padding-bottom-no {
  padding-bottom: 0;
}

.padding-bottom-default {
  padding-bottom: 8px;
}

.padding-bottom-2x {
  padding-bottom: 16px;
}

.padding-left-no {
  padding-left: 0;
}

.padding-left-default {
  padding-left: 8px;
}

.padding-left-2x {
  padding-left: 16px;
}

.padding-right-no {
  padding-right: 0;
}

.padding-right-default {
  padding-right: 8px;
}

.padding-right-2x {
  padding-right: 16px;
}

body {
  min-height: 100%;
}

.width-24px {
  width: 24px;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.cursor-default {
  cursor: default;
}

.cursor-pointer {
  cursor: pointer;
}

.divider-bottom {
  border-bottom: 1px solid #E1E1E1;
}

.text-overflow-dots {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fab-top-left {
  top: 40px !important;
  bottom: auto;
  left: 40px !important;
  right: auto;
}

.fab-top-right {
  top: 40px !important;
  bottom: auto;
  left: auto;
  right: 40px !important;
}

.fab-bottom-left {
  top: auto;
  bottom: 60px !important;
  left: 40px !important;
  right: auto;
}

.fab-bottom-right {
  top: auto;
  bottom: 60px !important;
  left: auto;
  right: 40px !important;
}

.btn-pseudo-sidenav {
  height: 36px;
  line-height: 36px;
  width: 100%;
  font-size: 17px;
  margin: 0;
  padding: 5px 10px;
  border-radius: 0;
  vertical-align: middle;
  text-align: center;
}

.visibility-visible {
  visibility: visible;
}

.visibility-hidden {
  visibility: hidden;
}

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.position-fixed {
  position: fixed !important;
}

.layout-vh-100 {
  height: 100vh;
}

.layout-vw-100 {
  width: 100vw;
}

.layout-rh-100 {
  height: 100%;
}

.layout-rw-100 {
  width: 100%;
}

.layout-sh-300 {
  height: 300px;
}

.layout-sw-300 {
  width: 300px;
}

@-webkit-keyframes spinner-right {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner-right {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes spinner-left {
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes spinner-left {
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

.spinner:before {
  content: 'Loading';
  position: absolute;
  top: 50%;
  left: 50%;
}

.spinner:not(:required):before {
  content: '';
  border-radius: 50%;
  border-style: solid;
  border-color: transparent;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.orbit1 {
  height: 50px;
  width: 50px;
}

.orbit1:before {
  height: 50px;
  width: 50px;
  margin-top: -25px;
  margin-left: -25px;
}

.orbit1:not(:required):before {
  border-width: 5px;
  border-top-color: white;
  -webkit-animation-name: spinner-left;
          animation-name: spinner-left;
  -webkit-animation-duration: .7s;
          animation-duration: .7s;
}

.orbit2 {
  height: 100px;
  width: 100px;
}

.orbit2:before {
  height: 100px;
  width: 100px;
  margin-top: -50px;
  margin-left: -50px;
}

.orbit2:not(:required):before {
  border-width: 7px;
  border-top-color: #212121;
  -webkit-animation-name: spinner-right;
          animation-name: spinner-right;
  -webkit-animation-duration: .9s;
          animation-duration: .9s;
}

.orbit3 {
  height: 150px;
  width: 150px;
}

.orbit3:before {
  height: 150px;
  width: 150px;
  margin-top: -75px;
  margin-left: -75px;
}

.orbit3:not(:required):before {
  border-width: 5px;
  border-top-color: white;
  -webkit-animation-name: spinner-left;
          animation-name: spinner-left;
  -webkit-animation-duration: .8s;
          animation-duration: .8s;
}

.orbit4 {
  height: 200px;
  width: 200px;
}

.orbit4:before {
  height: 200px;
  width: 200px;
  margin-top: -100px;
  margin-left: -100px;
}

.orbit4:not(:required):before {
  border-width: 7px;
  border-top-color: #212121;
  -webkit-animation-name: spinner-left;
          animation-name: spinner-left;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.base .background-header {
  position: absolute;
  height: 175px;
  width: 100%;
  top: 48px;
}

.base .background-welcome {
  background-image: url(../../assets/welcome_background.png);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.base .card-welcome {
  min-height: 300px;
  width: 600px;
}

.base .card-welcome img {
  max-height: 150px;
  width: auto;
}

.base .card-welcome a {
  text-decoration: none;
}

.base .card-welcome a:hover {
  text-decoration: underline;
}

.base .main-toolbar {
  height: 56px;
  min-height: 56px;
  background-color: #37474F;
}

.base .main-toolbar .md-toolbar-tools {
  height: 100%;
}

.base .main-toolbar .toolbar-logo {
  height: 52px;
  width: auto;
}

.base .main-toolbar .toolbar-menu {
  height: 100%;
}

.base .main-toolbar .toolbar-menu .md-menu .md-button {
  height: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 20px;
  color: white;
  text-transform: none;
}

.base .main-toolbar .toolbar-menu .md-menu .md-button .material-icons {
  font-size: 48px;
  margin-left: 15px;
  color: #009688;
}

.base .main-toolbar md-menu-bar.md-default-theme md-menu.md-open > button, .base .main-toolbar md-menu-bar md-menu.md-open > button, .base .main-toolbar md-menu-bar.md-default-theme md-menu > button:focus, .base .main-toolbar md-menu-bar md-menu > button:focus {
  background: rgba(238, 238, 238, 0.1) !important;
}

.base .main-sidenav {
  width: 180px;
  min-width: 180px;
  max-width: 180px;
  background-color: #1a2b2b;
}

.base .main-sidenav .md-button {
  height: 36px;
  width: 100%;
  text-transform: none;
  color: white;
  font-size: 17px;
  margin: 0;
  padding: 5px 10px;
  border-radius: 0;
}

.base .main-sidenav .md-button:first-child {
  margin-top: 30px;
}

.base .main-sidenav .md-button i {
  margin-right: 10px;
}

.base .main-sidenav .md-button:hover {
  background-color: #009688;
}

.base .main-sidenav .md-button.active {
  background-color: #EEEEEE;
  color: #009688;
}

.base .main-sidenav .md-button.active:hover {
  background-color: #009688;
  color: white;
}

.base .tasks-header {
  height: 56px;
  margin: 0;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 16px;
}

.base .tasks-header md-card-content {
  padding-left: 0;
  padding-right: 0;
}

.base .tasks-header a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.base .tasks .task-panel {
  cursor: pointer;
}

.base .tasks .task-panel p > i, .base .tasks .task-panel task-priority > i {
  margin-right: 16px;
}

.base .cases-header {
  height: 56px;
  margin: 0;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 16px;
}

.base .cases-header md-card-content {
  padding-left: 0;
  padding-right: 0;
}

.base .cases-header a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.base .cases .case-panel {
  cursor: pointer;
  height: 56px;
  margin: 0;
  border-radius: 0;
  padding-left: 12px;
  padding-right: 12px;
}

.base .cases .case-panel md-card-content {
  padding-left: 0;
  padding-right: 0;
}

.base .cases .case-panel p, .base .cases .case-panel task-priority {
  margin: 0;
  -webkit-margin-after: 0;
}

.base .cases .case-panel p > i, .base .cases .case-panel task-priority > i {
  margin-right: 16px;
}

.base .search-header {
  margin: 0;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 16px;
}

.base .search-header .layout-row {
  height: 64px;
}

.base .search-header .layout-row:last-child {
  height: 48px;
  padding-bottom: 16px;
}

.base .search-header .layout-row > form {
  margin: 0;
}

.base .search-header .layout-row > form > .md-block {
  margin: 0;
}

.base .search-header .layout-row > form > .autocomplete md-input-container {
  height: 28px;
  margin: 0;
}

.base .search-header .layout-row > form > md-input-container {
  height: 28px;
  margin: 0;
}

.base .file-chooser {
  margin: 0;
  padding: 0;
}

.base .file-chooser input {
  position: absolute;
  height: 0.1px;
  width: 0.1px;
  opacity: 0;
  overflow: hidden;
  z-index: -1;
}

.base .file-chooser-avatar .avatar-icon {
  font-size: 220px;
}

.base .file-chooser-avatar input {
  position: absolute;
  height: 0.1px;
  width: 0.1px;
  opacity: 0;
  overflow: hidden;
  z-index: -1;
}

.base .file-chooser-avatar label {
  display: none;
  position: absolute;
}

.base .file-chooser-avatar label .material-icons {
  font-size: 100px;
}

.base .file-chooser-avatar label .material-icons:hover {
  cursor: pointer;
}

.base .file-chooser-avatar:hover label {
  display: block;
}

.base .assign-list md-list-item .md-avatar {
  margin-top: 14px !important;
  margin-bottom: 14px !important;
}

.base .assign-list md-list-item.selected-tile button {
  background-color: #009688;
  z-index: -1;
}

.base .assign-list md-list-item.selected-tile .md-avatar .material-icons {
  color: white !important;
}

.base .assign-list md-list-item.selected-tile .md-list-item-text p {
  color: white !important;
}

.base .chips-no-boxshadow {
  box-shadow: none;
}

.base md-expansion-panel md-expansion-panel-collapsed {
  min-height: 24px !important;
  line-height: 24px !important;
  padding: 0 12px !important;
}

.base md-expansion-panel-header .md-expansion-panel-header-container {
  min-height: 24px !important;
  line-height: 24px !important;
  padding: 0 12px !important;
}

.base md-expansion-panel-footer .md-expansion-panel-footer-container {
  min-height: 24px !important;
  line-height: 24px !important;
  padding: 0 12px !important;
}

.base .data-item md-input-container .md-errors-spacer {
  min-height: 0px !important;
}

.base .data-field-title {
  font-size: 17px;
}
