// Primary color - Custom blue
$color-primary-50: 				#e3f6fa;
$color-primary-100: 			#b8e8f2;
$color-primary-200: 			#89d9e9;
$color-primary-300: 			#59c9e0;
$color-primary-400: 			#36bed9;
$color-primary-500: 			#12b2d2;
$color-primary-600: 			#10abcd;
$color-primary-700: 			#0da2c7;
$color-primary-800: 			#0a99c1;
$color-primary-900: 			#058ab6;
$color-primary-A100: 			#e0f6ff;
$color-primary-A200: 			#ade8ff;
$color-primary-A400: 			#7adaff;
$color-primary-A700: 			#60d2ff;

// Accent color - Grey = Grey color
$color-grey-50: 				#FAFAFA;
$color-grey-100: 				#F5F5F5;
$color-grey-200: 				#EEEEEE;
$color-grey-300: 				#E0E0E0;
$color-grey-400: 				#BDBDBD;
$color-grey-500: 				#9E9E9E;
$color-grey-600: 				#757575;
$color-grey-700: 				#616161;
$color-grey-800: 				#424242;
$color-grey-900: 				#212121;

// Opacity colors
$color-black-op-20:				rgba(0, 0, 0, .20);
$color-black-op-30:				rgba(0, 0, 0, .30);
$color-black-op-40:				rgba(0, 0, 0, .40);
$color-black-op-50:				rgba(0, 0, 0, .50);
$color-black-op-54:				rgba(0, 0, 0, .54);
$color-black-op-60:				rgba(0, 0, 0, .60);
$color-black-op-87:				rgba(0, 0, 0, .87);
$color-primary-op-30:			rgba(18, 178, 210, .30);
$color-primary-op-40:			rgba(18, 178, 210, .40);
$color-primary-op-50:			rgba(18, 178, 210, .50);
$color-primary-op-60:			rgba(18, 178, 210, .60);
$color-primary-op-87:			rgba(18, 178, 210, .87);

// System
$color-success:					#4CAF50;
$color-warning:					#FFC107;
$color-error:					#F44336;

// Primary colors - other
$color-light-blue-A700:			#0091EA;
$color-deep-purple-600: 		#5E35B1;

// Other
$color-green-500:				#4caf50;
$color-teal-500:				#009688;
$color-amber-500:				#FFC107;
$color-deep-orange-500:			#FF5722;
$color-red-500:					#f44336;
$color-brown-500:				#795548;
$color-blue-grey-100:			#CFD8DC;
$color-dark-teal-grey-500:		#37474F;
$color-dark-teal-grey-800:		#1a2b2b;

// Template specific colors
$color-dark-teal-grey-50:		#E7E9EA;
$color-dark-teal-grey-100:		#C3C8CA;
$color-dark-teal-grey-200:		#9BA3A7;
$color-dark-teal-grey-300:		#737E84;
$color-dark-teal-grey-400:		#556369;
// 500 already in default palette
$color-dark-teal-grey-600:		#314048;
$color-dark-teal-grey-700:		#2A373F;
$color-dark-teal-grey-800:		#232F36;
$color-dark-teal-grey-900:		#162026;

// Background
$color-background:				$color-blue-grey-100;

// Toolbar
$color-toolbar:					$color-dark-teal-grey-500;

// Sidenav
$color-sidenav:					$color-dark-teal-grey-900;

// Material text
$color-material-grey-text:		rgba(0, 0, 0, .38); // TODO 19.1.2018 Refactor Material text color

// Divider
$color-divider:					#E1E1E1;

// Template specific variables
// Card
$color-card-background:         $color-dark-teal-grey-500;
$color-card-text:               $color-grey-50;

// Expanded panel
$color-ep-header-bg:            $color-dark-teal-grey-600;
$color-ep-content-bg:           $color-dark-teal-grey-500;
$color-ep-border:               $color-dark-teal-grey-500;
$color-ep-text:                 $color-grey-50;

.color {

	&-fg {

		&-success {
			color: $color-success;
		}

		&-warning {
			color: $color-warning;
		}

		&-error {
			color: $color-error;
		}

		&-transparent {
			color: transparent;
		}

		&-green-500 {
			color: $color-green-500;
		}

		&-teal-500 {
			color: $color-teal-500;
		}

		&-light-blue-A700 {
			color: $color-light-blue-A700;
		}

		&-deep-purple-600 {
			color: $color-deep-purple-600;
		}

		&-amber-500 {
			color: $color-amber-500;
		}

		&-deep-orange-500 {
			color: $color-deep-orange-500;
		}

		&-red-500 {
			color: $color-red-500;
		}

		&-brown-500 {
			color: $color-brown-500;
		}

		&-material-grey-text {
			color: $color-material-grey-text;
		}

		&-blue-grey-100 {
			color: $color-blue-grey-100;
		}

		&-black {

			&-op {

				&-20 {
					color: $color-black-op-20;
				}

				&-30 {
					color: $color-black-op-30;
				}

				&-40 {
					color: $color-black-op-40;
				}

				&-50 {
					color: $color-black-op-50;
				}

				&-54 {
					color: $color-black-op-54;
				}

				&-60 {
					color: $color-black-op-60;
				}

				&-87 {
					color: $color-black-op-87 !important;
				}
			}
		}

		&-primary {

			&-op {

				&-30 {
					color: $color-primary-op-30;
				}

				&-40 {
					color: $color-primary-op-40;
				}

				&-50 {
					color: $color-primary-op-50;
				}

				&-60 {
					color: $color-primary-op-60;
				}

				&-87 {
					color: $color-primary-op-87 !important;
				}
			}

			&-50 {
				color: $color-primary-50;
			}

			&-100 {
				color: $color-primary-100;
			}

			&-200 {
				color: $color-primary-200;
			}

			&-300 {
				color: $color-primary-300;
			}

			&-400 {
				color: $color-primary-400;
			}

			&-500 {
				color: $color-primary-500;
			}

			&-600 {
				color: $color-primary-600;
			}

			&-700 {
				color: $color-primary-700;
			}

			&-800 {
				color: $color-primary-800;
			}

			&-900 {
				color: $color-primary-900;
			}

			&-A100 {
				color: $color-primary-A100;
			}

			&-A200 {
				color: $color-primary-A200;
			}

			&-A400 {
				color: $color-primary-A400;
			}

			&-A700 {
				color: $color-primary-A700;
			}
		}

		&-accent {

			&-50 {
				color: $color-grey-50 !important;
			}

			&-100 {
				color: $color-grey-100;
			}

			&-200 {
				color: $color-grey-200;
			}

			&-300 {
				color: $color-grey-300;
			}

			&-400 {
				color: $color-grey-400;
			}

			&-500 {
				color: $color-grey-500;
			}

			&-600 {
				color: $color-grey-600;
			}

			&-700 {
				color: $color-grey-700;
			}

			&-800 {
				color: $color-grey-800;
			}

			&-900 {
				color: $color-grey-900;
			}
		}
	}

	&-bg {

		&-success {
			background-color: $color-success;
		}

		&-warning {
			background-color: $color-warning;
		}

		&-error {
			background-color: $color-error;
		}

		&-transparent {
			background-color: transparent;
		}

		&-color-green-500 {
			background-color: $color-green-500;
		}

		&-teal-500 {
			background-color: $color-teal-500;
		}

		&-light-blue-A700 {
			background-color: $color-light-blue-A700;
		}

		&-deep-purple-600 {
			background-color: $color-deep-purple-600;
		}

		&-amber-500 {
			background-color: $color-amber-500;
		}

		&-deep-orange-500 {
			background-color: $color-deep-orange-500;
		}

		&-red-500 {
			background-color: $color-red-500;
		}

		&-brown {
			background-color: $color-brown-500;
		}

		&-material-grey-text {
			background-color: $color-material-grey-text;
		}

		&-blue-grey-100 {
			background-color: $color-blue-grey-100;
		}

		&-black {

			&-op {

				&-20 {
					background-color: $color-black-op-20;
				}

				&-30 {
					background-color: $color-black-op-30;
				}

				&-40 {
					background-color: $color-black-op-40;
				}

				&-50 {
					background-color: $color-black-op-50;
				}

				&-54 {
					background-color: $color-black-op-54;
				}

				&-60 {
					background-color: $color-black-op-60;
				}

				&-87 {
					background-color: $color-black-op-87 !important;
				}
			}
		}

		&-primary {

			&-op {

				&-30 {
					background-color: $color-primary-op-30;
				}

				&-40 {
					background-color: $color-primary-op-40;
				}

				&-50 {
					background-color: $color-primary-op-50;
				}

				&-60 {
					background-color: $color-primary-op-60;
				}

				&-87 {
					background-color: $color-primary-op-87 !important;
				}
			}

			&-50 {
				background-color: $color-primary-50;
			}

			&-100 {
				background-color: $color-primary-100;
			}

			&-200 {
				background-color: $color-primary-200;
			}

			&-300 {
				background-color: $color-primary-300;
			}

			&-400 {
				background-color: $color-primary-400;
			}

			&-500 {
				background-color: $color-primary-500 !important;
			}

			&-600 {
				background-color: $color-primary-600;
			}

			&-700 {
				background-color: $color-primary-700;
			}

			&-800 {
				background-color: $color-primary-800;
			}

			&-900 {
				background-color: $color-primary-900;
			}

			&-A100 {
				background-color: $color-primary-A100;
			}

			&-A200 {
				background-color: $color-primary-A200;
			}

			&-A400 {
				background-color: $color-primary-A400;
			}

			&-A700 {
				background-color: $color-primary-A700;
			}
		}

		&-accent {

			&-50 {
				background-color: $color-grey-50;
			}

			&-100 {
				background-color: $color-grey-100;
			}

			&-200 {
				background-color: $color-grey-200;
			}

			&-300 {
				background-color: $color-grey-300;
			}

			&-400 {
				background-color: $color-grey-400;
			}

			&-500 {
				background-color: $color-grey-500;
			}

			&-600 {
				background-color: $color-grey-600;
			}

			&-700 {
				background-color: $color-grey-700;
			}

			&-800 {
				background-color: $color-grey-800;
			}

			&-900 {
				background-color: $color-grey-900;
			}
		}
	}

	&-border {

		&-transparent {
			border-color: transparent !important;
		}

		&-primary {

			&-op {

				&-30 {
					border-color: $color-primary-op-30 !important;
				}

				&-40 {
					border-color: $color-primary-op-40 !important;
				}

				&-50 {
					border-color: $color-primary-op-50 !important;
				}

				&-60 {
					border-color: $color-primary-op-60 !important;
				}

				&-87 {
					border-color: $color-primary-op-87 !important;
				}
			}
		}
	}
}
