<div layout="row" layout-align="start center" class="card-case padding-horizontal-2x" ng-click="useCase.open()">

    <span flex-gt-sm="10" flex-sm="15" flex-xs="30" layout="row" layout-align="start center">
        <i class="material-icons margin-right-2x {{::useCase.color}}">
            {{useCase.icon ? useCase.icon : 'label'}}
        </i>
    </span>

    <!-- META -->
    <div flex-gt-md="20" flex-md="25" flex-sm="30" flex-xs="50">
        <div ng-if="useCase.selectedData['column0']" ng-init="selectedDataId='column0'" ng-include="'views/app/datafields/values/value_'+useCase.selectedData['column0'].type+'.html'"></div>
    </div>
    <div hide hide-xs show-gt-xs flex-gt-md="25" flex-md="30" flex-sm="45">
        <div ng-if="useCase.selectedData['column1']" ng-init="selectedDataId='column1'" ng-include="'views/app/datafields/values/value_'+useCase.selectedData['column1'].type+'.html'"></div>
    </div>
    <div hide show-gt-sm flex-gt-md="20" flex-gt-sm="25">
        <div ng-if="useCase.selectedData['column2']" ng-init="selectedDataId='column2'" ng-include="'views/app/datafields/values/value_'+useCase.selectedData['column2'].type+'.html'"></div>
    </div>
    <div hide show-gt-md flex="15">
        <div ng-if="useCase.selectedData['column3']" ng-init="selectedDataId='column3'" ng-include="'views/app/datafields/values/value_'+useCase.selectedData['column3'].type+'.html'"></div>
    </div>

    <md-menu ng-if="useCase.caseDelete && $user.hasAuthority('ROLE_ADMIN')" flex-gt-xs="10" flex-xs="20" layout="row" layout-align="end center">
        <md-button class="md-icon-button" ng-click="$mdMenu.open($event)" md-menu-origin>
            <md-icon class="material-icons">more_vert</md-icon>
        </md-button>
        <md-menu-content>
            <md-menu-item>
                <md-button ng-click="useCase.delete()">
                    <md-icon class="material-icons">delete</md-icon>
                    <span>{{$i18n.block.btn.delete}}</span>
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
    <div ng-if="!useCase.caseDelete || !$user.hasAuthority('ROLE_ADMIN')" flex-gt-xs="10" flex-xs="20"></div>

</div>