.assign-list {

	md-list-item {

		.md-avatar {
			margin-top: 14px !important;
			margin-bottom: 14px !important;
		}

		&.selected-tile {

			button {
				background-color: $color-primary-500;
				z-index: -1;
			}

			.md-avatar {

				.material-icons {
					color: white !important;
				}
			}

			.md-list-item-text {

				p {
					color: white !important;
				}
			}
		}
	}
}
