//.assign-list {
//
//	md-list-item {
//
//		.md-avatar {
//			margin-top: 14px !important;
//			margin-bottom: 14px !important;
//		}
//
//		&.selected-tile {
//
//			button {
//				border: 2px dashed $color-fm-300;
//			}
//		}
//	}
//}

.assign-list {

	md-list-item {

		.md-avatar {
			margin-top: 14px !important;
			margin-bottom: 14px !important;
		}

		&.selected-tile {

			button {
				background-color: $color-fm-500;
				z-index: -1;
			}

			.md-avatar {

				.material-icons {
					color: white !important;
				}
			}

			.md-list-item-text {

				p {
					color: white !important;
				}
			}
		}
	}
}
