.background {

	&-header {
		position: absolute;
		height: 175px;
		width: 100%;
		top: 48px;
	}

	&-welcome {
		background-image: url(../../../assets/welcome_background.jpg);
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
	}
}
