.card {
    margin: $dim-default;
    background-color: $color-black-op-40;
    border-radius: $border-radius;
    box-shadow: $shadow;

    &-op-50 {
        background-color: $color-black-op-50;
    }

    &-op-60 {
        background-color: $color-black-op-60;
    }

    &-logo {
        padding: $dim-default;
        margin: $dim-default;
        background-color: $color-grey-50;
        border-radius: $border-radius;
        box-shadow: $shadow;
    }
}