.card {

	// TODO
	&-welcome {
		min-height: 300px;
		width: 600px;

		img {
			max-height: 150px;
			width: auto;
		}

		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
