.click-area {
    height: 100%;
    width: 100%;
}

md-expansion-panel {
    background: $color-black-op-30 !important;
    cursor: pointer !important;
}

md-expansion-panel {

    &.highlight {

        md-expansion-panel-expanded .md-expansion-panel-header-container {
            background: $color-primary-op-50 !important;

            &:hover {
                background: $color-primary-op-60 !important;
            }
        }
    }
}

md-expansion-panel md-expansion-panel-collapsed,
md-expansion-panel .md-expansion-panel-footer-container,
md-expansion-panel .md-expansion-panel-header-container {
    background: rgba(0, 0, 0, .1) !important;
}

md-expansion-panel.highlight md-expansion-panel-collapsed, md-expansion-panel .md-expansion-panel-header-container {
    background: $color-primary-op-50 !important;

    &:hover {
        background: $color-primary-op-60 !important;
    }
}

md-expansion-panel md-expansion-panel-collapsed, md-expansion-panel .md-expansion-panel-header-container {

    &:hover {
        background: $color-black-op-40 !important;
    }
}

md-expansion-panel {
    box-shadow: none !important;
    margin-bottom: 1px;

    .md-expansion-panel-header-container, .md-expansion-panel-footer-container {
        border: none !important;
    }
}

md-expansion-panel-collapsed {
    padding-left: $dim-2x !important;
    padding-right: $dim-2x !important;
}

md-expansion-panel-content {
    padding-left: $dim-2x !important;
    padding-right: $dim-2x !important;

    color: $color-primary-50;
}

md-expansion-panel-header {

    .md-expansion-panel-header-container {
        padding-left: $dim-2x !important;
        padding-right: $dim-2x !important;
    }
}

md-expansion-panel .md-expansion-panel-footer-container {
    top: auto !important;

    .md-button {
        color: $color-grey-50;
    }

    .md-primary {
        color: $color-primary-500 !important;
    }
}