.click-area {
    height: 100%;
    width: 100%;
}

md-expansion-panel {
    cursor: pointer !important;

    md-expansion-panel-expanded .md-expansion-panel-header-container,
    md-expansion-panel-collapsed, md-expansion-panel .md-expansion-panel-header-container {

        &:hover {
            background: $color-primary-500 !important;

            span {
                color: $color-grey-50;
            }

            md-progress-circular path {
                stroke: $color-grey-50 !important;
            }
        }
    }
}

// TODO 25.10.2017 Expansion panel highlighting is currently disabled in HTML
md-expansion-panel {

    &.highlight {

        md-expansion-panel-expanded .md-expansion-panel-header-container,
        md-expansion-panel-collapsed, md-expansion-panel .md-expansion-panel-header-container {
            background: $color-light-blue-A700 !important;

            &:hover {
                background: $color-primary-500 !important;

                span {
                    color: $color-grey-50;
                }
            }
        }

        md-progress-circular path {
            stroke: $color-grey-50 !important;
        }
    }
}

//md-expansion-panel md-expansion-panel-collapsed,
//md-expansion-panel .md-expansion-panel-footer-container,
//md-expansion-panel .md-expansion-panel-header-container {
//    background: rgba(0, 0, 0, .1) !important;
//}

md-expansion-panel md-expansion-panel-collapsed, md-expansion-panel .md-expansion-panel-header-container {

    &:hover {
        background: $color-primary-500 !important;

        span {
            color: $color-grey-50;
        }
    }
}

//md-expansion-panel {
//    box-shadow: none !important;
//    margin-bottom: 1px;
//
//    .md-expansion-panel-header-container, .md-expansion-panel-footer-container {
//        border: none !important;
//    }
//}

md-expansion-panel-collapsed {
    padding-left: $dim-2x !important;
    padding-right: $dim-2x !important;
}

md-expansion-panel-content {
    padding-left: $dim-2x !important;
    padding-right: $dim-2x !important;

    color: $color-primary-50;
}

md-expansion-panel-header {

    .md-expansion-panel-header-container {
        padding-left: $dim-2x !important;
        padding-right: $dim-2x !important;
    }
}

md-expansion-panel .md-expansion-panel-footer-container {
    top: auto !important;
}