md-expansion-panel md-expansion-panel-collapsed {
    min-height: 24px !important;
    line-height: 24px !important;
    padding: 0 12px !important;
}

md-expansion-panel-header .md-expansion-panel-header-container {
    min-height: 24px !important;
    line-height: 24px !important;
    padding: 0 12px !important;
}

md-expansion-panel-footer .md-expansion-panel-footer-container {
    min-height: 24px !important;
    line-height: 24px !important;
    padding: 0 12px !important;
}