.file-chooser {
	margin: 0;
	padding: 0;

	input {
		position: absolute;
		height: 0.1px;
		width: 0.1px;
		opacity: 0;
		overflow: hidden;
		z-index: -1;
	}

	label {

		.material-icons {
			color: $color-primary-500;
		}

		span {
			padding-left: 6px;
			padding-right: 6px;
			color: $color-material-grey-text;
		}
	}

	&-avatar {

		.avatar-icon {
			font-size: 220px;
		}

		input {
			position: absolute;
			height: 0.1px;
			width: 0.1px;
			opacity: 0;
			overflow: hidden;
			z-index: -1;
		}

		label {
			display: none;
			position: absolute;

			.material-icons {
				font-size: 100px;

				&:hover {
					cursor: pointer;
				}
			}
		}

		&:hover {

			label {
				display: block;
			}
		}
	}
}
