.list {

    &-item {

        &:hover {
            cursor: pointer;
            background-color: $color-black-op-30 !important;
        }

        &-no-pointer {

            &:hover {
                cursor: default;
                background: $color-black-op-30 !important;
            }
        }
    }
}