.list {

    &-header {
        height: 48px;
    }

    &-item {
        height: 48px;

        &-selected {
            background-color: $color-primary-500 !important;

            .material-icons {
                color: $color-grey-50 !important;
            }

            &:hover {

                .material-icons {
                    color: $color-primary-500 !important;
                }
            }
        }

        &:hover {
            cursor: pointer;
            //background-color: $color-black-op-50 !important;
        }

        &-no-pointer {

            &:hover {
                cursor: default;
                //background: $color-black-op-50 !important;
            }
        }

        // Prevent default md-list hover style
        .md-button.md-default-theme:not([disabled]):hover, .md-button:not([disabled]):hover {
            background-color: transparent !important;
        }
    }
}