.search {

	&-tasks {
		margin: 0;
		padding-left: 24px;
		padding-right: 24px;
		margin-bottom: 16px;

		.layout-row {
			height: 64px;

			&:last-child {
				height: 48px;
				padding-bottom: 16px;
			}

			> form {
				margin: 0;

				> .md-block {
					margin: 0;
				}
			}
		}
	}
}
