.search {

	&-header {
		margin: 0;
		padding-left: 12px;
		padding-right: 12px;
		margin-bottom: 16px;

		.layout-row {
			height: 64px;

			&:last-child {
				height: 48px;
				padding-bottom: 16px;
			}

			> form {
				margin: 0;

				> .md-block {
					margin: 0;
				}

				> .autocomplete {

					md-input-container {
						height: 28px;
						margin: 0;
					}
				}

				> md-input-container {
					height: 28px;
					margin: 0;
				}
			}
		}
	}
}
