@keyframes spinner-right {
	to {
		transform: rotate(360deg);
	}
}

@keyframes spinner-left {
	to {
		transform: rotate(-360deg);
	}
}

@mixin orbit($radius, $border-width, $color, $rotation, $speed) {
	height: $radius;
	width: $radius;

	&:before {
		height: $radius;
		width: $radius;
		margin-top: - ($radius / 2);
		margin-left: - ($radius / 2);
	}

	&:not(:required):before {
		border-width: $border-width;
		border-top-color: $color;
		animation-name: spinner- + $rotation;
		animation-duration: $speed;
	}
}

.spinner {

	&:before {
		content: 'Loading';
		position: absolute;
		top: 50%;
		left: 50%;
	}

	&:not(:required):before {
		content: '';
		border-radius: 50%;
		border-style: solid;
		border-color: transparent;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}
}

.orbit {

	&-1 {
		//@include orbit(50px, 5px, $color-grey-800, left, .7s);
		@include orbit(20px, 5px, $color-grey-800, left, .7s);
	}

	&-2 {
		//@include orbit(100px, 7px, $color-grey-900, right, .9s);
		@include orbit(40px, 6px, $color-grey-900, right, .9s);
	}

	&-3 {
		//@include orbit(150px, 5px, $color-grey-800, left, .8s);
		@include orbit(60px, 5px, $color-grey-800, left, .8s);
	}

	&-4 {
		//@include orbit(200px, 7px, $color-grey-900, left, 1s);
		@include orbit(80px, 6px, $color-grey-900, left, 1s);
	}
}
