// Global changes
md-tabs-wrapper {
    background-color: $color-black-op-40;
    box-shadow: $shadow;
    margin: $dim-default;
}

md-tabs.md-active md-ink-bar, md-tabs md-ink-bar{
    color: $color-primary-500 !important;
    background-color: $color-primary-500 !important;
}

md-tabs.md-default-theme .md-tab, md-tabs .md-tab {
    color: $color-grey-50;

    .material-icons {
        color: $color-grey-50;
    }
}

.md-tab {
    font-size: 16px;
}