.tasks {

	.tasks-header {
		min-height: 80px;
		margin: 0;
		padding-left: 24px;
		padding-right: 24px;
		margin-bottom: 16px;

		a {
			color: black;
			text-decoration: none;
			font-weight: bold;
		}
	}

	.task {

		p, task-priority {

			> i {
				margin-right: 16px;
			}
		}
	}
}
