.main-toolbar {
	height: 56px;
	min-height: 56px;
	background-color: $color-dark-teal-grey-500;

	.md-toolbar-tools {
		height: 100%;
	}

	.toolbar {

		&-logo {
			height: 52px;
			width: auto;
		}

		&-menu {
			height: 100%;

			.md-menu {

				.md-button {
					height: 100%;
					padding-top: 4px;
					padding-bottom: 4px;
					font-size: 20px;
					color: white;
					text-transform: none;

					.material-icons {
						font-size: 48px;
						margin-left: 15px;
						color: $color-primary-500;
					}
				}
			}
		}
	}
	// Dim too bright white menu color on focus
	md-menu-bar.md-default-theme md-menu.md-open > button, md-menu-bar md-menu.md-open > button, md-menu-bar.md-default-theme md-menu > button:focus, md-menu-bar md-menu > button:focus {
		background: rgba(238, 238, 238, .1) !important;
	}
}
