.toolbar {
    height: 68px;

    &-menu {
        height: 100%;

        .btn-menu {
            height: 100%;
            margin: 0;
            color: $color-grey-50;
            font-size: 20px;
            text-transform: none;

            .material-icons {
                font-size: 48px;
                color: $color-primary-500;
                margin-left: $dim-2x;
            }
        }
    }

    // Fix submenu
    &-submenu {
        padding: 0 !important;

        .btn-menu {

            > .material-icons {
                margin-right: 14px !important;
                margin-top: 1.5px !important;
                margin-bottom: 1.5px !important;
                font-size: 24px !important;
            }

            > span {
                margin-left: -1px;
                font-size: 15px;
                text-transform: capitalize;
                font-weight: normal;
            }
        }
    }
}

// Dim too bright white menu color on focus
md-menu-bar.md-default-theme md-menu.md-open > button, md-menu-bar md-menu.md-open > button, md-menu-bar.md-default-theme md-menu > button:focus, md-menu-bar md-menu > button:focus {
    background: rgba(238, 238, 238, .1) !important;
}
