.background {
	height: 100%;
	width: 100%;

	&-welcome {
		background-image: url(../../../assets/welcome_background.jpg);
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
	}

	&-white {
		background-color: white;
	}
}
