.background {

	&-welcome {
		background-image: url(../../assets/vectorpaint.svg);
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
	}
}
