.background {

	&-welcome {
		background-image: url(../../../assets/welcome_background.jpg);
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
	}
}
