<div layout="row" layout-align="start center" class="card-header padding-horizontal-2x">

    <a flex-gt-sm="10" flex-sm="15" flex-xs="30">
        {{::$i18n.block.case.header.label}}
        <md-icon class="material-icons">
            arrow_drop_down
        </md-icon>
    </a>

    <!-- ng-if="true" is required hack to extend controller scope so headerId var is isolated for all included scopes -->
    <a flex-gt-md="20" flex-md="30" flex-sm="40" flex-xs="50" ng-if="true" ng-init="headerId=0"
       ng-include="'views/app/headers/header_items/case_data_header_item.html'">
    </a>
    <a hide-xs flex-gt-md="20" flex-md="25" flex-sm="35" ng-if="true" ng-init="headerId=1"
       ng-include="'views/app/headers/header_items/case_data_header_item.html'">
    </a>
    <a hide-xs hide-sm flex-gt-md="20" flex-md="25" ng-if="true" ng-init="headerId=2"
       ng-include="'views/app/headers/header_items/case_data_header_item.html'">
    </a>
    <a hide show-gt-md flex-gt-md="20" ng-if="true" ng-init="headerId=3"
       ng-include="'views/app/headers/header_items/case_data_header_item.html'">
    </a>
    <a hide show-xl flex-xl="20" ng-if="true" ng-init="headerId=4"
       ng-include="'views/app/headers/header_items/case_data_header_item.html'">
    </a>

    <div flex-gt-xs="10" flex-xs="20" layout="row" layout-align="end center">
        <md-button ng-if="!caseDataCtrl.headerConfigEnabled" ng-click="caseDataCtrl.headerConfigEnabled = !caseDataCtrl.headerConfigEnabled" class="md-icon-button md-primary">
            <md-icon class="material-icons">edit</md-icon>
            <md-tooltip md-direction="bottom">
                {{::$i18n.page.casesData.enableEditMode}}
            </md-tooltip>
        </md-button>
        <md-button ng-if="caseDataCtrl.headerConfigEnabled" ng-click="caseDataCtrl.headerConfigEnabled = !caseDataCtrl.headerConfigEnabled" class="md-icon-button md-primary">
            <md-icon class="material-icons">done</md-icon>
            <md-tooltip md-direction="bottom">
                {{::$i18n.page.casesData.confirmChanges}}
            </md-tooltip>
        </md-button>
    </div> <!-- Menu spacer -->

</div> <!-- ./card -->