<div layout="row" layout-align="start center" class="card-header padding-horizontal-2x">

    <a flex-gt-lg="10" flex-lg="10" flex-md="10" flex-sm="15" flex-xs="30">
        {{::$i18n.page.tasks.filter.type}}
        <md-icon class="material-icons">
            {{TODO.tasksCtrl.sort.expresion == 'TODO' && !TODO.tasksCtrl.sort.reverse ? 'arrow_drop_up' : 'arrow_drop_down'}}
        </md-icon>
    </a>
    <a flex-gt-lg="30" flex-lg="30" flex-md="40" flex-sm="35" flex-xs="55">
        {{::$i18n.page.tasks.filter.label}}
        <md-icon class="material-icons">
            {{TODO.tasksCtrl.sort.expresion == 'TODO' && !TODO.tasksCtrl.sort.reverse ? 'arrow_drop_up' : 'arrow_drop_down'}}
        </md-icon>
    </a>
    <a flex-gt-lg="30" flex-lg="30" flex-md="40" flex-sm="40" hide-xs>
        {{::$i18n.page.tasks.filter.author}}
        <md-icon class="material-icons">
            {{TODO.tasksCtrl.sort.expresion == 'TODO' && !TODO.tasksCtrl.sort.reverse ? 'arrow_drop_up' : 'arrow_drop_down'}}
        </md-icon>
    </a>
    <a flex-gt-lg="20" flex-lg="20" hide-md  hide-sm hide-xs>
        {{::$i18n.page.tasks.filter.date}}
        <md-icon class="material-icons">
            {{TODO.tasksCtrl.sort.expresion == 'TODO' && !TODO.tasksCtrl.sort.reverse ? 'arrow_drop_up' : 'arrow_drop_down'}}
        </md-icon>
    </a>
    <div flex-gt-sm="10" flex-sm="10" flex-xs="15"></div> <!-- Detail btn -->

</div> <!-- ./card -->