.task-tab-background{
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: transparent;
}
.search-panel{
    margin-top: 16px;
}
.content-margin{
    margin: 0 16px;
}
.task-panel-padding-mini{
    padding-bottom: 16px;
    padding-top: 16px;
}
.full-height {
    height: 100%;
}
.search-width {
    width: 100%;
}
