@import 'src/lib/side-menu/side-menu.theme';
@import 'src/lib/snack-bar/snack-bar.theme';
@import 'src/lib/dialog/dialog.theme';
@import 'src/lib/admin/user-invite/user-invite.component.theme';

@function nae-typography-level(
    $font-size,
    $line-height: $font-size,
    $font-weight: 400
) {
    @return (
        font-size: $font-size,
        line-height: $line-height,
        font-weight: $font-weight
    );
}

@function nae-typography-config(
    $font-family: 'Roboto, sans-serif',
    $headline: nae-typography-level(32px, 48px, 700)
) {
    @return (
        font-family: $font-family,
        headline: $headline
    );
}

@mixin nae-typography($typography-config: null) {
    @if $typography-config == null {
        $typography-config: nae-typography-config();
    }

    @include side-menu-typography($typography-config);
    @include snack-bar-typography($typography-config);
    @include dialog-typography($typography-config);
    @include user-invite-typography($typography-config);
}
