@import "nae-typography";
@import 'src/lib/panel/panel.theme';
@import 'src/lib/header/header.theme';
@import 'src/lib/data-fields/data-field.theme';
@import 'src/lib/user/user.theme';
@import "src/lib/navigation/navigation.theme";
@import "src/lib/admin/role-assignment/role-assignment.component.theme";
@import "src/lib/side-menu/content-components/user-assign/user-assign-list/user-assign-item/theme/user-assign-item.component.theme";
@import "src/lib/side-menu/content-components/admin-impersonate/admin-impersonate-list/admin-impersonate-item/theme/admin-impersonate-item.component.theme";
@import 'src/lib/view/view.theme';
@import 'src/lib/tabs/tabs.theme';
@import "src/lib/search/advanced-search/search-predicate-component/search-predicate.component.theme";
@import "src/lib/search/advanced-search/search-clause-component/search-clause.component.theme";
@import "src/lib/search/advanced-search/search-configuration-input-component/search-configuration-input.component.theme";

@mixin nae-lib-theme($app-theme, $app-typography-config) {
    @include nae-typography($app-typography-config);
    @include panel-component($app-theme);
    @include data-field-component($app-theme);
    @include user-profile($app-theme);
    @include navigation-theme($app-theme);
    @include header-component($app-theme);
    @include roles-assignment-theme($app-theme);
    @include user-assign-item-component-theme($app-theme);
    @include admin-impersonate-item-component-theme($app-theme);
    @include view-theme($app-theme);
    @include tabs-theme($app-theme);
    @include search-predicate-theme($app-theme);
    @include search-clause-theme($app-theme);
    @include search-configuration-input-theme($app-theme);
    @include side-menu-theme($app-theme);
}

.mat-tab-group.nae-tab-fill-height .mat-tab-body-wrapper {
    flex: 1 1 100%;
}

.panel-expanded-spacing mat-expansion-panel.mat-expanded {
    margin-top: 16px !important;
    margin-bottom: 16px !important;
}
