<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Workflow Management System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Workflow Management software">
    <meta name="keywords" content="PetriNet, wms, workflow">
    <meta name="author" content="Gažo, Mažári, Makáň, Mladoniczky">
    <!-- -- CSS -- -->
    <!-- Material font and icons -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700'>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- Angular style -->
    <link rel="stylesheet" type="text/css" href="../bower_components/angular-material/angular-material.min.css">
    <!-- Main style -->
    <link rel="stylesheet" type="text/css" href="../styles/css/login.css">
    <!-- RequireJS loaded scripts -->
</head>
<body ng-app="app" class="base">
	<div ng-include="'./signin_form.html'"></div>
	<!--<div ng-include="'./signup_form.html'"></div>-->

<!-- scripts -->
<!-- Libraries -->
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/angular/angular.min.js"></script>
<script src="../bower_components/angular-aria/angular-aria.min.js"></script>
<script src="../bower_components/angular-animate/angular-animate.min.js"></script>
<script src="../bower_components/angular-messages/angular-messages.min.js"></script>
<script src="../bower_components/angular-material/angular-material.min.js"></script>
<!-- custom scripts -->
<script>
	angular.module('app', ['ngMaterial', 'ngMessages'])
		.config(function ($mdThemingProvider) {
			$mdThemingProvider.definePalette('fmService', {
				'50': '#f3e0e6',
				'100': '#e0b3bf',
				'200': '#cc8095',
				'300': '#b74d6b',
				'400': '#a7264b',
				'500': '#98002b',
				'600': '#900026',
				'700': '#850020',
				'800': '#7b001a',
				'900': '#6a0010',
				'A100': '#ff99a1',
				'A200': '#ff6672',
				'A400': '#ff3343',
				'A700': '#ff1a2b',
				'contrastDefaultColor': 'light',
				'contrastDarkColors': '50 100 200 A100 A200',
				'contrastLightColors': undefined
			});

			$mdThemingProvider.theme('default')
				.primaryPalette('blue-grey')
				.accentPalette('fmService')
		})
		.run(function ($log) {
			$log.debug("Login app is running...");
		});
</script>
</body>
</html>
