<div ng-cloak layout="column" layout-align="center center">
	<md-card>
		<md-input-container class="md-block">
			<input ng-model="user.email" type="email" placeholder="Email" ng-required="true">
		</md-input-container>
		<md-input-container class="md-block">
			<input ng-model="user.psw" type="password" placeholder="Password" ng-required="true">
		</md-input-container>
		<md-card-actions layout="row" layout-align="end center">
			<md-button>Sign in</md-button>
		</md-card-actions>
	</md-card>
</div>
