<!--<md-expansion-panel class="{{!task.finishDate && task.tab.allowHighlight ? 'highlight':''}}">--> <!-- TODO 26.10.2017 Temporary disabled -->
<md-expansion-panel>

    <md-expansion-panel-collapsed>
        <div flex layout="row" layout-align="start center" class="click-area" ng-click="task.click($event)">

            <div ng-if="task.caseColor" flex-gt-sm="10" flex-xs="25" flex-sm="20" layout="row" layout-align="start center">
                <i class="material-icons {{task.caseColor}}" ng-repeat="icon in task.getIcons()">{{icon}}</i>
            </div>
            <!--<i ng-if="task.caseColor" flex="10" class="material-icons {{task.caseColor}}">{{task.icon ? task.icon : task.tab.useCase.icon ? task.tab.useCase.icon : 'label'}}</i>-->
            <span hide show-gt-sm flex="40">{{task.caseTitle}}</span>
            <span flex-gt-sm="40" flex-xs="75" flex-sm="70">{{task.title}}</span>
            <i hide-xs ng-if="task.finishDate && !task.loading" flex="10" layout="row" layout-align="end center" class="material-icons color-fg-primary-500">done</i>
            <div hide-xs ng-if="task.loading" flex="10" layout="row" layout-align="end center">
                <md-progress-circular md-mode="indeterminate" md-diameter="30" class="progress-circular-stroke-primary-500"></md-progress-circular>
            </div>

        </div>
    </md-expansion-panel-collapsed>

    <md-expansion-panel-expanded>

        <md-expansion-panel-header ng-click="task.click($event)">

            <div ng-if="task.caseColor" flex-gt-sm="10" flex-xs="25" flex-sm="20" layout="row" layout-align="start center" class="{{task.caseColor}}">
                <i class="material-icons" ng-repeat="icon in task.getIcons()">{{icon}}</i>
            </div>

            <span hide show-gt-sm flex="40">{{task.caseTitle}}</span>

            <span flex-gt-sm="40" flex-xs="75" flex-sm="70">{{task.title}}</span>

            <i hide-xs ng-if="task.finishDate && !task.loading" flex="10" class="material-icons color-fg-primary-500">done</i>
            <div hide-xs ng-if="task.loading" flex="10" layout="row" layout-align="end center">
                <md-progress-circular md-mode="indeterminate" md-diameter="30" class="progress-circular-stroke-primary-500"></md-progress-circular>
            </div>

        </md-expansion-panel-header>

        <md-expansion-panel-content>

            <div ng-if="!task.loading" layout="row" layout-align="start center" layout-wrap class="cursor-default">
                <div flex="100" layout="row" layout-align="{{group.alignment + ' center'}}" layout-wrap ng-repeat="group in task.dataGroups">

                    <div ng-if="task.showDataGroupDivider(group)" flex="100" layout="row" layout-align="start center">
                        <div flex="20" class="line-3px color-bg-primary-op-50"></div>
                        <span class="margin-horizontal-default">{{group.title}}</span>
                        <div flex class="line-3px color-bg-primary-op-50"></div>
                    </div>

                    <div ng-if="!field.behavior.hidden" flex="{{group.stretch ? '100' : '50'}}" flex-md="100" flex-sm="100" flex-xs="100" ng-repeat="field in group.data">
                        <div flex ng-include="'views/app/datafields/field_input_'+field.type+'.html'" ng-cloak></div>
                        <md-divider hide show-xs class="color-border-primary-op-50 margin-bottom-2x"></md-divider>
                    </div>

                </div>
            </div>

            <div ng-if="task.data.length === 0 && !task.loading" layout="row" layout-align="center center">
                <span>{{::$i18n.block.task.noData}}</span>
            </div>

        </md-expansion-panel-content>

        <md-expansion-panel-footer md-no-sticky>
            <div flex layout-gt-xs="row" layout-xs="column" layout-align-gt-xs="end center" layout-align-xs="center center">

                <!-- TODO 9.1.2018 Delegate in case view -->
                <!--<md-button ng-click="task.delegate()" class="layout-xs-rw-100">-->
                    <!--Delegate-->
                <!--</md-button>-->

            <md-button ng-if="task.user.email === $user.login && task.status !== 'Done'" ng-click="task.finish()" class="layout-xs-rw-100">
                {{::$i18n.block.btn.finish}}
            </md-button>
            <md-button ng-click="task.click($event)" class="md-primary layout-xs-rw-100">
                {{::$i18n.block.btn.collapse}}
            </md-button>

            </div>
        </md-expansion-panel-footer>

    </md-expansion-panel-expanded>

</md-expansion-panel>