<md-expansion-panel>

    <md-expansion-panel-collapsed layout="row" layout-align="start center" ng-click="contact.click($event)">

        <i flex-gt-sm="5" flex-sm="10" flex-xs="20" class="material-icons color-fg-primary-500">account_circle</i>

        <!-- immediateData items (count) : md=3 sm=2 xs=1 -->
        <span flex-gt-md="20" ng-repeat="field in contact.immediateData | orderBy:'order'"
              ng-class="{'hide-md' : $index === 0, 'hide-sm' : $index === 0 || $index === 2, 'hide-xs' : $index !== 1,
              'flex-md-30' : $index !== 0, 'flex-sm-40' : $index === 1 || $index === 3, 'flex-xs-55' : $index === 1}">
            {{field.value}}
        </span>

        <span flex></span>

        <md-menu ng-if="contact.removable || contact.tasks.length > 0" flex-gt-sm="5" flex-sm="10" flex-xs="25" layout="row" layout-align="center center">

            <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)" md-menu-origin>
                <md-icon class="material-icons color-fg-accent-50">more_vert</md-icon>
            </md-button>

            <md-menu-content>
                <md-menu-item ng-repeat="task in contact.tasks | orderBy:'stringId'">
                    <md-button ng-click="task.click()">{{task.title}}</md-button>
                </md-menu-item>
                <md-menu-item ng-if="contact.removable">
                    <md-button ng-click="contact.delete()">{{::$i18n.block.btn.delete}}</md-button>
                </md-menu-item>
            </md-menu-content>

        </md-menu>

    </md-expansion-panel-collapsed>

    <md-expansion-panel-expanded>

        <md-expansion-panel-header ng-click="contact.click($event)" md-no-sticky>

            <i flex-gt-sm="5" flex-sm="10" flex-xs="20" class="material-icons color-fg-primary-500">account_circle</i>

            <!-- immediateData items : md=3 sm=2 xs=1 -->
            <span flex-gt-md="20" ng-repeat="field in contact.immediateData | orderBy:'order'"
                  ng-class="{'hide-md' : $index === 0, 'hide-sm' : $index === 0 || $index === 2, 'hide-xs' : $index !== 1,
                  'flex-md-30' : $index !== 0, 'flex-sm-40' : $index === 1 || $index === 3, 'flex-xs-55' : $index === 1}">
                {{field.value}}
            </span>

            <span flex></span>

            <md-menu ng-if="contact.removable || contact.tasks.length > 0" flex-gt-sm="5" flex-sm="10" flex-xs="25" layout="row" layout-align="center center">

                <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)" md-menu-origin>
                    <md-icon class="material-icons color-fg-accent-50">more_vert</md-icon>
                </md-button>

                <md-menu-content>
                    <md-menu-item ng-repeat="task in contact.tasks | orderBy:'stringId'">
                        <md-button ng-click="task.click()">{{task.title}}</md-button>
                    </md-menu-item>
                    <md-menu-item ng-if="contact.removable">
                        <md-button ng-click="contact.delete()">{{::$i18n.block.btn.delete}}</md-button>
                    </md-menu-item>
                </md-menu-content>

            </md-menu>

        </md-expansion-panel-header>

        <md-expansion-panel-content>
            <div layout="row" layout-align="center center">
                <div layout="row" layout-align="start center" layout-wrap class="cursor-default" ng-if="!task.loading">

                    <div ng-repeat="field in contact.data | orderBy:'order'" flex="50" flex-sm="100" ng-if="!field.behavior.hidden">
                        <div ng-include="'views/app/datafields/field_input_'+field.type+'.html'" ng-cloak flex></div>
                    </div>

                </div>
            </div>
        </md-expansion-panel-content>

        <md-expansion-panel-footer md-no-sticky> <!-- TODO 26.9.2017 responsive expansion panel footer -->

            <div flex></div>
            <md-button ng-repeat="task in contact.tasks | orderBy:'stringId'" ng-click="task.click()">
                {{task.title}}
            </md-button>
            <md-button ng-if="contact.removable" ng-click="contact.delete()">
                {{::$i18n.block.btn.delete}}
            </md-button>
            <md-button class="md-primary" ng-click="contact.click($event)">
                {{::$i18n.block.btn.collapse}}
            </md-button>

        </md-expansion-panel-footer>

    </md-expansion-panel-expanded>

</md-expansion-panel>