 <div class="card">

        <div layout="row" layout-align="space-between center" class="height-56px color-bg-primary-500 border-radius-top-default">

            <div class="padding-2x color-fg-accent-50">
                <span>{{::$i18n.page.filter.detail}}</span>
                <span>Label of selected filter</span>
            </div>

            <md-button class="md-icon-button">
                <md-icon class="material-icons color-fg-accent-50">close</md-icon>
            </md-button>

        </div> <!--Card header first row-->

        <div flex layout-wrap layout="row" layout-align="start center" class="data-field margin-left-2x margin-top-2x margin-right-2x">

            <div flex layout="column">

                <div>
                                            <span flex class="data-field-title cursor-pointer">
                                                {{::$i18n.page.filter.process}}
                                                <md-tooltip>
                                                    {{::$i18n.page.filter.tooltips.process}}
                                                </md-tooltip>
                                            </span>

                    <md-chips class="padding-bottom-default">
                        <md-chip>
                            Reklamacia
                        </md-chip>
                    </md-chips>
                </div>

                <div class="margin-top-default">
                                            <span flex class="data-field-title cursor-pointer">
                                                {{::$i18n.page.filter.transition}}
                                                <md-tooltip>
                                                    {{::$i18n.page.filter.tooltips.transition}}
                                                </md-tooltip>
                                            </span>

                    <md-chips class="padding-bottom-default">
                        <md-chip>
                            Odvoz
                        </md-chip>
                        <md-chip>
                            Odovzdat kurierovi
                        </md-chip>
                        <md-chip>
                            Prijat od kuriera
                        </md-chip>
                    </md-chips>
                </div>

                <md-input-container class="md-block">
                    <label>{{::$i18n.page.filter.description}}</label>
                    <textarea ng-model="TODO.description" md-maxlength="150" rows="3" md-select-on-focus></textarea>
                </md-input-container>

                <div layout="row" layout-align="start center" layout-wrap class="cursor-default">

                    <div flex="100" layout-wrap layout="row" layout-align="start center">

                        <div flex="100">

                            <div flex layout-wrap layout="row" layout-align="start center" class="data-field margin-bottom-2x" ng-cloak>

                                <div flex="20" hide-md>
                                                            <span flex class="data-field-title cursor-pointer">
                                                                {{::$i18n.page.filter.type}}
                                                            </span>
                                </div>

                                <div flex="5" hide-md></div>

                                <div flex="70" flex-md="90" layout="row" layout-align="space-between center" class="padding-vertical-default margin-left-2x">
                                    <div layout="row" layout-align="start center">
                                        <i class="material-icons margin-right-2x color-fg-primary-500">group</i>
                                        <span class="cursor-pointer">
                                                                    {{::$i18n.page.filter.group}}
                                                                </span>
                                    </div>
                                </div>

                                <div flex="5" flex-md="10"></div>

                            </div>

                            <!--<md-divider class="color-border-primary-op-50 margin-bottom-2x"></md-divider>-->

                        </div> <!-- ./Data-field -->

                        <div flex="100">

                            <div flex layout-wrap layout="row" layout-align="start center" class="data-field margin-bottom-2x" ng-cloak>

                                <div flex="20" hide-md>
                                                            <span flex class="data-field-title cursor-pointer">
                                                                {{::$i18n.page.filter.author}}
                                                            </span>
                                </div>

                                <div flex="5" hide-md></div>

                                <div flex="70" flex-md="90" layout="row" layout-align="space-between center" class="padding-vertical-default margin-left-2x">
                                    <div layout="row" layout-align="start center">
                                        <i class="material-icons margin-right-2x color-fg-primary-500">account_circle</i>
                                        <span class="cursor-pointer">
                                                                    Anonymous
                                                                    <md-tooltip>
                                                                        test@email.com
                                                                    </md-tooltip>
                                                                </span>
                                    </div>
                                </div>

                                <div flex="5" flex-md="10"></div>

                            </div>

                            <!--<md-divider class="color-border-primary-op-50 margin-bottom-2x"></md-divider>-->

                        </div> <!-- ./Data-field -->

                        <!--<md-divider class="color-border-primary-op-50 margin-bottom-2x"></md-divider>-->

                        <div flex="100">

                            <div flex layout-wrap layout="row" layout-align="start center" class="data-field" ng-cloak>

                                <div flex="20" hide-md>
                                                            <span flex class="data-field-title cursor-pointer">
                                                                {{::$i18n.page.filter.date}}
                                                            </span>
                                </div>

                                <div flex="5" hide-md></div>

                                <div flex="70" flex-md="90" layout="row" layout-align="space-between center" class="padding-vertical-default margin-left-2x">
                                    <div layout="row" layout-align="start center">
                                        <i class="material-icons margin-right-2x color-fg-primary-500">today</i>
                                        <span class="cursor-pointer">
                                                                    16.05.2018 16:27
                                                                </span>
                                    </div>
                                </div>

                                <div flex="5" flex-md="10"></div>

                            </div>

                            <!--<md-divider class="color-border-primary-op-50 margin-bottom-2x"></md-divider>-->

                        </div> <!-- ./Data-field -->

                    </div>

                </div>

                <md-divider></md-divider>

                <div flex layout="row" layout-align="end center">

                    <md-button class="md-primary" layout-align="center center">
                        {{::$i18n.block.btn.save}}
                    </md-button>

                    <md-button class="md-primary" layout-align="center center">
                        {{::$i18n.block.btn.edit}}
                    </md-button>

                    <md-button class="md-primary" layout-align="center center">
                        {{::$i18n.block.btn.delete}}
                    </md-button>

                </div>

            </div>

        </div>

    </div>
