<md-expansion-panel>

    <md-expansion-panel-collapsed>
        <div flex layout="row" layout-align="start center" class="click-area" ng-click="task.click($event)">

            <div ng-if="task.caseColor" flex-gt-xs="10" flex-xs="20" layout="row" layout-align="start center" class="{{task.caseColor}}">
                <i class="material-icons" ng-repeat="icon in task.getIcons()">{{icon}}</i>
            </div>

            <span flex-gt-xs="20" flex-xs="70">{{task.immediateData[0].value}}</span>

            <span hide-xs flex="30" layout="row" layout-align="start center">
                <i class="material-icons color-fg-primary-500 margin-right-default">account_circle</i>
                {{task.immediateData[1].value + " " + task.immediateData[2].value}}
            </span>

            <span hide-xs flex="30">{{tab.Task.formatDate(task.immediateData[3].value)}}</span>

            <div ng-if="task.loading" flex="10">
                <md-progress-circular md-mode="indeterminate" class="progress-circular-stroke-accent-50" md-diameter="30"></md-progress-circular>
            </div>

        </div>
    </md-expansion-panel-collapsed>

    <md-expansion-panel-expanded>

        <md-expansion-panel-header md-no-sticky>
            <div flex layout="row" layout-align="start center" class="click-area" ng-click="task.click($event)">

                <div ng-if="task.caseColor" flex-gt-xs="10" flex-xs="20" layout="row" layout-align="start center" class="{{task.caseColor}}">
                    <i class="material-icons" ng-repeat="icon in task.getIcons()">{{icon}}</i>
                </div>
                <span flex-gt-xs="20" flex-xs="70">{{task.immediateData[0].value}}</span>
                <span hide-xs flex="30" layout="row" layout-align="start center">
                    <i class="material-icons color-fg-primary-500 margin-right-default">account_circle</i> {{task.immediateData[1].value + " " + task.immediateData[2].value}}
                </span>
                <span hide-xs flex="30">{{task.formatDate(task.immediateData[3].value)}}</span>
                <div ng-if="task.loading" flex="10">
                    <md-progress-circular md-mode="indeterminate" class="progress-circular-stroke-accent-50" md-diameter="30"></md-progress-circular>
                </div>

            </div>
        </md-expansion-panel-header>

        <md-expansion-panel-content>
            <div layout="row" layout-align="start center" layout-wrap class="cursor-default" ng-if="!task.loading">

                <!-- TODO 3.10.2017 Show hidden immediate data for xs screens -->
                <div ng-repeat="group in task.dataGroups" layout="row" layout-align="{{group.alignment + ' center'}}" layout-wrap flex="100">

                    <div layout="row" layout-align="start center" flex="100" ng-if="task.showDataGroupDivider(group)">
                        <div flex="20" class="line-3px color-bg-primary-op-50"></div>
                        <span class="margin-horizontal-default">{{group.title}}</span>
                        <div flex class="line-3px color-bg-primary-op-50"></div>
                    </div>

                    <div ng-repeat="field in group.data" flex="{{group.stretch ? '100' : '50'}}" flex-sm="100" flex-xs="100" ng-if="!field.behavior.hidden">
                        <div ng-include="'views/app/datafields/field_input_'+field.type+'.html'" ng-cloak flex></div>
                        <md-divider class="color-border-primary-op-50 margin-bottom-2x" hide show-xs></md-divider>
                    </div>

                </div>
            </div>

            <div layout="row" layout-align="center center" ng-if="task.data.length === 0 && !task.loading">
                <span>{{::$i18n.block.task.noData}}</span>
            </div>
        </md-expansion-panel-content>

        <md-expansion-panel-footer md-no-sticky>
            <div flex layout-gt-xs="row" layout-xs="column" layout-align-gt-xs="end center" layout-align-xs="center center">

                <md-button ng-if="task.user.email === $user.login && task.status !== 'Done'" ng-click="task.finish()" class="layout-xs-rw-100">
                    {{::$i18n.block.btn.finish}}
                </md-button>
                <md-button ng-click="task.click($event)" class="md-primary layout-xs-rw-100">
                    {{::$i18n.block.btn.collapse}}
                </md-button>

            </div>
        </md-expansion-panel-footer>

    </md-expansion-panel-expanded>

</md-expansion-panel>