<md-expansion-panel class="task-panel" ng-repeat="task in tasksCtrl.tabs[$index].resources | orderBy:tasksCtrl.dynamicOrder:tasksCtrl.tabs[$index].sort.reverse">

    <md-expansion-panel-collapsed layout="row" layout-align="left center" ng-click="tasksCtrl.loadTaskData(task.visualId)">

        <p flex="25" layout="row" layout-align="start center">
            <i class="material-icons {{task.caseColor}}">label</i> {{task.caseTitle}}
        </p>
        <p flex="25">{{task.title}}</p>
        <task-priority flex="15" layout="row" layout-align="start center" priority="{{task.priority}}"></task-priority>
        <p flex="20" layout="row" layout-align="start center">
            <i ng-if="task.user" class="material-icons color-fg-primary-500">account_circle</i> {{task.user.name+" "+task.user.surname}}
        </p>
        <p flex="15">{{tasksCtrl.formatDate(task.startDate); caseCtrl.activeTab.formatDate(task.startDate)}}</p>
        <div ng-class="task.status !== 'Assigned' || task.user.email === $user.login ? 'visibility-visible' : 'visibility-hidden'">
            <md-menu>
                <md-button ng-click="$mdOpenMenu($event)" md-menu-origin>
                    <md-icon class="material-icons">more_vert</md-icon>
                </md-button>
                <md-menu-content>
                    <md-menu-item ng-if="task.status === 'New' && $user.canDo(task.roles,'perform')">
                        <md-button ng-click="tasksCtrl.assignTask(task); caseCtrl.activeTab.assignTask(task)">{{::$i18n.block.task.assign}}</md-button>
                    </md-menu-item>
                    <md-menu-item ng-if="task.status === 'New' && $user.canDo(task.roles,'delegate')">
                        <md-button ng-click="tasksCtrl.delegateTask(task)">{{::$i18n.block.task.delegate}}</md-button>
                    </md-menu-item>
                    <md-menu-item ng-if="task.user.email == $user.login && task.status != 'Done'">
                        <md-button ng-click="tasksCtrl.delegateTask(task)">{{::$i18n.block.task.reassign}}</md-button>
                    </md-menu-item>
                    <md-menu-item ng-if="task.user.email == $user.login && task.status != 'Done'">
                        <md-button ng-click="tasksCtrl.finishTask(task); caseCtrl.activeTab.finishTask(task)">{{::$i18n.block.task.finish}}</md-button>
                    </md-menu-item>
                    <md-menu-item ng-if="task.user.email == $user.login && task.status != 'Done'">
                        <md-button ng-click="tasksCtrl.cancelTask(task); caseCtrl.activeTab.cancelTask(task)">{{::$i18n.block.task.cancel}}</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>

    </md-expansion-panel-collapsed>

    <md-expansion-panel-expanded>

        <md-expansion-panel-header>

            <p flex="25" layout="row" layout-align="left center">
                <i class="material-icons {{task.caseColor}}">label</i> {{task.caseTitle}}
            </p>
            <p flex="25">{{task.title}}</p>
            <task-priority flex="15" layout="row" layout-align="left center" priority="{{task.priority}}"></task-priority>
            <p flex="20" layout="row" layout-align="left center">
                <i ng-if="task.user" class="material-icons color-fg-primary-500">account_circle</i> {{task.user.name+" "+task.user.surname}}
            </p>
            <p flex="15">{{tasksCtrl.formatDate(task.startDate); caseCtrl.activeTab.formatDate(task.startDate)}}</p>
            <md-button ng-click="$panel.collapse()">
                <md-icon class="material-icons">keyboard_arrow_up</md-icon>
            </md-button>

        </md-expansion-panel-header>

        <md-expansion-panel-content>

            <div layout="row" layout-align="left center" layout-wrap ng-if="task.data" class="cursor-default">
                <div class="data-row" ng-repeat="field in task.data" flex="50" flex-sm="100">
                    <div ng-include="'views/app/datafields/field_input_'+field.type+'.html'" ng-cloak flex></div>
                </div>
            </div>
            <div layout="row" layout-align="center center" ng-if="!task.data">
                <span>{{::$i18n.block.task.noDataMsg}}</span>
            </div>

        </md-expansion-panel-content>

        <md-expansion-panel-footer>

            <div flex></div>
            <md-button ng-if="task.status === 'New' && $user.canDo(task.roles,'perform')" ng-click="tasksCtrl.assignTask(task); caseCtrl.activeTab.assignTask(task)">{{::$i18n.block.task.assign}}</md-button>
            <md-button ng-if="task.status === 'New' && $user.canDo(task.roles,'delegate')" ng-click="tasksCtrl.delegateTask(task)">{{::$i18n.block.task.delegate}}</md-button>
            <md-button ng-if="task.user.email == $user.login && task.status != 'Done'" ng-click="tasksCtrl.delegateTask(task)">{{::$i18n.block.task.reassign}}</md-button>
            <md-button ng-if="task.user.email == $user.login && task.status != 'Done'" ng-click="tasksCtrl.saveData(task); caseCtrl.activeTab.saveData(task)">{{::$i18n.block.task.saveData}}</md-button>
            <md-button ng-if="task.user.email == $user.login && task.status != 'Done'" ng-click="tasksCtrl.finishTask(task); caseCtrl.activeTab.finishTask(task)">{{::$i18n.block.task.finish}}</md-button>
            <md-button ng-if="task.user.email == $user.login && task.status != 'Done'" ng-click="tasksCtrl.cancelTask(task); caseCtrl.activeTab.cancelTask(task)">{{::$i18n.block.task.cancel}}</md-button>
            <md-button class="md-primary" ng-click="$panel.collapse()">{{::$i18n.block.task.collapse}}</md-button>

        </md-expansion-panel-footer>

    </md-expansion-panel-expanded>

</md-expansion-panel>