<md-expansion-panel>

    <md-expansion-panel-collapsed>
        <div flex layout="row" layout-align="start center" class="click-area" ng-click="null">

            <span flex-gt-md="20" layout="row" layout-align="start center">
                <i class="material-icons color-fg-deep-purple-600 margin-right-2x">label</i>
                Case Title
            </span>

            <span flex-gt-md="20">
                Task Title
            </span>

            <task-priority flex-gt-md="10" priority="1"></task-priority>

            <span flex-gt-md="20" layout="row" layout-align="start center">
                <i class="material-icons color-fg-primary-500 margin-right-2x">account_circle</i>
                Name Surname
            </span>

            <span flex-gt-md="20">
                9.1.2018 14:04
            </span>

            <i hide-xs ng-if="false" flex="10" layout="row" layout-align="end center" class="material-icons color-fg-primary-500">done</i>

            <md-menu ng-if="true" flex="10" layout="row" layout-align="end center">

                <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)" md-menu-origin>
                    <md-icon class="material-icons">more_vert</md-icon>
                </md-button>

                <md-menu-content>

                    <md-menu-item ng-if="true">
                        <md-button ng-if="true" ng-click="null">
                            {{::$i18n.block.btn.assign}}
                        </md-button>
                    </md-menu-item>

                    <md-menu-item ng-if="true">
                        <md-button ng-if="true" ng-click="null">
                            {{::$i18n.block.btn.delegate}}
                        </md-button>
                    </md-menu-item>

                    <md-menu-item ng-if="true">
                        <md-button ng-if="true" ng-click="null">
                            {{::$i18n.block.btn.reassign}}
                        </md-button>
                    </md-menu-item>

                    <md-menu-item ng-if="true">
                        <md-button ng-if="true" ng-click="null">
                            {{::$i18n.block.btn.cancel}}
                        </md-button>
                    </md-menu-item>

                    <md-menu-item ng-if="true">
                        <md-button ng-if="true" ng-click="null">
                            {{::$i18n.block.btn.finish}}
                        </md-button>
                    </md-menu-item>

                </md-menu-content>

            </md-menu>

            <div hide-xs ng-if="false" flex="10" layout="row" layout-align="end center">
                <md-progress-circular md-mode="indeterminate" md-diameter="30" class="progress-circular-stroke-primary-500"></md-progress-circular>
            </div>

        </div>
    </md-expansion-panel-collapsed>

    <md-expansion-panel-expanded>

        <md-expansion-panel-header ng-click="$panel.collapse()">

            <span flex-gt-md="20" layout="row" layout-align="start center">
                <i class="material-icons color-fg-deep-purple-600 margin-right-2x">label</i>
                Case Title
            </span>

            <span flex-gt-md="20">
                Task Title
            </span>

            <task-priority flex-gt-md="10" priority="1"></task-priority>

            <span flex-gt-md="20" layout="row" layout-align="start center">
                <i class="material-icons color-fg-primary-500 margin-right-2x">account_circle</i>
                Name Surname
            </span>

            <span flex-gt-md="20">
                9.1.2018 14:04
            </span>

            <i hide-xs ng-if="false" flex="10" layout="row" layout-align="end center" class="material-icons color-fg-primary-500">done</i>

            <div hide-xs ng-if="true" flex="10" layout="row" layout-align="end center">
                <md-progress-circular md-mode="indeterminate" md-diameter="30" class="progress-circular-stroke-primary-500"></md-progress-circular>
            </div>

        </md-expansion-panel-header>

        <md-expansion-panel-content>

            <div ng-if="false" layout="row" layout-align="start center" layout-wrap class="cursor-default">
                <div flex="100" layout="row" layout-align="{{group.alignment + ' center'}}" layout-wrap ng-repeat="group in task.dataGroups">

                    <div ng-if="task.showDataGroupDivider(group)" flex="100" layout="row" layout-align="start center">
                        <div flex="20" class="line-3px color-bg-primary-op-50"></div>
                        <span class="margin-horizontal-default">{{group.title}}</span>
                        <div flex class="line-3px color-bg-primary-op-50"></div>
                    </div>

                    <div ng-if="!field.behavior.hidden" flex="{{group.stretch ? '100' : '50'}}" flex-md="100" flex-sm="100" flex-xs="100" ng-repeat="field in group.data">
                        <div flex ng-include="'views/app/datafields/field_input_'+field.type+'.html'" ng-cloak></div>
                        <md-divider hide show-xs class="color-border-primary-op-50 margin-bottom-2x"></md-divider>
                    </div>

                </div>
            </div>

            <div ng-if="true" layout="row" layout-align="center center">
                <span>{{::$i18n.block.task.noData}}</span>
            </div>

        </md-expansion-panel-content>

        <md-expansion-panel-footer md-no-sticky>
            <div flex layout-gt-xs="row" layout-xs="column" layout-align-gt-xs="end center" layout-align-xs="center center">

                <md-button ng-if="true" ng-click="null" class="layout-xs-rw-100">
                    {{::$i18n.block.btn.assign}}
                </md-button>
                <md-button ng-if="true" ng-click="null" class="layout-xs-rw-100">
                    {{::$i18n.block.btn.delegate}}
                </md-button>
                <md-button ng-if="true" ng-click="null" class="layout-xs-rw-100">
                    {{::$i18n.block.btn.reassign}}
                </md-button>
                <md-button ng-if="true" ng-click="null" class="layout-xs-rw-100">
                    {{::$i18n.block.btn.cancel}}
                </md-button>
                <md-button ng-if="true" ng-click="null" class="layout-xs-rw-100">
                    {{::$i18n.block.btn.finish}}
                </md-button>
                <md-button ng-click="$panel.collapse()" class="md-primary layout-xs-rw-100">
                    {{::$i18n.block.btn.collapse}}
                </md-button>

            </div>
        </md-expansion-panel-footer>

    </md-expansion-panel-expanded>

</md-expansion-panel>