<md-expansion-panel class="{{!taskCtrl.finishDate && taskCtrl.allowHighlight ? 'highlight':''}}">
    <md-expansion-panel-collapsed>
        <div flex layout="row" layout-align="start center" class="click-area" ng-click="taskCtrl.click($event)">

            <div ng-if="taskCtrl.taskCaseTitle" flex-gt-md="20" flex-md="25" flex-sm="35" flex-xs="30" layout="row" layout-align="start center">
                <i class="material-icons {{taskCtrl.caseColor}} margin-right-2x" ng-repeat="icon in taskCtrl.icons()">{{icon}}</i>
                <span hide-xs>{{taskCtrl.caseTitle}}</span>
            </div>

            <span ng-if="taskCtrl.taskCaseTitle && taskCtrl.taskPriority" flex-gt-sm="25" flex-sm="35" flex-xs="50">
                {{taskCtrl.title}}
            </span>

            <div ng-if="!taskCtrl.taskCaseTitle && taskCtrl.taskPriority" flex-gt-md="45" flex-md="50" flex-sm="70" flex-xs="80" layout="row" layout-align="start center">
                <i class="material-icons {{taskCtrl.caseColor}} margin-right-2x" ng-repeat="icon in taskCtrl.icons()">{{icon}}</i>
                <span>{{taskCtrl.title}}</span>
            </div>

            <span ng-if="taskCtrl.taskCaseTitle && !taskCtrl.taskPriority" flex-gt-md="35" flex-md="40" flex-sm="65" flex-xs="50">
                {{taskCtrl.title}}
            </span>

            <div ng-if="!taskCtrl.taskCaseTitle && !taskCtrl.taskPriority" flex-gt-md="55" flex-md="65" flex-sm="90" flex-xs="80" layout="row" layout-align="start center">
                <i class="material-icons {{taskCtrl.caseColor}} margin-right-2x" ng-repeat="icon in taskCtrl.icons()">{{icon}}</i>
                <span>{{taskCtrl.title}}</span>
            </div>

            <div ng-if="taskCtrl.taskPriority" hide-xs flex-gt-md="10" flex-md="15" flex-sm="20">
                <task-priority priority="{{taskCtrl.priority}}"></task-priority>
            </div>

            <div hide show-gt-sm flex-gt-md="20" flex-md="25" layout="row" layout-align="start center">
                <i ng-if="taskCtrl.user" class="material-icons color-fg-primary-500 margin-right-2x">account_circle</i>
                <span>{{taskCtrl.user.fullName}}</span>
            </div>

            <span hide show-gt-md flex="15">
                {{taskCtrl.formatedStartDate}}
            </span>

            <md-menu ng-if="!taskCtrl.loading && (taskCtrl.assignPolicy === taskCtrl.ASSIGN_POLICY.manual && $user.canDo(taskCtrl.roles, 'perform'))"
                     flex-gt-xs="10" flex-xs="20" layout="row" layout-align="end center">

                <md-button class="md-icon-button" ng-click="$mdMenu.open($event)" md-menu-origin>
                    <md-icon class="material-icons">more_vert</md-icon>
                </md-button>

                <md-menu-content>

                    <md-menu-item ng-if="taskCtrl.assignPolicy === taskCtrl.ASSIGN_POLICY.manual && !taskCtrl.user && $user.canDo(taskCtrl.roles, 'perform')">
                        <md-button ng-click="taskCtrl.assign(taskCtrl.createReloadChain())">
                            <md-icon class="material-icons">person</md-icon>
                            <span>{{::taskCtrl.getAssignTitle()}}</span>
                        </md-button>
                    </md-menu-item>

                    <md-menu-item ng-if="$user.canDo(taskCtrl.roles, 'delegate')">
                        <md-button ng-click="taskCtrl.delegate(taskCtrl.createReloadChain())">
                            <md-icon class="material-icons">person_outline</md-icon>
                            <span>{{::taskCtrl.getDelegateTitle()}}</span>
                        </md-button>
                    </md-menu-item>

                    <md-menu-item ng-if="(taskCtrl.user.email === $user.login) && ($user.canDo(taskCtrl.roles, 'delegate'))">
                        <md-button ng-click="taskCtrl.delegate(taskCtrl.createReloadChain())">
                            <md-icon class="material-icons">person_add</md-icon>
                            <span>{{::$i18n.block.btn.reassign}}</span>
                        </md-button>
                    </md-menu-item>

                    <md-menu-item ng-if="(taskCtrl.assignPolicy === taskCtrl.ASSIGN_POLICY.manual && taskCtrl.user.email === $user.login) || (taskCtrl.user && $user.canDo(taskCtrl.roles, 'cancel'))">
                        <md-button ng-click="taskCtrl.cancel(taskCtrl.createReloadChain())">
                            <md-icon class="material-icons">cancel</md-icon>
                            <span>{{::taskCtrl.getCancelTitle()}}</span>
                        </md-button>
                    </md-menu-item>

                    <md-menu-item ng-if="taskCtrl.user.email === $user.login">
                        <md-button ng-click="taskCtrl.finish(taskCtrl.createReloadChain())">
                            <md-icon class="material-icons">done</md-icon>
                            <span>{{::taskCtrl.getFinishTitle()}}</span>
                        </md-button>
                    </md-menu-item>

                </md-menu-content>

            </md-menu>

            <div ng-if="!taskCtrl.loading && (taskCtrl.assignPolicy === taskCtrl.ASSIGN_POLICY.auto && $user.canDo(taskCtrl.roles, 'perform'))"
                 flex-gt-xs="10" flex-xs="20">
            </div>

            <div ng-if="taskCtrl.loading && !taskCtrl.expanded" flex-gt-xs="10" flex-xs="20" layout="row" layout-align="end center">
                <md-progress-circular md-mode="indeterminate" md-diameter="30" class="progress-circular-stroke-primary-500"></md-progress-circular>
            </div>

        </div>
    </md-expansion-panel-collapsed>

    <md-expansion-panel-expanded>

        <md-expansion-panel-header ng-click="taskCtrl.click($event)">

            <div ng-if="taskCtrl.taskCaseTitle" flex-gt-md="20" flex-md="25" flex-sm="35" flex-xs="30" layout="row" layout-align="start center">
                <i class="material-icons {{taskCtrl.caseColor}} margin-right-2x" ng-repeat="icon in taskCtrl.icons()">{{icon}}</i>
                <span hide-xs>{{taskCtrl.caseTitle}}</span>
            </div>

            <span ng-if="taskCtrl.taskCaseTitle && taskCtrl.taskPriority" flex-gt-sm="25" flex-sm="35" flex-xs="50">
                {{taskCtrl.title}}
            </span>

            <div ng-if="!taskCtrl.taskCaseTitle && taskCtrl.taskPriority" flex-gt-md="45" flex-md="50" flex-sm="70" flex-xs="80" layout="row" layout-align="start center">
                <i class="material-icons {{taskCtrl.caseColor}} margin-right-2x" ng-repeat="icon in taskCtrl.icons()">{{icon}}</i>
                <span>{{taskCtrl.title}}</span>
            </div>

            <span ng-if="taskCtrl.taskCaseTitle && !taskCtrl.taskPriority" flex-gt-md="35" flex-md="40" flex-sm="65" flex-xs="50">
                {{taskCtrl.title}}
            </span>

            <div ng-if="!taskCtrl.taskCaseTitle && !taskCtrl.taskPriority" flex-gt-md="55" flex-md="65" flex-sm="90" flex-xs="80" layout="row" layout-align="start center">
                <i class="material-icons {{taskCtrl.caseColor}} margin-right-2x" ng-repeat="icon in taskCtrl.icons()">{{icon}}</i>
                <span>{{taskCtrl.title}}</span>
            </div>

            <div ng-if="taskCtrl.taskPriority" hide-xs flex-gt-md="10" flex-md="15" flex-sm="20">
                <task-priority priority="{{taskCtrl.priority}}"></task-priority>
            </div>

            <div hide show-gt-sm flex-gt-md="20" flex-gt-sm="25" layout="row" layout-align="start center">
                <i ng-if="taskCtrl.user" class="material-icons color-fg-primary-500 margin-right-2x">account_circle</i>
                <span>{{taskCtrl.user.fullName}}</span>
            </div>

            <span hide show-gt-md flex="15">
                {{taskCtrl.formatedStartDate}}
            </span>

            <i ng-if="taskCtrl.finishDate && !taskCtrl.loading" flex-gt-xs="10" flex-xs="20" layout="row" layout-align="end center" class="material-icons color-fg-primary-500">done</i>

            <div ng-if="taskCtrl.loading && taskCtrl.expanded" flex-gt-xs="10" flex-xs="20" layout="row" layout-align="end center">
                <md-progress-circular md-mode="indeterminate" md-diameter="30" class="progress-circular-stroke-primary-500"></md-progress-circular>
            </div>

            <div ng-if="!taskCtrl.finishDate && !taskCtrl.loading" flex-gt-xs="10" flex-xs="20"></div> <!-- Done Icon / Menu / Loader -->

        </md-expansion-panel-header>

        <md-expansion-panel-content>

            <div layout="row" layout-align="start center" layout-wrap class="cursor-default">

                <div ng-class="!taskCtrl.user ? 'hide-gt-xs' : ''" hide-gt-md flex="100" layout="row" layout-align="start center" layout-wrap>

                    <div flex="100" layout="row" layout-align="start center">
                        <div flex="20" class="line-3px color-bg-primary-op-50"></div>
                        <span class="margin-horizontal-default font-weight-600">{{::$i18n.block.task.details}}</span>
                        <div flex class="line-3px color-bg-primary-op-50"></div>
                    </div>

                    <!-- Case -->
                    <div hide-gt-xs flex-gt-sm="50" flex-sm="100" flex-xs="100" layout-wrap layout="row" layout-align="start center" class="margin-vertical-default">

                        <span hide-xs flex-gt-xs="20">
                            {{::$i18n.block.task.header.case}}
                        </span>

                        <div hide-xs flex-gt-xs="5"></div>

                        <div flex-gt-xs="70" flex-xs layout="row" layout-align="start center">

                            <span layout="row" layout-align="start center">
                                <i class="material-icons {{taskCtrl.caseColor}} margin-right-2x" ng-repeat="icon in taskCtrl.icons()">{{icon}}</i>
                                <md-tooltip hide-gt-xs md-direction="bottom">
                                    {{::$i18n.block.task.header.case}}
                                </md-tooltip>
                            </span>
                            <span>
                                {{taskCtrl.caseTitle}}
                            </span>

                        </div>

                        <div hide-xs flex-gt-xs="5"></div>

                    </div>

                    <!-- Priority -->
                    <div ng-if="taskCtrl.taskPriority" hide-gt-xs flex-gt-sm="50" flex-sm="100" flex-xs="100" layout-wrap layout="row" layout-align="start center" class="margin-vertical-default">

                        <span hide-xs flex-gt-xs="20">
                            {{::$i18n.block.task.header.priority}}
                        </span>

                        <div hide-xs flex-gt-xs="5"></div>

                        <div flex-gt-xs="70" flex-xs layout="row" layout-align="start center">

                            <task-priority priority="{{taskCtrl.priority}}">
                                <md-tooltip hide-gt-xs md-direction="bottom">
                                    {{::$i18n.block.task.header.priority}}
                                </md-tooltip>
                            </task-priority>

                        </div>

                        <div hide-xs flex-gt-xs="5"></div>

                    </div>

                    <!-- User -->
                    <div ng-if="taskCtrl.user" hide-gt-sm flex-gt-sm="50" flex-sm="100" flex-xs="100" layout-wrap layout="row" layout-align="start center" class="margin-vertical-default">

                        <span hide-xs flex-gt-xs="20">
                            {{::$i18n.block.task.header.user}}
                        </span>

                        <div hide-xs flex-gt-xs="5"></div>

                        <div flex-gt-xs="70" flex-xs layout="row" layout-align="start center">

                            <i class="material-icons margin-right-2x color-fg-primary-500">
                                account_circle
                                <md-tooltip hide-gt-xs md-direction="bottom">
                                    {{::$i18n.block.task.header.user}}
                                </md-tooltip>
                            </i>
                            <span>
                                {{taskCtrl.user.fullName}}
                            </span>

                        </div>

                        <div hide-xs flex-gt-xs="5"></div>

                    </div>

                    <!-- AssignDate -->
                    <div ng-if="taskCtrl.user" hide-gt-md flex-gt-sm="50" flex-sm="100" flex-xs="100" layout-wrap layout="row" layout-align="start center" class="margin-vertical-default">

                        <span hide-xs flex-gt-xs="20">
                            {{::$i18n.block.task.header.assignDate}}
                        </span>

                        <div hide-xs flex-gt-xs="5"></div>

                        <div flex-gt-xs="70" flex-xs layout="row" layout-align="start center">

                            <i class="material-icons margin-right-2x color-fg-primary-500">
                                today
                                <md-tooltip hide-gt-xs md-direction="bottom">
                                    {{::$i18n.block.task.header.assignDate}}
                                </md-tooltip>
                            </i>
                            <span>
                                {{taskCtrl.formatedStartDate}}
                            </span>

                        </div>

                        <div hide-xs flex-gt-xs="5"></div>

                    </div>

                    <div flex="100" layout="row" layout-align="start center">
                        <div flex="20" class="line-3px color-bg-primary-op-50"></div>
                        <span class="margin-horizontal-default font-weight-600">{{::$i18n.block.task.data}}</span>
                        <div flex class="line-3px color-bg-primary-op-50"></div>
                    </div>

                    <md-divider class="color-border-transparent border-width-2x"></md-divider>

                </div> <!-- ./row -->

                <div ng-repeat="group in taskCtrl.dataGroups" flex="100" layout="row" layout-align="{{group.alignment + ' center'}}" layout-wrap>

                    <div ng-if="taskCtrl.showDataGroupDivider(group)" flex="100" layout="row" layout-align="start center">
                        <div flex="20" class="line-3px color-bg-primary-op-50"></div>
                        <span class="margin-horizontal-default">{{group.title}}</span>
                        <div flex class="line-3px color-bg-primary-op-50"></div>
                    </div>

                    <div ng-repeat="field in group.data" ng-if="!field.behavior.hidden && !field.behavior.forbidden" flex="{{group.stretch ? '100' : '50'}}" flex-md="100" flex-sm="100" flex-xs="100">
                        <div flex ng-include="'views/app/datafields/field_input_'+field.getTemplate()+'.html'" ng-cloak></div>
                        <md-divider hide show-xs class="color-border-primary-op-50 margin-bottom-2x"></md-divider>
                    </div>

                </div>
            </div>

            <div ng-if="!taskCtrl.loading && taskCtrl.dataSize === 0" layout="row" layout-align="center center">
                <div layout="column" layout-align="center center">
                    <i class="material-icons color-fg-blue-grey-500">block</i>
                    <span>{{::$i18n.block.task.noData}}</span>
                </div>
            </div>

        </md-expansion-panel-content>

        <md-expansion-panel-footer md-no-sticky>
            <div flex layout-gt-xs="row" layout-xs="column" layout-align-gt-xs="end center" layout-align-xs="center center">

                <md-button ng-if="taskCtrl.assignPolicy === taskCtrl.ASSIGN_POLICY.manual && !taskCtrl.user && $user.canDo(taskCtrl.roles, 'perform')"
                           ng-click="taskCtrl.assign(taskCtrl.createReloadChain())"
                           ng-disabled="taskCtrl.loading"
                           class="layout-xs-rw-100">
                    <span>{{::taskCtrl.getAssignTitle()}}</span>
                </md-button>

                <md-button ng-if="$user.canDo(taskCtrl.roles, 'delegate')"
                           ng-click="taskCtrl.delegate(taskCtrl.createReloadChain())"
                           ng-disabled="taskCtrl.loading"
                           class="layout-xs-rw-100">
                    <span>{{::taskCtrl.getDelegateTitle()}}</span>
                </md-button>

                <md-button ng-if="(taskCtrl.user.email === $user.login)"
                           ng-click="taskCtrl.delegate(taskCtrl.createReloadChain())"
                           ng-disabled="taskCtrl.loading"
                           class="layout-xs-rw-100">
                    <span>{{::$i18n.block.btn.reassign}}</span>
                </md-button>

                <md-button ng-if="(taskCtrl.assignPolicy === taskCtrl.ASSIGN_POLICY.manual && taskCtrl.user.email === $user.login) || (taskCtrl.user && $user.canDo(taskCtrl.roles, 'cancel'))"
                           ng-click="taskCtrl.cancel(taskCtrl.createReloadChain());taskCtrl.collapse()"
                           ng-disabled="taskCtrl.loading"
                           class="layout-xs-rw-100">
                    <span>{{::taskCtrl.getCancelTitle()}}</span>
                </md-button>

                <md-button ng-if="taskCtrl.user.email === $user.login"
                           ng-click="taskCtrl.finish(taskCtrl.createReloadChain())"
                           ng-disabled="taskCtrl.loading"
                           class="layout-xs-rw-100">
                    <span>{{::taskCtrl.getFinishTitle()}}</span>
                </md-button>

                <md-button ng-if="taskCtrl.assignPolicy === taskCtrl.ASSIGN_POLICY.manual" ng-click="taskCtrl.click()" class="md-primary layout-xs-rw-100">
                    <span>{{::$i18n.block.btn.collapse}}</span>
                </md-button>

            </div>
        </md-expansion-panel-footer>

    </md-expansion-panel-expanded>

</md-expansion-panel>