<md-expansion-panel>

    <md-expansion-panel-collapsed>
        <div flex layout="row" layout-align="start center" class="click-area" ng-click="null">

            <div flex-gt-sm="15" flex-sm="15" flex-xs="30" layout="row" layout-align="start center">
                <span class="color-fg-primary-500 font-weight-600">{{workPanelCtrl.initials}}</span>
            </div>

            <span flex-gt-sm="25" flex-sm="40" flex-xs="50">{{workPanelCtrl.title}}</span>

            <span hide show-gt-xs flex-gt-sm="30" flex-sm="35" layout="row" layout-align="start center">
                <i class="material-icons color-fg-primary-500 margin-right-2x">account_circle</i>
                {{workPanelCtrl.author.fullName ? workPanelCtrl.author.fullName : workPanelCtrl.author.email}}
            </span>

            <span hide show-gt-sm flex-gt-sm="20">
                {{workPanelCtrl.uploadDate}}
            </span>

            <!--TODO 5.2.2018 implement disable and delete for model-->
            <!--<md-menu flex-gt-xs="10" flex-xs="20" layout="row" layout-align="end center">-->
                <!--<md-button class="md-icon-button" ng-click="$mdMenu.open($event)" md-menu-origin>-->
                    <!--<md-icon class="material-icons">more_vert</md-icon>-->
                <!--</md-button>-->
                <!--<md-menu-content>-->
                    <!--<md-menu-item>-->
                        <!--<md-button ng-click="null">-->
                            <!--<md-icon class="material-icons">delete</md-icon>-->
                            <!--<span>{{$i18n.block.btn.delete}}</span>-->
                        <!--</md-button>-->
                    <!--</md-menu-item>-->
                <!--</md-menu-content>-->
            <!--</md-menu>-->

        </div>
    </md-expansion-panel-collapsed>

    <md-expansion-panel-expanded>

        <md-expansion-panel-header ng-click="$panel.collapse()" md-no-sticky>

            <div flex-gt-sm="15" flex-sm="15" flex-xs="30" layout="row" layout-align="start center">
                <span class="color-fg-primary-500 font-weight-600">{{workPanelCtrl.initials}}</span>
            </div>

            <span flex-gt-sm="25" flex-sm="40" flex-xs="50">{{workPanelCtrl.title}}</span>

            <span hide show-gt-xs flex-gt-sm="30" flex-sm="30" layout="row" layout-align="start center">
                <i class="material-icons color-fg-primary-500 margin-right-2x">account_circle</i>
                {{workPanelCtrl.author.fullName ? workPanelCtrl.author.fullName : workPanelCtrl.author.email}}
            </span>

            <span hide show-gt-sm flex-gt-sm="20">
                {{workPanelCtrl.uploadDate}}
            </span>

        </md-expansion-panel-header>

        <md-expansion-panel-content>
            <div layout="row" layout-align="start center" layout-wrap class="cursor-default">
                <div flex="100" layout-wrap layout="row" layout-align="start center">

                    <div flex="100" layout="row" layout-align="start center">
                        <div flex="20" class="line-3px color-bg-primary-op-50"></div>
                        <span class="margin-horizontal-default font-weight-600">{{::$i18n.page.workflow.data.group.details}}</span>
                        <div flex class="line-3px color-bg-primary-op-50"></div>
                    </div> <!-- ./Group-divider -->

                    <div flex-gt-sm="50" flex-sm="100" flex-xs="100" layout-wrap layout="row" layout-align="start center" class="margin-vertical-default"
                         ng-repeat="(key, val) in workPanelCtrl.details">

                        <span hide-xs flex-gt-xs="20">
                            {{::val.name}}
                        </span>

                        <div hide-xs flex-gt-xs="5"></div>

                        <div flex-gt-xs="50" flex-xs="80" layout="row" layout-align="start center">
                            <i class="material-icons color-fg-primary-500 margin-right-2x">
                                {{::val.icon}}
                                <md-tooltip hide-gt-xs md-direction="bottom">
                                    {{::val.name}}
                                </md-tooltip>
                            </i>
                            <span>
                                {{val.value}}
                                <md-tooltip ng-if="!!val.tooltip" hide-gt-xs md-direction="bottom">
                                    {{val.tooltip}}
                                </md-tooltip>
                            </span>
                        </div>

                        <div flex="20" layout="row" layout-align="end center">

                            <md-button ng-if="!!val.button" class="md-icon-button" ng-click="workPanelCtrl.downloadModel()">
                                <md-icon class="material-icons">{{::val.button.name}}</md-icon>
                                <md-tooltip md-direction="bottom">
                                    {{::val.button.tooltip}}
                                </md-tooltip>
                            </md-button>

                        </div>

                        <div hide-xs flex-gt-xs="5"></div>

                    </div>

                    <div flex="100" layout="row" layout-align="start center">
                        <div flex="20" class="line-3px color-bg-primary-op-50"></div>
                        <span class="margin-horizontal-default font-weight-600">{{::$i18n.page.workflow.data.group.statistics}}</span>
                        <div flex class="line-3px color-bg-primary-op-50"></div>
                    </div> <!-- ./Group-divider -->

                    <div flex-gt-sm="50" flex-sm="100" flex-xs="100" layout-wrap layout="row" layout-align="start center" class="margin-vertical-default"
                         ng-repeat="(key, val) in workPanelCtrl.stats">

                        <span hide-xs flex-gt-xs="20">
                            {{::val.name}}
                        </span>

                        <div hide-xs flex-gt-xs="5"></div>

                        <div flex-gt-xs="70" flex-xs layout="row" layout-align="start center">
                            <i class="material-icons color-fg-primary-500 margin-right-2x">
                                {{::val.icon}}
                                <md-tooltip hide-gt-xs md-direction="bottom">
                                    {{::val.name}}
                                </md-tooltip>
                            </i>
                            <span>
                                {{val.value}}
                            </span>
                        </div>

                        <div hide-xs flex-gt-xs="5"></div>

                    </div>

                </div> <!-- ./row -->
            </div> <!-- ./row -->
        </md-expansion-panel-content>

        <md-expansion-panel-footer md-no-sticky>
            <div flex layout-gt-xs="row" layout-xs="column" layout-align-gt-xs="end center" layout-align-xs="center center">

                <!--TODO 5.2.2018-->
                <!--<md-button ng-if="true" class="layout-xs-rw-100">-->
                    <!--{{$i18n.block.btn.delete}}-->
                <!--</md-button>-->

                <md-button ng-click="$panel.collapse()" class="md-primary layout-xs-rw-100">
                    {{::$i18n.block.btn.collapse}}
                </md-button>

            </div>
        </md-expansion-panel-footer>

    </md-expansion-panel-expanded>

</md-expansion-panel>