@import 'colors';
@import 'dims';

// Dims for header background
$background-header-height: 195px;
$tab-header-height: $dim-48px;

.background {

	&-auth {
		background-size: cover !important;
		background: url("../../../assets/default/netgrif_background.png");
	}

    &-default {
        background-size: cover !important;
        background-color: $color-background;
    }

	&-tabs {

		md-tabs-wrapper {
			background-color: $color-background;
		}
	}
}
