<!-- Style sidenav: height 100% when gt-sm -->
<md-sidenav md-component-id="left-nav" md-is-locked-open="$mdMedia('gt-sm')" class="sidenav md-sidenav-left">
    <md-content layout="column">

        <md-button href="/dashboard" layout="row" layout-align="start center" ng-class="{active: ('dashboard' | routeSegmentContains)}">
            <i class="material-icons">dashboard</i>{{::$i18n.page.dashboard.this}}
        </md-button>

        <md-button href="/cases" layout="row" layout-align="start center" ng-class="{active: ('cases' | routeSegmentContains)}">
            <i class="material-icons">storage</i>{{::$i18n.page.cases.this}}
        </md-button>

        <md-button href="/tasks" layout="row" layout-align="start center" ng-class="{active: ('tasks' | routeSegmentContains)}">
            <i class="material-icons">check_box</i>{{::$i18n.page.tasks.this}}
        </md-button>

        <md-button href="/workflow" layout="row" layout-align="start center" ng-class="{active: ('workflow' | routeSegmentContains)}">
            <i class="material-icons">linear_scale</i>{{::$i18n.page.workflow.this}}
        </md-button>

        <md-button href="/console" ng-if="$user.hasAuthority('ROLE_ADMIN')" layout="row" layout-align="start center" ng-class="{active: ('console' | routeSegmentContains)}">
            <i class="material-icons">developer_board</i>{{::$i18n.page.console.this}}
        </md-button>

        <div flex></div>

        <a href="/" hide-gt-sm layout="row" layout-align="center center" class="sidenav-logo padding-vertical-default">
            <img src="../../assets/dark-blue/logo_small.svg" alt="logo">
        </a>

        <div layout="column" layout-align="center center" class="margin-bottom-default">
            <span class="color-fg-accent-50 font-size-12">© Netgrif AE</span>
            <span class="color-fg-accent-50 font-size-12">{{::$i18n.version.this + " " + $i18n.version.id}}</span>
        </div>

    </md-content>
</md-sidenav>