import {Injectable} from '@angular/core';
import {ViewService} from '@netgrif/application-engine';

@Injectable({
    providedIn: 'root'
})
export class <%= classify(project) %>ViewService extends ViewService {
    constructor() {
        // This class is managed by schematics. Avoid modifying it by hand.
        // If you want to add views to the application run the 'create-view' schematic.
        super([]);
    }
}
