.case-view-container {
    margin: 0 16px;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.case-view-search-container {
    margin-top: 16px;
    padding: 16px;
}

.case-header-padding {
    padding-bottom: 16px;
    padding-top: 16px;
}

.font-size-20 {
    font-size: 20px;
}

.full-height {
    height: 100%;
}

.search-width {
    width: 100%;
}

