.case-view-container {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.case-view-search-container {
    margin-top: 16px;
    padding: 16px;
    margin-bottom: 4px;
}

.case-header-padding {
    padding-bottom: 16px;
    padding-top: 16px;
}

.font-size-20 {
    font-size: 20px;
}

.search-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.overflow-div {
    overflow-x: scroll;
}

.transform-div {
    transform:rotateX(180deg);
    -ms-transform:rotateX(180deg); /* IE 9 */
    -webkit-transform:rotateX(180deg);
}

.custom-scrollbar {

    &::-webkit-scrollbar {
        width: 15px;
        height: 15px;
        cursor: pointer;
    }
}
.max-width-fix {
    max-width: calc(100% - 8px) !important;
}
