<md-content class="md-padding color-bg-transparent">
    <md-card class="search-tasks" layout="row">
        <div flex layout="column">
            <div layout="row" layout-align="left end">
                <md-icon flex="5" class="material-icons md-primary">search</md-icon>
                <form flex layout="row" ng-submit="tasksCtrl.search()">
                    <md-autocomplete
                        md-search-text="tasksCtrl.tabs[$index].filter.process.search"
                        md-selected-item="tasksCtrl.tabs[$index].filter.process.item"
                        md-selected-item-change="tasksCtrl.processItemChange(item)"
                        md-items="item in tasksCtrl.queryNetRefs()"
                        md-item-text="item.title"
                        md-min-length="0"
                        md-no-cache="true"
                        md-floating-label="Process">
                        <md-item-template>
                            <span md-highlight-text="tasksCtrl.tabs[$index].filter.process.search" md-highlight-flags="i">{{item.title}}</span>
                        </md-item-template>
                        <md-not-found>
                            Process {{tasksCtrl.tabs[$index].filter.process.search}} was not found :(
                        </md-not-found>
                    </md-autocomplete>
                    <md-input-container class="md-block">
                        <input type="text" placeholder="Task">
                    </md-input-container>
                </form>
            </div>
            <div layout="row" layout-align="left center">
                <md-icon flex="5" class="material-icons md-primary">filter_list</md-icon>
                <md-chips id="chips-container" flex>
                    <md-chip ng-repeat="chip in tasksCtrl.tabs[$index].filter.chips">
                        {{chip.title}} &nbsp;&nbsp;<md-icon class="material-icons" ng-click="tasksCtrl.removeChip($index)">close</md-icon>
                    </md-chip>
                </md-chips>
            </div>
        </div>
        <div layout="column" layout-align="center center">
            <md-menu>
                <md-button flex="10" ng-click="$mdOpenMenu($event)" md-menu-origin>
                    <md-icon class="material-icons">more_vert</md-icon>
                </md-button>
                <md-menu-content>
                    <md-menu-item>
                        <md-button ng-click="tasksCtrl.saveFilter()">Save</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="tasksCtrl.clearFilter()">Reset</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-card>

    <div class="tasks">
        <md-card class="tasks-header" layout="row" layout-align="left center">
            <p flex="15"><a href="javascript:void(0);" ng-click="tasksCtrl.sort('id')">ID</a></p>
            <p flex="30"><a href="javascript:void(0);" ng-click="tasksCtrl.sort('name')">Name</a></p>
            <p flex="15"><a href="javascript:void(0);" ng-click="tasksCtrl.sort('priority')">Priority</a></p>
            <p flex="20"><a href="javascript:void(0);" ng-click="tasksCtrl.sort('user')">User</a></p>
            <p flex="15"><a href="javascript:void(0);" ng-click="tasksCtrl.sort('date')">Start date</a></p>
            <p flex="10"><a href="javascript:void(0);" ng-click="tasksCtrl.sort('status')">Status</a></p>
            <md-menu>
                <md-button flex="10" ng-click="$mdOpenMenu($event)" md-menu-origin>
                    <md-tooltip md-direction="top">View</md-tooltip>
                    <md-icon class="material-icons">view_carousel</md-icon>
                </md-button>
                <md-menu-content>
                    <md-menu-item>
                        <md-button ng-click="tasksCtrl.changeView('table')">Table</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="tasksCtrl.changeView('list')">List</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </md-card>
        <div ng-repeat="task in tasksCtrl.tabs[$index].resource">
            <div ng-include="'views/app/tasks/task.html'"></div>
        </div>

    </div>
    <md-button ng-click="tasksCtrl.loadTasks()">Load Tasks</md-button>
</md-content>