<md-expansion-panel-header>
	<p flex="15" layout="row" layout-align="left center">
		<i class="material-icons {{task.caseColor}}">label</i> {{task.visualId}}
	</p>
	<p flex="30">{{task.title}}</p>
	<task-priority flex="15" layout="row" layout-align="left center" priority="{{task.priority}}"></task-priority>
	<p flex="20" layout="row" layout-align="left center">
		<i ng-if="task.user" class="material-icons color-fg-fm-500">account_circle</i> {{task.user.name+" "+task.user.surname}}
	</p>
	<p flex="15">{{tasksCtrl.formatDate(task.startDate)}}</p>
	<p flex="10">{{task.status}}</p>
	<md-button ng-click="$panel.collapse()">
		<md-icon class="material-icons">keyboard_arrow_up</md-icon>
	</md-button>
</md-expansion-panel-header>
<md-expansion-panel-content>
	<md-grid-list md-cols="1" md-cols-gt-xl="5" md-cols-gt-lg="4" md-cols-gt-md="3" md-cols-gt-sm="2" md-row-height="4:3" row-height-gt-xl="16:9" ng-if="task.data">
		<md-grid-tile ng-repeat="field in task.data">
			<div ng-include="'views/app/datafields/field_input_'+field.type+'.html'" ng-cloak flex></div>
		</md-grid-tile>
	</md-grid-list>
	<div layout="row" layout-align="center center" ng-if="!task.data">
		<span>There is no data for this task</span>
	</div>
</md-expansion-panel-content>
<md-expansion-panel-footer>
	<div flex></div>
	<md-button ng-if="task.status === 'New' && $user.canAssign(task.assignRole)" ng-click="tasksCtrl.assignTask(task)">Assign</md-button>
	<md-button ng-if="task.status === 'New' && $user.canDelegate(task.delegateRole)" ng-click="tasksCtrl.delegateTask(task)">Assign</md-button>
	<md-button ng-if="task.user.email == $user.login && task.status != 'Done'" ng-click="tasksCtrl.delegateTask(task)">Reassign</md-button>
	<md-button ng-if="task.user.email == $user.login && task.status != 'Done'" ng-click="tasksCtrl.saveData(task)">Save Data</md-button>
	<md-button ng-if="task.user.email == $user.login && task.status != 'Done'" ng-click="tasksCtrl.finishTask(task)">Finish</md-button>
	<md-button ng-if="task.user.email == $user.login && task.status != 'Done'" ng-click="tasksCtrl.cancelTask(task)">Cancel</md-button>
	<md-button class="md-primary" ng-click="$panel.collapse()">Collapse</md-button>
</md-expansion-panel-footer>
