<p flex="15" layout="row" layout-align="left center">
    <i class="material-icons {{task.caseColor}}">label</i> {{task.caseTitle}}
</p>
<p flex="30">{{task.title}}</p>
<task-priority flex="15" layout="row" layout-align="left center" priority="{{task.priority}}"></task-priority>
<p flex="20" layout="row" layout-align="left center">
    <i ng-if="task.user" class="material-icons color-fg-fm-500">account_circle</i> {{task.user.name+" "+task.user.surname}}
</p>
<p flex="15">{{tasksCtrl.formatDate(task.startDate)}}</p>
<p flex="10">{{tasksCtrl.getStatus(task); task.status}}</p>
<md-menu ng-if="task.status !== 'Assigned'">
    <md-button flex="10" ng-click="$mdOpenMenu($event)" md-menu-origin>
        <md-icon class="material-icons">more_vert</md-icon>
    </md-button>
    <md-menu-content>
        <md-menu-item ng-if="task.status === 'New' && $user.canAssign(task.assignRole)">
            <md-button ng-click="tasksCtrl.assignTask(task)">Assign</md-button>
        </md-menu-item>
        <md-menu-item ng-if="task.status === 'New' && $user.canDelegate(task.delegateRole)">
            <md-button ng-click="tasksCtrl.delegateTask(task)">Delegate</md-button>
        </md-menu-item>
        <md-menu-item ng-if="task.user.email == $user.login && task.status != 'Done'">
            <md-button ng-click="tasksCtrl.delegateTask(task)">Reassign</md-button>
        </md-menu-item>
        <md-menu-item ng-if="task.user.email == $user.login && task.status != 'Done'">
            <md-button ng-click="tasksCtrl.finishTask(task)">Finish</md-button>
        </md-menu-item>
        <md-menu-item ng-if="task.user.email == $user.login && task.status != 'Done'">
            <md-button ng-click="tasksCtrl.cancelTask(task)">Cancel</md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>