code {
    background-color: rgba(0, 0, 0, .06);
    padding: 5px;
    font-size: 90%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
    width: max-content;
}

.max-content {
    width: max-content;
}
