<div class="data-field" layout="row" layout-align="start center" ng-if="!field.behavior.hidden" layout-wrap>

    <div flex="45" flex-xs="100">
        <span flex class="data-field-title" ng-class="{'cursor-pointer':!!field.description, 'active':field.active}">
            {{field.name}}
            <md-tooltip ng-if="field.description">
                {{field.description}}
            </md-tooltip>
        </span>
    </div>

    <div hide-xs flex="5"></div>

    <div flex="45" flex-xs="100">
        <md-input-container class="md-block" ng-class="field.valid ? '':' md-input-invalid'" flex>
            <label class="placeholder">{{field.placeholder}}</label>
            <md-select id="{{'data-'+field.parent.stringId+'-'+field.stringId}}" ng-model="field.newValue"
                       ng-change="field.changed = true;field.parent.save()"
                       ng-disabled="!(field.parent.user.email == $user.login && field.behavior.editable)"
                       md-on-open="field.active = true"
                       md-on-close="field.active = false"
                       ng-required="field.behavior.required"
                       nae-open-on-focus
                       aria-label="Select multiple choices"
                       multiple >
                <md-option ng-repeat="choice in field.choices" ng-value="choice">
                    {{choice}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>

    <div hide-xs flex="5"></div>

    {{::field.bindElement()}}
</div>