<div class="data-item" layout="row" layout-align="start center">
    <div flex="50">
        <span flex class="data-field-title {{field.description ? 'cursor-pointer' : ''}}">
            {{field.name}}
            <md-tooltip ng-if="field.description">
                {{field.description}}
            </md-tooltip>
        </span>
    </div>
    <div flex="20"></div>
    <div flex="60">
        <md-input-container class="md-block" flex>
            <label>{{field.name}}</label>
            <input type="text" ng-if="field.subType === 'simple'"
                   ng-model="field.newValue"
                   ng-change="tasksCtrl.dataFieldChanged(field.taskIndex, $index); caseCtrl.activeTab.dataFieldChanged(task, $index)"
                   ng-disabled="!(task.user.email == $user.login && field.behavior.editable)"
                   ng-blur="tasksCtrl.saveData(task); caseCtrl.activeTab.saveData(task)"
                   ng-required="field.behavior.required">
            <textarea ng-if="field.subType === 'area'"
                      rows="1" max-rows="10"
                      ng-model="field.newValue"
                      ng-change="tasksCtrl.dataFieldChanged(field.taskIndex, $index); caseCtrl.activeTab.dataFieldChanged(task, $index)"
                      ng-disabled="!(task.user.email == $user.login && field.behavior.editable)"
                      ng-blur="tasksCtrl.saveData(task); caseCtrl.activeTab.saveData(task)"
                      ng-required="field.behavior.required"></textarea>
        </md-input-container>
    </div>
    <div flex="10"></div>
</div>