<div class="data-field" layout="row" layout-align="start center" layout-wrap>

    <div flex="45" flex-xs="100">
        <span flex class="data-field-title" ng-class="{'cursor-pointer':!!field.description, 'active':field.active}">
            {{field.name}}
            <md-tooltip ng-if="field.description">
                {{field.description}}
            </md-tooltip>
        </span>
    </div>

    <div hide-xs flex="5"></div>

    <div flex="45" flex-xs="100">
        <md-input-container class="md-block" ng-class="field.valid ? '':' md-input-invalid'" flex>
            <label class="placeholder">{{field.placeholder}}</label>
            <input id="{{'data-'+field.parent.stringId+'-'+field.stringId}}" type="{{ field.active ? 'number' : 'text'}}" ng-model="field.newValue"
                   ng-value="field.active ? field.newValue : (!field.formatFilter ? field.newValue : (field.newValue | currencyFormat:field.formatFilter.code:field.formatFilter.fractionSize:true:field.formatFilter.locale))"
                   ng-change="field.changed = true; field.validate(field.newValue);"
                   ng-disabled="!(field.parent.user.email == $user.login && field.behavior.editable)"
                   ng-blur="field.parent.save();field.active = false"
                   ng-focus="field.active = true"
                   ng-required="field.behavior.required"
                   ng-keypress="$event.which === 13 && $event.target.blur()"
                   aria-label="Enter number"
                   step="any"
                   novalidate
                   title="">
            <div ng-messages="field.validationErrors" ng-show="field.newValue">
                <div ng-message="odd" class="color-fg-warning">{{::$i18n.block.validation.oddNumber}}</div>
                <div ng-message="even" class="color-fg-warning">{{::$i18n.block.validation.evenNumber}}</div>
                <div ng-message="positive" class="color-fg-warning">{{::$i18n.block.validation.positiveNumber}}</div>
                <div ng-message="negative" class="color-fg-warning">{{::$i18n.block.validation.negativeNumber}}</div>
                <div ng-message="decimal" class="color-fg-warning">{{::$i18n.block.validation.decimalNumber}}</div>
                <div ng-message="inrange" class="color-fg-warning">{{::$i18n.block.validation.inRange + " " + $i18n.block.word.from + " " + field.minValue + " " + $i18n.block.word.to + " " + field.maxValue}}</div>
            </div>
        </md-input-container>
    </div>

    <div hide-xs flex="5"></div>

    {{::field.bindElement()}}
</div>