<div class="data-field" layout="row" layout-align="start center" layout-wrap>

    <div flex="45" flex-xs="100">
        <span flex class="data-field-title" ng-class="{'cursor-pointer':!!field.description, 'active':field.active}">
            {{field.name}}
            <md-tooltip ng-if="field.description">
                {{field.description}}
            </md-tooltip>
        </span>
    </div>

    <div hide-xs flex="5"></div>

    <div flex="45" flex-xs="100">
        <md-input-container style="padding-left: 2px" class="md-block" ng-class="field.valid ? '':' md-input-invalid'" flex>
            <label class="placeholder">{{field.placeholder}}</label>
            <md-select id="{{'data-'+field.parent.stringId+'-'+field.stringId}}" ng-model="field.newValue"
                       ng-change="field.changed = true;field.parent.save()"
                       ng-disabled="!(field.parent.user.email == $user.login && field.behavior.editable)"
                       md-on-open="field.active = true;"
                       md-on-close="field.active = false; field.searchTerm = ''"
                       ng-required="field.behavior.required"
                       nae-open-on-focus
                       aria-label="Select choice">
                <md-select-header class="demo-select-header">
                    <md-input-container class="md-block">
                        <md-icon class="material-icons color-fg-primary-500">search</md-icon>
                        <label>{{::field.placeholder}}</label>
                        <input ng-model="field.searchTerm" type="text"
                               ng-focus="$event.stopPropagation()" ng-click="$event.stopPropagation()"
                               ng-keydown="$event.stopPropagation()"
                               id="{{'data-'+field.parent.stringId+'-'+field.stringId}}_search">
                    </md-input-container>
                </md-select-header>
                <md-option ng-repeat="choice in field.choices | filter:field.searchTerm" ng-value="choice">
                    <!--ng-selected="$first && field.choices && field.choices.length > 0">-->
                    {{choice}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>

    <div hide-xs flex="5"></div>

    {{::field.bindElement()}}
</div>