<div class="data-item" layout="row" layout-align="start center">
    <div flex="50">
        <span flex class="data-field-title {{field.description ? 'cursor-pointer' : ''}}">
            {{field.name}}
            <md-tooltip ng-if="field.description">
                {{field.description}}
            </md-tooltip>
        </span>
    </div>
    <div flex="20"></div>
    <div flex="60">
        <md-input-container class="md-block" flex>
            <label>{{field.placeholder}}</label>
            <input type="text" ng-if="field.subType === 'simple'"
                   ng-model="field.newValue"
                   ng-change="field.changed = field.value !== field.newValue; field.validate(field.newValue);"
                   ng-disabled="!(task.user.email == $user.login && field.behavior.editable)"
                   ng-blur="task.save()"
                   ng-required="field.behavior.required"
                   md-maxlength="field.maxLength">
            <textarea ng-if="field.subType === 'area'"
                      rows="1" max-rows="4"
                      ng-model="field.newValue"
                      ng-change="field.changed = field.value !== field.newValue"
                      ng-disabled="!(task.user.email == $user.login && field.behavior.editable)"
                      ng-blur="task.save()"
                      ng-required="field.behavior.required"
                      md-maxlength="field.maxLength"></textarea>
            <div ng-messages="field.validationErrors" ng-show="field.newValue">
                <div ng-message="length" class="color-fg-warning">{{"The text must be at the most "+field.maxLength+" characters long!"}}</div>
                <div ng-message="email" class="color-fg-warning">{{"The text must be in email format! ( "+field.formating+" )"}}</div>
                <div ng-message="telnumber" class="color-fg-warning">{{"The text must be in telephone number format! ( "+field.formating+" )"}}</div>
                <div ng-message="regex" class="color-fg-warning">Text is in wrong format!</div>
            </div>
        </md-input-container>
    </div>
    <div flex="10"></div>
</div>