<div class="data-item" layout="row" layout-align="start center" ng-if="!field.behavior.hidden">
    <div flex="50">
        <span flex class="data-field-title {{field.description ? 'cursor-pointer' : ''}}">
            {{field.name}}
            <md-tooltip ng-if="field.description">
                {{field.description}}
            </md-tooltip>
        </span>
    </div>
    <div flex="20"></div>
    <div flex="60">
        <md-input-container class="md-block" flex>
            <label>{{field.placeholder}}</label>
            <md-select ng-model="field.newValue"
                       multiple
                       ng-change="field.changed = field.value !== field.newValue"
                       ng-disabled="!(task.user.email == $user.login && field.behavior.editable)"
                       ng-blur="task.save()"
                       ng-required="field.behavior.required">
                <md-option ng-repeat="choice in field.choices" ng-value="choice">
                    {{choice}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>
    <div flex="10"></div>
</div>