<div class="data-item" layout="row" layout-align="left center">
    <div flex="50">
        <span flex class="data-field-title {{field.description ? 'cursor-pointer' : ''}}">
            {{field.name}}
            <md-tooltip ng-if="field.description">
                {{field.description}}
            </md-tooltip>
        </span>
    </div>
    <div flex="20"></div>
    <div flex="50">
        <md-input-container class="md-block" flex>
            <label>{{field.name}}</label>
            <input type="number" ng-model="field.newValue"
                   ng-change="tasksCtrl.dataFieldChanged(field.taskIndex, $index)"
                   ng-disabled="!(task.user.email == $user.login && field.logic.editable)"
                   ng-blur="tasksCtrl.saveData(task)"
                   ng-required="field.logic.required">
        </md-input-container>
    </div>
    <div flex="10"></div>
</div>