<md-card flex>
    <md-card-title layout="row" layout-align="left center" class="padding-left-no padding-right-no">
        <md--card-title-text>
            <span>{{field.name}}</span>
            <span>{{field.description}}</span>
        </md--card-title-text>
    </md-card-title>
    <md-card-content layout="column" layout-align="center center" class="padding-no">
        <md-input-container class="md-block" flex>
            <label>{{field.name}}</label>
            <input type="text" ng-model="field.newValue"
                   ng-change="tasksCtrl.dataFieldChanged(field.taskIndex, $index)"
                   ng-disabled="!(task.user.email == $user.login && field.logic.editable)"
                   ng-blur="tasksCtrl.saveData(task)"
                   ng-required="field.logic.required">
        </md-input-container>
    </md-card-content>
</md-card>