<div class="data-item" layout="row" layout-align="start center" layout-align-sm="start center">
    <div flex="35">
        <span flex class="data-field-title" ng-class="{'cursor-pointer':!!field.description, 'active':field.active}">
            {{field.name}}
            <md-tooltip ng-if="field.description">
                {{field.description}}
            </md-tooltip>
        </span>
    </div>
    <div flex="5"></div>
    <div flex="55" flex-sm="60">
        <md-input-container class="md-block" ng-class="field.valid ? '':' md-input-invalid'" flex>
            <!-- TODO 23.6.2017 fix label when calendar opens -->
            <label class="placeholder">{{::$i18n.block.data.enterDate}}</label>
            <md-datepicker id="{{'data-'+task.stringId+'-'+field.stringId}}" ng-model="field.newValue"
                           ng-change="field.changed = true"
                           ng-disabled="!(task.user.email == $user.login && field.behavior.editable)"
                           ng-blur="task.save();field.active = false"
                           ng-focus="field.active = true"
                           md-open-on-focus
                           ng-required="field.behavior.required"
                           md-min-date="field.minDate"
                           md-max-date="field.maxDate"
                           md-date-filter="field.validate"
                           aria-label="Pick date">
            </md-datepicker>
        </md-input-container>
    </div>
    <div flex="5"></div>
    {{::field.bindElement()}}
</div>