<div class="data-item" layout="row" layout-align="start center">
    <div flex="50">
        <span flex class="data-field-title {{field.description ? 'cursor-pointer' : ''}}">
            {{field.name}}
            <md-tooltip ng-if="field.description">
                {{field.description}}
            </md-tooltip>
        </span>
    </div>
    <div flex="20"></div>
    <div flex="60">
        <md-input-container class="md-block" flex>
            <label>{{field.name}}</label>
            <md-select ng-model="field.newValue"
                       ng-change="tasksCtrl.dataFieldChanged(field.taskIndex, $index); caseCtrl.activeTab.dataFieldChanged(task, $index)"
                       ng-disabled="!(task.user.email == $user.login && field.behavior.editable)"
                       ng-blur="tasksCtrl.saveData(task); caseCtrl.activeTab.saveData(task)"
                       ng-required="field.behavior.required">
                <md-option ng-repeat="choice in field.choices" ng-value="choice">
                    {{choice}}
                </md-option>
            </md-select>
        </md-input-container>
        </md-card-content>
    </div>
    <div flex="10"></div>
</div>