<div ng-cloak layout="column" layout-align="center center" class="layout-rh-100-min-400 background-default">
	<md-card layout-gt-xs="row" layout-xs="column" layout-align="center center" layout-padding class="card-login">

		<div flex-gt-xs="50" flex-xs="100" layout="column" layout-align="center center">
			<img hide-xs ng-src="../../assets/netgrif_under_grey.svg">
            <img hide show-xs ng-src="../../assets/netgrif_full_grey.svg">
		</div>

		<div flex-gt-xs="50" flex-xs="100">
			<form ng-submit="loginCtrl.login()">

				<md-input-container class="md-block">
					<md-icon class="material-icons color-fg-blue-grey-300">email</md-icon>
					<input ng-model="loginCtrl.credentials.username" type="text" placeholder="{{::$i18n.page.signIn.email}}" ng-required="true">
				</md-input-container>

				<md-input-container class="md-block">
					<md-icon class="material-icons color-fg-blue-grey-300">lock</md-icon>
					<input ng-model="loginCtrl.credentials.password" type="password" placeholder="{{::$i18n.page.signIn.psw}}" ng-required="true">
				</md-input-container>

				<md-card-actions layout="row" layout-xs="column" layout-align="space-between center">
					<a flex-order-xs="1" href="#" class="color-fg-accent-500 text-no-decor"
					   ng-click="loginCtrl.fireInfoSnackbar($i18n.block.snackbar.featureWillBeAvailableSoon)">
						{{::$i18n.page.signIn.forgotPsw}}
					</a>
					<md-button type="submit" flex-order-xs="-1" md-colors="{background: 'primary-500'}">{{::$i18n.page.signIn.submit}}</md-button>
				</md-card-actions>

			</form>
		</div>

	</md-card>
</div>