<table align="center" border="0" cellpadding="0" cellspacing="0" width="800">
 <tr>
  <td align="left">
   <img src="../../assets/logo.png">
  </td>
 </tr>
 <tr>
  <td height="11" bgcolor="#98002b">
  </td>
 </tr>
 <tr>
  <td >
   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed haec nihil sane ad rem; Et hunc idem dico, inquieta sed ad virtutes et ad vitia nihil interesse. Mihi enim erit isdem istis fortasse iam utendum. Laelius clamores sofòw ille so lebat Edere compellans gumias ex ordine nostros. Quis est tam dissimile homini. Videamus animi partes, quarum est conspectus illustrior; Quod si ita se habeat, non possit beatam praestare vitam sapientia. Quae cum essent dicta, discessimus.

Duo Reges: constructio interrete. Profectus in exilium Tubulus statim nec respondere ausus; Cum salvum esse flentes sui respondissent, rogavit essentne fusi hostes. Theophrasti igitur, inquit, tibi liber ille placet de beata vita? Haec dicuntur inconstantissime. Vide, quantum, inquam, fallare, Torquate. Aliter enim nosmet ipsos nosse non possumus. 
 <br>
 <br>
  </td>
 </tr>
 <tr>
  <td align=center>
      <span style=" background:#BDBDBD; color:#98002b; font-size:30px">fvf4imfmgmucjq0sl3d0t9nvdqmah3rlvbaja4f796crti4n0evr</span>
  </td>
 </tr>
 <tr>
  <td>
  <br>
   Duo Reges: constructio interrete. Profectus in exilium Tubulus statim nec respondere ausus; Cum salvum esse flentes sui respondissent, rogavit essentne fusi hostes. Theophrasti igitur, inquit, tibi liber ille placet de beata vita? Haec dicuntur inconstantissime. Vide, quantum, inquam, fallare, Torquate. Aliter enim nosmet ipsos nosse non possumus. 
  </td>
 </tr>
 <tr>
  <td align="center">
      <button style="
      margin:10px;
      background: #98002b;
     box-shadow: 2px 2px 10px #888888;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 8px;
  border: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 20px 20px 20px 20px;
  text-decoration: none;">
      SIGN UP HERE</button>
  </td>
 </tr>
 <tr  bgcolor="#E0E0E0">
  <td>
  www.fmservis.sk
  <br>
  Duo Reges: constructio interrete. Profectus in exilium Tubulus statim nec respondere ausus; Cum salvum esse flentes sui respondissent, rogavit essentne fusi hostes. Theophrasti igitur, inquit, tibi liber
  </td>
 </tr>
</table>