<div ng-cloak layout="column" layout-align="center center" class="layout-rh-100-min-550 background-auth">
    <md-card layout-gt-xs="row" layout-xs="column" layout-align="center center" layout-padding class="card-signup">

        <div flex-gt-xs="50" flex-xs="100" layout="column" layout-align="center center">

            <div ng-include="'views/app/logos/auth_logo.html'"></div>

        </div>

        <div flex-gt-xs="50" flex-xs="100">

            <div ng-include="'views/app/forms/new_password_form.html'"></div>

        </div>

    </md-card>
</div>