<div ng-cloak layout="column" layout-align="center center" class="layout-vh-100 background-welcome">
	<md-card layout-padding class="card-login">
		<form ng-submit="loginCtrl.login()">
			<md-input-container class="md-block">
				<md-icon class="material-icons">email</md-icon>
				<input ng-model="loginCtrl.credentials.username" type="text" placeholder="Email" ng-required="true">
			</md-input-container>
			<md-input-container class="md-block">
				<md-icon class="material-icons">lock</md-icon>
				<input ng-model="loginCtrl.credentials.password" type="password" placeholder="Password" ng-required="true">
			</md-input-container>
			<md-card-actions layout="row" layout-align="end center">
				<md-button type="submit">Sign in</md-button>
			</md-card-actions>
		</form>
	</md-card>
</div>
