<mat-tab-group>
    <mat-tab label="Overview">
        <h2>Panel description</h2>
        <div class="example-component-content">
            <mat-card-content class="component-description">&lt;nae-panel&gt; is a component used for case and task panels.
                If you are using an expansion panel its content needs to be inserted between component &lt;nae-panel&gt;&lt;/nae-panel&gt; tags.
            </mat-card-content>
            <h2>Live example</h2>
            <nae-panel panelIcon="label" [featuredFields]="['title1', 'title2', 'title3']"
                       expansionDisabled="false"><h1>Content</h1><p>Example text</p></nae-panel>
        </div>
        <h2>Code snippet</h2>
        <td-highlight lang="html">
            <![CDATA[
            {{codeSnippet}}
            ]]>
        </td-highlight>
    </mat-tab>
    <mat-tab label="API">
        <div class="example-component-content">
            <h2>API reference for Nae panel</h2>
            <td-highlight lang="ts" style="width: max-content;">import &#123; PanelModule &#125; from
                '@netgrif/application-engine'
            </td-highlight>
            <h2>Properties</h2>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let element" class="table-properties-name"> {{element.name}} </td>
                </ng-container>
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef>Description</th>
                    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns" [ngClass]=""></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </mat-tab>
</mat-tab-group>
