<nc-side-menu-container>
    <mat-sidenav-container class="main-sidenav-container">
        <mat-sidenav #sidenav opened mode="side" disableClose class="width-sidenav" >
            <nc-navigation-tree></nc-navigation-tree>
        </mat-sidenav>
        <div class="full-height grey-color" fxLayout="column" fxLayoutAlign="center stretch">
            <div fxLayout="row" fxLayoutAlign="center stretch" [ngClass]="{'component-container': !isDoubleDrawer()} " fxFlex="100">
                <div fxFlex="100" class="full-height grey-color">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </mat-sidenav-container>
    <ng-template #templatePortal></ng-template> <!-- Side menu outlet -->
</nc-side-menu-container>
