<nc-side-menu-container>
    <mat-sidenav-container class="main-sidenav-container">
        <mat-sidenav #sidenav opened mode="side" disableClose class="width-sidenav" >
            <nc-navigation-tree></nc-navigation-tree>
        </mat-sidenav>
        <div class="full-height" fxLayout="column" fxLayoutAlign="center stretch">
            <div fxLayout="row" fxLayoutAlign="center stretch" class="component-container" fxFlex="100">
                <mat-card fxFlex="100" class="full-height">
                    <router-outlet></router-outlet>
                </mat-card>
            </div>
        </div>
    </mat-sidenav-container>
    <ng-template #templatePortal></ng-template> <!-- Side menu outlet -->
</nc-side-menu-container>
