@import '../colors';

md-dialog {

    md-select-value {
        color: $color-black-op-87 !important;
    }

    :not(md-expansion-panel-group) {

        input, label {
            color: $color-black-op-87 !important;
        }
    }

    &:not(.md-input-invalid) {

        &.md-input-focused {

            label {
                color: $color-black-op-87 !important;
            }
        }
    }
}

.card, md-expansion-panel {

    md-input-container {

        label.placeholder {
            color: $color-input-label !important;
        }

        label {
            color: $color-input-label !important;
        }

        &:not(.md-input-invalid) {

            &.md-input-focused {

                label {
                    color: $color-input-label !important;
                }
            }
        }

        input {
            color: $color-input-text;
        }

        textarea {
            color: $color-input-text;
        }

        md-select-value {
            color: $color-input-text;
        }
    }

    .md-datepicker-calendar-pane {

        span {
            color: $color-black-op-87 !important;
        }

    }

    .md-datepicker-button {

        md-icon {
            color: $color-input-text !important;
        }
    }

    .md-calendar-date-selection-indicator {
        color: $color-black-op-87 !important;
    }

}

// Default
md-input-container.md-block {
    height: 39px !important;
}

md-autocomplete.md-block {

    md-input-container {
        height: 39px !important;
    }
}