import { Component, OnInit } from '@angular/core';
import {TaskPanelData} from '@netgrif/application-engine';

@Component({
  selector: '<%= prefix %>-task-view',
  templateUrl: './<%= dasherize(path) %>-task-view.component.html',
  styleUrls: ['./<%= dasherize(path) %>-task-view.component.scss']
})
export class <%= classify(path) %>TaskViewComponent implements OnInit{

  public taskPanel: Array<TaskPanelData>;

  constructor(private _resourceService: ResourceService) { }

  ngOnInit() {
  }
}
