<div ng-cloak>
    <div class="background-header background-welcome"></div>
    <md-tabs md-dynamic-height md-autoselect="true" md-border-bottom md-selected="caseCtrl.activeTabIndex">
        <md-tab md-on-select="caseCtrl.searchCases()" label="All Cases">
            <md-content class="md-padding color-bg-transparent">
                <md-card class="search-header" layout="row">
                    <div flex layout="column">
                        <div layout="row" layout-align="start end">
                            <md-icon flex="5" class="material-icons md-primary">search</md-icon>
                            <form flex layout="row">
                                <md-autocomplete class="md-block autocomplete"
                                                 md-search-text="caseCtrl.filter.search"
                                                 md-selected-item="caseCtrl.filter.selected"
                                                 md-selected-item-change="caseCtrl.searchItemSelected(item)"
                                                 md-items="item in caseCtrl.queryNets()"
                                                 md-item-text="item.title"
                                                 md-min-length="0"
                                                 md-no-cache="true"
                                                 md-floating-label="{{::$i18n.block.taskFilter.process}}">
                                    <md-item-template>
                                        <span md-highlight-text="caseCtrl.filter.search" md-highlight-flags="i">{{item.title}}</span>
                                    </md-item-template>
                                    <md-not-found>
                                        {{::$i18n.block.taskFilter.process + " " + tasksCtrl.tabs[$index].filter.selectedProcess.search + " " + $i18n.block.task.notFound}}
                                    </md-not-found>
                                </md-autocomplete>
                            </form>
                        </div>
                        <div layout="row" layout-align="start center">
                            <md-icon flex="5" class="material-icons md-primary">filter_list</md-icon>
                            <md-chips ng-model="caseCtrl.filter.chips" readonly="true" md-removable="true"
                                      md-on-remove="caseCtrl.onChipRemove($chip)"
                                      id="chips-container" flex>
                                <md-chip-template>
                                    {{$chip.title}}
                                </md-chip-template>
                            </md-chips>
                        </div>
                    </div>
                    <div layout="column" layout-align="center center">
                        <div layout="row">
                            <md-button class="md-primary" ng-click="caseCtrl.searchCases()">
                                Search
                            </md-button>
                        </div>
                    </div>
                </md-card>
                <div class="cases">
                    <md-card class="cases-header" layout="column">
                        <md-card-content layout="row" layout-align="start center">
                            <a flex="25" href="javascript:void(0)" ng-click="caseCtrl.setSortField('title')">
                                Case
                                <md-icon class="material-icons">{{ caseCtrl.sort.field == 'title' && !caseCtrl.sort.reverse ? 'arrow_drop_up' : 'arrow_drop_down' }}</md-icon>
                            </a>
                            <a flex="25" href="javascript:void(0)" ng-click="caseCtrl.setSortField('createDate')">
                                Create Date
                                <md-icon class="material-icons">{{ caseCtrl.sort.field == 'createDate' && !caseCtrl.sort.reverse ? 'arrow_drop_up' : 'arrow_drop_down' }}</md-icon>
                            </a>
                            <a flex="15" href="javascript:void(0)" ng-click="caseCtrl.setSortField('editDate')">
                                Last Edit Date
                                <md-icon class="material-icons">{{ caseCtrl.sort.field == 'editDate' && !caseCtrl.sort.reverse ? 'arrow_drop_up' : 'arrow_drop_down' }}</md-icon>
                            </a>
                        </md-card-content>
                    </md-card>
                    <md-card class="case-panel"
                             ng-repeat="useCase in caseCtrl.cases | orderBy:useCase[caseCtrl.sort.field]:caseCtrl.sort.reverse"
                             ng-include="'views/app/cases/case_panel_collapsed.html'"
                             ng-click="caseCtrl.openCase(useCase)">
                    </md-card>
                </div>
            </md-content>
        </md-tab>
        <md-tab ng-repeat="tab in caseCtrl.tabs" md-on-select="caseCtrl.tabChange()">
            <md-tab-label>
                {{::tab.useCase.title}}
                <md-icon class="material-icons cursor-pointer" style="font-size:22px;"
                         ng-click="caseCtrl.tabClose(tab.index)">close
                </md-icon>
            </md-tab-label>
            <md-tab-body >
                <md-content class="md-padding color-bg-transparent" ng-include="'views/app/cases/case_tab.html'"></md-content>
            </md-tab-body>
        </md-tab>
        <md-tab md-on-select="caseCtrl.createCase()">
            <md-tab-label>
                <md-icon class="material-icons md-highlight">add</md-icon>
            </md-tab-label>
            <md-tab-body>
            </md-tab-body>
        </md-tab>
    </md-tabs>
</div>