<div ng-cloak class="layout-rh-100">

    <md-tabs md-dynamic-height md-autoselect="true" md-border-bottom class="background-tabs">

        <md-tab md-on-select="adminCtrl.loadOrganizations()">

            <md-tab-label>
                {{::$i18n.page.console.inviteUser}}
            </md-tab-label>

            <md-tab-body>
                <md-content layout-gt-xs="row" layout-xs="column" class="color-bg-transparent padding-2x">

                    <div flex-gt-xs="40" flex-xs layout="column">

                        <div ng-include="'views/app/toolbars/console_new_user_toolbar.html'"></div>

                        <md-divider class="border-width-2x color-border-transparent"></md-divider>

                        <div layout="row" layout-align="start center" class="card height-48px padding-horizontal-2x">

                            <span class="font-size-20">{{::$i18n.page.console.orgs}}</span>

                        </div> <!-- ./row -->

                        <md-divider class="border-width-default color-border-transparent"></md-divider>

                        <div layout="column" class="card padding-2x">

                            <div ng-init="invitedUserGroups=adminCtrl.invitedUser.groups" ng-include="'views/app/lists/console_new_user_org_list.html'"></div>

                        </div> <!-- ./column -->

                        <md-divider class="border-width-default color-border-transparent"></md-divider>

                        <div layout="row" layout-align="start center" class="card height-48px padding-horizontal-2x">
                            <span class="font-size-20">{{::$i18n.page.console.roles}}</span>
                        </div> <!-- ./row -->

                        <md-divider class="border-width-default color-border-transparent"></md-divider>

                        <div layout="column" class="card padding-2x">

                            <div ng-if="adminCtrl.isObjEmpty(adminCtrl.invitedUser.processRoles)" flex class="layout-rw-100">

                                <md-list flex class="padding-0">
                                    <md-list-item class="list-item">
                                        <div flex layout="row" layout-align="space-between center">

                                            <span>{{::$i18n.page.console.thereIsNoRoleAssignedToThisUserYet}}</span>

                                        </div>
                                    </md-list-item>
                                </md-list>

                            </div>

                            <div flex class="layout-rw-100" ng-repeat="(netId, net) in adminCtrl.invitedUser.processRoles">

                                <span flex class="color-fg-primary-500 color-bg-transparent">
                                    {{net.title}}
                                </span>

                                <div ng-include="'views/app/lists/console_new_user_role_list.html'"></div>

                                <md-divider ng-if="!$last" class="margin-vertical-default"></md-divider>

                            </div>

                        </div> <!-- ./column -->

                        <md-divider class="border-width-default color-border-transparent"></md-divider>

                        <div layout="row" layout-align="start center" class="card padding-vertical-2x">

                            <md-progress-circular md-mode="indeterminate" class="progress-circular-stroke-primary-500 margin-left-default" md-diameter="30" ng-if="adminCtrl.inviteLoading"></md-progress-circular>

                            <div flex></div>

                            <md-button class="md-fab md-raised md-mini md-primary" ng-click="adminCtrl.invite()">
                                <md-icon class="material-icons">person_add</md-icon>
                                <md-tooltip md-direction="left">
                                    {{::$i18n.block.btn.invite}}
                                </md-tooltip>
                            </md-button>

                        </div> <!-- ./row -->

                    </div> <!-- ./column -->

                    <md-divider hide-xs class="border-width-default color-border-transparent"></md-divider>
                    <md-divider hide-gt-xs class="border-width-2x color-border-transparent"></md-divider>

                    <div flex-gt-xs="60" flex-xs layout-gt-sm="row" layout-sm="column" layout-xs="column">

                        <div flex layout="column">

                            <div ng-include="'views/app/toolbars/console_org_toolbar.html'"></div>

                            <md-divider class="border-width-2x color-border-transparent"></md-divider>

                            <!--todo: ng-init-->
                            <div ng-include="'views/app/lists/console_select_org_list.html'"></div>

                        </div> <!-- ./column -->

                        <md-divider hide-xs class="border-width-default color-border-transparent"></md-divider>
                        <md-divider hide-gt-xs class="border-width-2x color-border-transparent"></md-divider>

                        <div flex layout="column">

                            <div ng-include="'views/app/toolbars/console_process_toolbar.html'"></div>

                            <md-divider class="border-width-2x color-border-transparent"></md-divider>

                            <!--todo: ng-init-->
                            <div ng-include="'views/app/lists/console_select_role_list.html'"></div>

                        </div> <!-- ./column -->

                    </div> <!-- ./column -->

                </md-content>
            </md-tab-body>

        </md-tab>

        <md-tab md-on-select="adminCtrl.usersTab.loadUsers()">

            <md-tab-label>
                {{::$i18n.page.console.users}}
            </md-tab-label>

            <md-tab-body>
                <md-content layout="column" layout-align="start" class="padding-2x color-bg-transparent">

                    <div flex layout-gt-xs="row" layout-xs="column">

                        <div flex layout="column">

                            <div ng-include="'views/app/toolbars/console_users_user_toolbar.html'"></div>

                            <md-divider class="border-width-2x color-border-transparent"></md-divider>

                            <div layout="column">

                                <div ng-init="usersUserListTab=adminCtrl.usersTab" ng-include="'views/app/lists/console_users_user_list.html'"></div>

                            </div>

                        </div> <!-- ./column -->

                        <md-divider class="border-width-default color-border-transparent"></md-divider>

                        <div flex layout="column">

                            <div ng-include="'views/app/toolbars/console_users_role_toolbar.html'"></div>

                            <md-divider class="border-width-2x color-border-transparent"></md-divider>

                            <div layout="column">

                                <div ng-init="usersRoleListTab=adminCtrl.usersTab" ng-include="'views/app/lists/console_users_role_list.html'"></div>

                            </div>

                        </div> <!-- ./column -->

                    </div>

                </md-content>
            </md-tab-body>

        </md-tab>


        <md-tab md-on-select="adminCtrl.rolesTab.loadUsers()">

            <md-tab-label>
                {{::$i18n.page.console.processRoles}}
            </md-tab-label>

            <md-tab-body>
                <md-content layout="column" layout-align="start" class="padding-2x color-bg-transparent">

                    <div flex layout-gt-xs="row" layout-xs="column">

                        <div flex layout="column">

                            <div ng-include="'views/app/toolbars/console_roles_role_toolbar.html'"></div>

                            <md-divider class="border-width-2x color-border-transparent"></md-divider>

                            <div layout="column">

                                <div ng-init="rolesTab=adminCtrl.rolesTab" ng-include="'views/app/lists/console_roles_role_list.html'"></div>

                            </div>

                        </div> <!-- ./column -->

                        <md-divider class="border-width-default color-border-transparent"></md-divider>

                        <div flex layout="column">

                            <div ng-include="'views/app/toolbars/console_roles_user_toolbar.html'"></div>

                            <md-divider class="border-width-2x color-border-transparent"></md-divider>

                            <div layout="column">

                                <div ng-init="rolesTab=adminCtrl.rolesTab" ng-include="'views/app/lists/console_roles_user_list.html'"></div>

                            </div>

                        </div> <!-- ./column -->

                    </div>

                </md-content>
            </md-tab-body>

        </md-tab>

    </md-tabs>

</div>