<div ng-cloak layout="column">

    <div layout="row" class="card color-bg-black-op-50 margin-default padding-2x">
        <span flex="5">{{::$i18n.block.task.label}}</span>
        <span flex="30">{{::$i18n.block.task.offer}}</span>
        <span flex="30">{{::$i18n.block.task.title}}</span>
        <span flex="30">{{::$i18n.block.task.date}}</span>
        <span flex="5">{{::$i18n.block.task.status}}</span>
    </div>

    <md-expansion-panel class="margin-horizontal-default">

        <md-expansion-panel-collapsed layout="row" layout-align="start center">
            <i flex="5" class="material-icons color-fg-accent-50">label</i>
            <span flex="30">Offer</span>
            <span flex="30">Title</span>
            <span flex="30">Start date</span>
            <i flex="5" class="material-icons color-fg-primary-500">done</i>
        </md-expansion-panel-collapsed>

        <md-expansion-panel-expanded>

            <md-expansion-panel-header>
                <i flex="5" class="material-icons color-fg-accent-50">label</i>
                <span flex="30">Offer</span>
                <span flex="30">Title</span>
                <span flex="30">Start date</span>
                <i flex="5" class="material-icons color-fg-primary-500">done</i>
            </md-expansion-panel-header>

            <md-expansion-panel-content>
                <div layout="row" layout-align="start center" layout-wrap class="cursor-default">
                    <div ng-repeat="field in task.data" flex="50" flex-sm="100">
                        <div ng-include="'views/app/datafields/field_input_'+field.type+'.html'" ng-cloak flex></div>
                    </div>
                </div>
                <div layout="row" layout-align="center center" ng-if="!task.data">
                    <span>There are no data assigned to this task</span>
                </div>
            </md-expansion-panel-content>

            <md-expansion-panel-footer>
                <div flex></div>
                <md-button>Save</md-button>
                <md-button>Finish</md-button>
                <md-button class="md-primary" ng-click="$panel.collapse()">Collapse</md-button>
            </md-expansion-panel-footer>

        </md-expansion-panel-expanded>

    </md-expansion-panel>

    <!-- test -->
    <md-expansion-panel class="margin-horizontal-default">

        <md-expansion-panel-collapsed layout="row" layout-align="start center">
            <i flex="5" class="material-icons color-fg-accent-50">label</i>
            <span flex="30">Offer</span>
            <span flex="30">Title</span>
            <span flex="30">Start date</span>
            <i flex="5" class="material-icons color-fg-primary-500">done</i>
        </md-expansion-panel-collapsed>

        <md-expansion-panel-expanded>

            <md-expansion-panel-header>
                <i flex="5" class="material-icons color-fg-accent-50">label</i>
                <span flex="30">Offer</span>
                <span flex="30">Title</span>
                <span flex="30">Start date</span>
                <i flex="5" class="material-icons color-fg-primary-500">done</i>
            </md-expansion-panel-header>

            <md-expansion-panel-content>
                <div layout="row" layout-align="start center" layout-wrap class="cursor-default">
                    <div flex="50" flex-sm="100">
                        <div ng-cloak flex>
                            <div class="data-item" layout="row" layout-align="start center">
                                <div flex="50">
                                    <span flex class="data-field-title cursor-pointer">
                                        Type text
                                        <md-tooltip ng-if="field.description">
                                            Text description
                                        </md-tooltip>
                                    </span>
                                </div>
                                <div flex="20"></div>
                                <div flex="60">
                                    <md-input-container class="md-block" flex>
                                        <label>Text</label>
                                        <input type="text"
                                               ng-model="field.newValue"
                                               ng-required="field.behavior.required">
                                    </md-input-container>
                                </div>
                                <div flex="10"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </md-expansion-panel-content>

            <md-expansion-panel-footer>
                <div flex></div>
                <md-button>Save</md-button>
                <md-button>Finish</md-button>
                <md-button class="md-primary" ng-click="$panel.collapse()">Collapse</md-button>
            </md-expansion-panel-footer>

        </md-expansion-panel-expanded>

    </md-expansion-panel>

    <!-- test -->
    <div ng-cloak flex>
        <div class="data-item" layout="row" layout-align="start center">
            <div flex="50">
                <span flex class="data-field-title cursor-pointer">
                    Type text
                    <md-tooltip ng-if="field.description">
                        Text description
                    </md-tooltip>
                </span>
            </div>
            <div flex="20"></div>
            <div flex="60">
                <md-input-container class="md-block" flex>
                    <label>Text</label>
                    <input type="text"
                           ng-model="field.newValue"
                           ng-required="field.behavior.required">
                </md-input-container>
            </div>
            <div flex="10"></div>
        </div>
    </div>
    <!-- test -->

</div>