<div ng-cloak layout="column">
	<div layout="column">
		<div layout="row" layout-sm="column" layout-wrap>
			<md-card flex>
				<md-card-title>
					<md--card-title-text>
						<span class="md-headline">Graph</span>
					</md--card-title-text>
				</md-card-title>
				<md-divider></md-divider>
				<md-card-content>
					<img src="../../assets/fakegraph.jpg" class="md-card-image img-responsive">
				</md-card-content>
			</md-card>
			<md-card flex>
				<md-card-title>
					<md--card-title-text>
						<span class="md-headline">Workflow</span>
					</md--card-title-text>
				</md-card-title>
				<md-divider></md-divider>
				<md-card-content>
					<img src="../../assets/fakeflow.PNG" class="md-card-image img-responsive">
				</md-card-content>
			</md-card>
		</div>
	</div>
	<div class="tasks margin-horizontal-default" flex>
		<md-card class="tasks-header" layout="column">
			<md-card-title>
				<md--card-title-text>
					<span class="md-headline">Tasks</span>
				</md--card-title-text>
			</md-card-title>
			<md-divider></md-divider>
			<md-card-content layout="row" layout-align="left center">
				<a flex="15">ID</a>
				<a flex="30">Name</a>
				<a flex="15">Priority</a>
				<a flex="20">User</a>
				<a flex="15">Start date</a>
				<a flex="10">Status</a>
				<md-menu>
					<md-button flex="10" ng-click="$mdOpenMenu($event)" md-menu-origin>
						<md-tooltip md-direction="top">View</md-tooltip>
						<md-icon class="material-icons">view_carousel</md-icon>
					</md-button>
					<md-menu-content>
						<md-menu-item>
							<md-button ng-click="tasksCtrl.changeView('table')">Table</md-button>
						</md-menu-item>
						<md-menu-item>
							<md-button ng-click="tasksCtrl.changeView('list')">List</md-button>
						</md-menu-item>
					</md-menu-content>
				</md-menu>
			</md-card-content>
		</md-card>

		<md-expansion-panel class="task">
			<md-expansion-panel-collapsed layout="row" layout-align="left center">
				<p flex="15" layout="row" layout-align="left center">
					<i class="material-icons color-fg-teal-500">label</i> UJ-146
				</p>
				<p flex="30">Odovzdanie</p>
				<p flex="15" layout="row" layout-align="left center">
					<i class="material-icons color-fg-green-500">arrow_downward</i> Low
				</p>
				<p flex="20" layout="row" layout-align="left center">
					<i class="material-icons color-fg-fm-500">account_circle</i> John Smith
				</p>
				<p flex="15">5.2.2017</p>
				<p flex="10">New</p>
				<md-menu>
					<md-button flex="10" ng-click="$mdOpenMenu($event)" md-menu-origin>
						<md-icon class="material-icons">more_vert</md-icon>
					</md-button>
					<md-menu-content>
						<md-menu-item>
							<md-button href="/#">Assign</md-button>
						</md-menu-item>
						<md-menu-item>
							<md-button href="/#">Finish</md-button>
						</md-menu-item>
					</md-menu-content>
				</md-menu>
			</md-expansion-panel-collapsed>
			<md-expansion-panel-expanded>
				<md-expansion-panel-header>
					<p flex="15" layout="row" layout-align="left center">
						<i class="material-icons color-fg-teal-500">label</i> UJ-146
					</p>
					<p flex="30">Odovzdanie</p>
					<p flex="15" layout="row" layout-align="left center">
						<i class="material-icons color-fg-green-500">arrow_downward</i> Low
					</p>
					<p flex="20" layout="row" layout-align="left center">
						<i class="material-icons color-fg-fm-500">account_circle</i> John Smith
					</p>
					<p flex="15">5.2.2017</p>
					<p flex="10">New</p>
					<md-button ng-click="$panel.collapse()">
						<md-icon class="material-icons">keyboard_arrow_up</md-icon>
					</md-button>
				</md-expansion-panel-header>
				<md-expansion-panel-content>
					<h4>Content</h4>
					<p>Put content in here</p>
				</md-expansion-panel-content>
				<md-expansion-panel-footer>
					<div flex></div>
					<md-button href="/#">Assign</md-button>
					<md-button href="/#">Finish</md-button>
					<md-button class="md-primary" ng-click="$panel.collapse()">Collapse</md-button>
				</md-expansion-panel-footer>
			</md-expansion-panel-expanded>
		</md-expansion-panel>

		<md-expansion-panel class="task">
			<md-expansion-panel-collapsed layout="row" layout-align="left center">
				<p flex="15" layout="row" layout-align="left center">
					<i class="material-icons color-fg-amber-500">label</i> UJ-148
				</p>
				<p flex="30">Odovzdanie</p>
				<p flex="15" layout="row" layout-align="left center">
					<i class="material-icons color-fg-amber-500">arrow_upward</i> Medium
				</p>
				<p flex="20" layout="row" layout-align="left center">
					<i class="material-icons color-fg-fm-500">account_circle</i> John Smith
				</p>
				<p flex="15">5.2.2017</p>
				<p flex="10">Done</p>
				<md-menu>
					<md-button flex="10" ng-click="$mdOpenMenu($event)" md-menu-origin>
						<md-icon class="material-icons">more_vert</md-icon>
					</md-button>
					<md-menu-content>
						<md-menu-item>
							<md-button href="/#">Assign</md-button>
						</md-menu-item>
						<md-menu-item>
							<md-button href="/#">Finish</md-button>
						</md-menu-item>
					</md-menu-content>
				</md-menu>
			</md-expansion-panel-collapsed>
			<md-expansion-panel-expanded>
				<md-expansion-panel-header>
					<p flex="15" layout="row" layout-align="left center">
						<i class="material-icons color-fg-amber-500">label</i> UJ-148
					</p>
					<p flex="30">Odovzdanie</p>
					<p flex="15" layout="row" layout-align="left center">
						<i class="material-icons color-fg-amber-500">arrow_upward</i> Medium
					</p>
					<p flex="20" layout="row" layout-align="left center">
						<i class="material-icons color-fg-fm-500">account_circle</i> John Smith
					</p>
					<p flex="15">5.2.2017</p>
					<p flex="10">Done</p>
					<md-button ng-click="$panel.collapse()">
						<md-icon class="material-icons">keyboard_arrow_up</md-icon>
					</md-button>
				</md-expansion-panel-header>
				<md-expansion-panel-content>
					<h4>Content</h4>
					<p>Put content in here</p>
				</md-expansion-panel-content>
				<md-expansion-panel-footer>
					<div flex></div>
					<md-button>Assign</md-button>
					<md-button>Finish</md-button>
					<md-button class="md-primary" ng-click="$panel.collapse()">Collapse</md-button>
				</md-expansion-panel-footer>
			</md-expansion-panel-expanded>
		</md-expansion-panel>

		<md-expansion-panel class="task">
			<md-expansion-panel-collapsed layout="row" layout-align="left center">
				<p flex="15" layout="row" layout-align="left center">
					<i class="material-icons color-fg-indigo-500">label</i> UJ-150
				</p>
				<p flex="30">Odovzdanie</p>
				<p flex="15" layout="row" layout-align="left center">
					<i class="material-icons color-fg-red-500">arrow_upward</i> High
				</p>
				<p flex="20" layout="row" layout-align="left center">
					<i class="material-icons color-fg-fm-500">account_circle</i> John Smith
				</p>
				<p flex="15">5.2.2017</p>
				<p flex="10">Assigned</p>
				<md-menu>
					<md-button flex="10" ng-click="$mdOpenMenu($event)" md-menu-origin>
						<md-icon class="material-icons">more_vert</md-icon>
					</md-button>
					<md-menu-content>
						<md-menu-item>
							<md-button href="/#">Assign</md-button>
						</md-menu-item>
						<md-menu-item>
							<md-button href="/#">Finish</md-button>
						</md-menu-item>
					</md-menu-content>
				</md-menu>
			</md-expansion-panel-collapsed>
			<md-expansion-panel-expanded>
				<md-expansion-panel-header>
					<p flex="15" layout="row" layout-align="left center">
						<i class="material-icons color-fg-indigo-500">label</i> UJ-150
					</p>
					<p flex="30">Odovzdanie</p>
					<p flex="15" layout="row" layout-align="left center">
						<i class="material-icons color-fg-red-500">arrow_upward</i> High
					</p>
					<p flex="20" layout="row" layout-align="left center">
						<i class="material-icons color-fg-fm-500">account_circle</i> John Smith
					</p>
					<p flex="15">5.2.2017</p>
					<p flex="10">Assigned</p>
					<md-button ng-click="$panel.collapse()">
						<md-icon class="material-icons">keyboard_arrow_up</md-icon>
					</md-button>
				</md-expansion-panel-header>
				<md-expansion-panel-content>
					<h4>Content</h4>
					<p>Put content in here</p>
				</md-expansion-panel-content>
				<md-expansion-panel-footer>
					<div flex></div>
					<md-button>Assign</md-button>
					<md-button>Finish</md-button>
					<md-button class="md-primary" ng-click="$panel.collapse()">Collapse</md-button>
				</md-expansion-panel-footer>
			</md-expansion-panel-expanded>
		</md-expansion-panel>
	</div>
	<div layout="column">
		<md-card>
			<md-card-title>
				<md--card-title-text>
					<span class="md-headline">Changelog</span>
				</md--card-title-text>
			</md-card-title>
			<md-card-content>
				<md-divider></md-divider>
				<md-list>
					<md-list-item class="md-3-line">
						<div class="md-list-item-text">
							<h3>ID-157</h3>
							<h4>Jozef Mrkva</h4>
							<p>21.2.17 14:53:37 Finnished task ID-157: Copy new documents</p>
						</div>
						<md-divider ng-if="!$last"></md-divider>
					</md-list-item>
					<md-list-item class="md-3-line">
						<div class="md-list-item-text">
							<h3>ID-485</h3>
							<h4>Peter Veľký</h4>
							<p>21.2.17 14:50:35 Assigned task ID-485: Pick up documents to himself</p>
						</div>
						<md-divider ng-if="!$last"></md-divider>
					</md-list-item>
					<md-list-item class="md-3-line">
						<div class="md-list-item-text">
							<h3>ID-698</h3>
							<h4>Mária Jednoduchá</h4>
							<p>21.2.17 14:38:42 Finnished task ID-698: Scan new documents</p>
						</div>
						<md-divider ng-if="!$last"></md-divider>
					</md-list-item>
					<md-list-item class="md-3-line">
						<div class="md-list-item-text">
							<h3>ID-485</h3>
							<h4>Ivan Hrozný</h4>
							<p>21.2.17 14:36:45 Assigned task ID-485: Pick up documents to Jozef Mrkva</p>
						</div>
						<md-divider ng-if="!$last"></md-divider>
					</md-list-item>
					<md-list-item class="md-3-line">
						<div class="md-list-item-text">
							<h3>ID-487</h3>
							<h4>Ivan Hrozný</h4>
							<p>21.2.17 14:30:29 Assigned task ID-487: Pick up documents to Jozef Mrkva</p>
						</div>
						<md-divider ng-if="!$last"></md-divider>
					</md-list-item>
					<md-list-item class="md-3-line">
						<div class="md-list-item-text">
							<h3>ID-693</h3>
							<h4>Ivan Hrozný</h4>
							<p>21.2.17 14:10:15 Finnished task ID-693: Scan new documents</p>
						</div>
						<md-divider ng-if="!$last"></md-divider>
					</md-list-item>
				</md-list>
			</md-card-content>
		</md-card>
	</div>
</div>
