<div ng-cloak layout="column" class="layout-rh-100 color-bg-transparent">

    <div ng-include="'views/app/toolbars/main_toolbar.html'"></div>

    <section flex layout="row" class="layout-rh-100 color-bg-transparent">

        <div ng-include="'views/app/spinner/main_spinner.html'"></div>

        <md-content layout-wrap flex class="color-bg-transparent">
            <div app-view-segment="1" onload="mainCtrl.startLoadingData()" class="layout-rh-100"></div>
        </md-content>

    </section>

</div>
