<div ng-cloak>

	<md-tabs md-dynamic-height md-autoselect="true" md-border-bottom md-selected="offCtrl.activeTabIndex">

		<md-tab md-on-select="offCtrl.caseTab.activate()" class="primary" label="My offers">
			<md-content layout="column" class="color-bg-transparent">

				<div layout="row" layout-align="start center" class="card padding-vertical-default padding-horizontal-2x margin-default margin-top-default" flex>

					<div layout="row" layout-align="start center">
						<i class="material-icons color-fg-accent-50">search</i>

						<md-input-container class="margin-0">
							<label>Search</label>
							<input type="text" ng-model="offCtrl.search" class="margin-bottom-negative-15px">
						</md-input-container>
					</div>

					<div flex></div>

					<md-button class="md-fab md-raised md-mini md-primary" ng-click="offCtrl.caseTab.openNewCaseDialog()">
						<md-tooltip md-direction="left">Create Offer</md-tooltip>
						<md-icon class="material-icons">add</md-icon>
					</md-button>

				</div>

				<div layout="column" class="card margin-default" flex>

					<div layout="row" class="card-header padding-default padding-horizontal-2x">
						<span flex="5">{{::$i18n.block.case.label}}</span>
						<span flex="15">{{::$i18n.block.case.visualID}}</span>
						<span flex="20">{{::$i18n.block.case.title}}</span>
						<span flex="20">{{::$i18n.block.case.client}}</span>
						<span flex="15">{{::$i18n.block.case.date}}</span>
						<span flex="10" class="cursor-pointer">
							<md-tooltip md-direction="top">{{::$i18n.block.case.inEur}}</md-tooltip>
							{{::$i18n.block.case.insurance}}
						</span>
					</div>

					<div layout="row" class="padding-default padding-horizontal-2x list-item"
						 ng-repeat="useCase in offCtrl.caseTab.cases | orderBy:useCase.stringId"
						 ng-click="offCtrl.caseTab.openCase(useCase)">
						<i flex="5" class="material-icons {{::useCase.color}}">label</i>
						<span flex="15">{{::useCase.visualId}}</span>
						<span flex="20">{{::useCase.title}}</span>
						<span flex="20">Client Name</span>
						<span flex="15">21.6.2017</span>
						<span flex="10">250</span>
						<md-divider></md-divider>
					</div>

				</div>

				<div layout="row" layout-sm="column" layout-align="center center" class="padding-default margin-horizontal-default"
					 in-view="$inview&&offCtrl.caseTab.load(true)"
					 in-view-options="{ throttle: 0 }">
					<md-progress-circular md-mode="indeterminate" ng-disabled="!offCtrl.caseTab.loading" class="md-primary" md-diameter="50"></md-progress-circular>
				</div>

			</md-content>
		</md-tab>

		<md-tab class="primary" ng-repeat="tab in offCtrl.taskTabs" md-on-select="offCtrl.tabChanged()">
			<md-tab-label>
				{{::tab.useCase.title}}
				<md-icon class="material-icons cursor-pointer" style="font-size:22px;" ng-click="offCtrl.closeTab(tab.useCase.stringId)">close</md-icon>
			</md-tab-label>

			<md-tab-body>
				<md-content layout="column" class="color-bg-transparent">

					<div layout="column" class="card padding-vertical-default padding-horizontal-2x margin-default margin-top-default">

						<div layout="row" layout-align="space-between center" flex>

							<span><strong>Insurance calculation</strong></span>
							<span>Summary</span>
							<span>Design of contract</span>

						</div>

						<md-progress-linear md-mode="determinate" value="30" class="margin-top-default"></md-progress-linear>

					</div>

					<div layout="row" class="card color-bg-black-op-50 margin-default padding-2x">
						<span flex="5">{{::$i18n.block.task.label}}</span>
						<span flex="30">{{::$i18n.block.task.offer}}</span>
						<span flex="30">{{::$i18n.block.task.title}}</span>
						<span flex="30">{{::$i18n.block.task.date}}</span>
						<span flex="5">{{::$i18n.block.task.status}}</span>
					</div>

					<md-expansion-panel class="margin-horizontal-default" ng-repeat="task in tab.tasks | orderBy:task.title">

						<md-expansion-panel-collapsed layout="row" layout-align="start center">
							<i flex="5" class="material-icons color-fg-accent-50">label</i>
							<span flex="30">Offer</span>
							<span flex="30">Title</span>
							<span flex="30">Start date</span>
							<i flex="5" class="material-icons color-fg-primary-500">done</i>
						</md-expansion-panel-collapsed>

						<md-expansion-panel-expanded>

							<md-expansion-panel-header>
								<i flex="5" class="material-icons color-fg-accent-50">label</i>
								<span flex="30">Offer</span>
								<span flex="30">Title</span>
								<span flex="30">Start date</span>
								<i flex="5" class="material-icons color-fg-primary-500">done</i>
							</md-expansion-panel-header>

							<md-expansion-panel-content>
								<div layout="row" layout-align="start center" layout-wrap class="cursor-default">
									<div ng-repeat="field in task.data" flex="50" flex-sm="100">
										<div ng-include="'views/app/datafields/field_input_'+field.type+'.html'" ng-cloak flex></div>
									</div>
								</div>
								<div layout="row" layout-align="center center" ng-if="!task.data">
									<span>There are no data assigned to this task</span>
								</div>
							</md-expansion-panel-content>

							<md-expansion-panel-footer>
								<div flex></div>
								<md-button>Save</md-button>
								<md-button>Finish</md-button>
								<md-button class="md-primary" ng-click="$panel.collapse()">Collapse</md-button>
							</md-expansion-panel-footer>

						</md-expansion-panel-expanded>

					</md-expansion-panel>

				</md-content>
			</md-tab-body>

		</md-tab>

	</md-tabs>

</div>