<div ng-cloak>

	<md-tabs md-dynamic-height md-autoselect="true" md-border-bottom md-selected="offCtrl.activeTabIndex">

		<md-tab md-on-select="offCtrl.searchOffers()" class="primary" label="My offers">
			<md-content layout="column" class="color-bg-transparent">

				<div layout="row" layout-align="start center" class="card padding-vertical-default padding-horizontal-2x margin-default margin-top-default" flex>

					<div layout="row" layout-align="start center">
						<i class="material-icons color-fg-accent-50">search</i>

						<md-input-container class="margin-0">
							<label>Search</label>
							<input type="text" ng-model="offCtrl.search" class="margin-bottom-negative-15px">
						</md-input-container>
					</div>

					<div flex></div>

					<md-button class="md-fab md-raised md-mini md-primary">
						<md-tooltip md-direction="left">Create Offer</md-tooltip>
						<md-icon class="material-icons">add</md-icon>
					</md-button>

				</div>

				<div layout="column" class="card margin-horizontal-default margin-default" flex>

					<div layout="row" class="card-header padding-default">
						<span flex="5">Label</span>
						<span flex="15">Visual ID</span>
						<span flex="20">Name</span>
						<span flex="20">Client</span>
						<span flex="15">Date</span>
						<span flex="10" class="cursor-pointer">
							<md-tooltip md-direction="top">In EUR</md-tooltip>
							Insurance
						</span>
					</div>

					<div layout="row" class="color-fg-accent-50 padding-default list-item">
						<i class="material-icons" flex="5">label</i>
						<span flex="15">PI-12345678</span>
						<span flex="20">Insurance-name</span>
						<span flex="20">Client Name</span>
						<span flex="15">21.6.2017</span>
						<span flex="10">250</span>
					</div>

					<md-divider></md-divider>

					<div layout="row" class="color-fg-accent-50 padding-default list-item">
						<i class="material-icons" flex="5">label</i>
						<span flex="15">PI-12345678</span>
						<span flex="20">Insurance-name</span>
						<span flex="20">Client Name</span>
						<span flex="15">21.6.2017</span>
						<span flex="10">250</span>
					</div>

					<md-divider></md-divider>

					<div layout="row" class="color-fg-accent-50 padding-default list-item">
						<i class="material-icons" flex="5">label</i>
						<span flex="15">PI-12345678</span>
						<span flex="20">Insurance-name</span>
						<span flex="20">Client Name</span>
						<span flex="15">21.6.2017</span>
						<span flex="10">250</span>
					</div>

				</div>

			</md-content>
		</md-tab>

		<md-tab class="primary" label="_Dummy New Offer">

			<md-content layout="column" class="color-bg-transparent">
				<div layout="column" class="card padding-vertical-default padding-horizontal-2x margin-default margin-top-default">

					<div layout="row" layout-align="space-between center" flex>

						<span><strong>Insurance calculation</strong></span>
						<span>Summary</span>
						<span>Design of contract</span>

					</div>

					<md-progress-linear md-mode="determinate" value="30" class="margin-top-default"></md-progress-linear>

				</div>
			</md-content>

		</md-tab>

	</md-tabs>

</div>