<div ng-cloak>

    <md-tabs md-dynamic-height md-autoselect="true" md-border-bottom md-selected="payCtrl.activeTabIndex">

        <md-tab class="primary" ng-repeat="tab in payCtrl.tabs" md-on-select="payCtrl.tabChanged()">
            <md-tab-label>
                {{::tab.label}}
            </md-tab-label>
            <md-tab-body>
                <md-content layout="column" class="color-bg-transparent">

                    <div layout="column" class="card margin-default" flex>

                        <div layout="row" layout-align="start center"
                             class="card-header list-header padding-default padding-horizontal-2x">
                            <span flex="5">{{::$i18n.page.payments.type}}</span>
                            <span flex="20">{{::$i18n.page.payments.contractID}}</span>
                            <span flex="20">{{::$i18n.page.payments.insured}}</span>
                            <span flex="20">{{::$i18n.page.payments.beginningOfInsurance}}</span>
                            <span flex="5" class="visibility-hidden"></span>
                        </div>

                        <md-expansion-panel-group md-component-id="'tasksGroup-'+tab.id" eval-attr-as-expr="mdComponentId" multiple></md-expansion-panel-group>

                    </div>

                </md-content>
            </md-tab-body>
        </md-tab>

    </md-tabs>

</div>