<md-tabs md-dynamic-height md-border-bottom>

    <md-tab ng-if="$user.authority === 'admin'" md-on-select="rolesCtrl.loadSystemRoles()"
            label="{{::$i18n.page.roles.tab.systemRoles.this}}">
        <md-content class="md-padding color-bg-transparent">
            <md-card>
                <md-card-content layout="row">
                    <md-radio-group layout="column" flex="40" ng-model="rolesCtrl.systemRadios">
                        <md-radio-button layout="row" class="md-primary" ng-repeat="user in rolesCtrl.systemUsers"
                                         ng-click="rolesCtrl.loadSystemRolesForUser(user.email)" value="{{user.email}}">
                            {{user.name + " " + user.surname}}
                        </md-radio-button>
                    </md-radio-group>
                    <div layout="column" flex="40">
                        <md-checkbox layout="row" class="md-primary roles-checkbox"
                                     ng-repeat="box in rolesCtrl.systemCheckboxes track by $index"
                                     ng-model="box.isEnabled"
                                     value="{{box.value}}" ng-click="rolesCtrl.enableSystemSave()">{{box.value}}
                        </md-checkbox>
                    </div>
                </md-card-content>
                <!--<md-card-actions layout="row" layout-align="end center">-->
                    <!--<md-button>Back</md-button>-->
                    <!--<md-button class="md-primary" ng-disabled="rolesCtrl.disSystemButton"-->
                               <!--ng-click="rolesCtrl.saveSystemRole()">Save-->
                    <!--</md-button>-->
                <!--</md-card-actions>-->
            </md-card>
        </md-content>
    </md-tab>

    <md-tab label="{{::$i18n.page.roles.tab.manageRoles.this}}">
        <md-content class="md-padding color-bg-transparent">
            <md-card layout="row">
                <md-card-content>
                    <md-input-container>
                        <label>{{::$i18n.page.roles.tab.manageRoles.label}}</label>
                        <md-select ng-model="rolesCtrl.petriNet" required ng-click="rolesCtrl.loadPetriNets()">
                            <md-option ng-repeat="net in rolesCtrl.petriNetRefs" value="{{net.entityId}}"
                                       ng-click="rolesCtrl.loadRoles(net.entityId)">
                                {{net.title}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </md-card-content>
            </md-card>
            <md-card>
                <md-card-content layout="row">
                    <md-radio-group layout="column" flex="40" ng-model="rolesCtrl.radios">
                        <md-radio-button layout="row" class="md-primary" ng-repeat="user in rolesCtrl.users"
                                         ng-click="rolesCtrl.loadRolesForUser(user.email)" value="{{user.email}}">
                            {{user.name + " " + user.surname}}
                        </md-radio-button>
                    </md-radio-group>
                    <div layout="column" flex="40">
                        <!--<md-checkbox layout="row" class="md-primary roles-checkbox"-->
                        <!--ng-repeat="box in rolesCtrl.checkboxes track by $index" ng-model="box.isEnabled"-->
                        <!--value="{{box.value}}" ng-click="rolesCtrl.enableSave()">{{box.value}}-->
                        <!--</md-checkbox>-->
                        <md-checkbox layout="row" class="md-primary roles-checkbox"
                                     ng-repeat="box in rolesCtrl.checkboxes track by $index" ng-model="box.isEnabled"
                                     value="{{box.value}}" ng-click="rolesCtrl.saveRole()">{{box.value}}
                        </md-checkbox>
                    </div>
                </md-card-content>
                <!--<md-card-actions layout="row" layout-align="end center">-->
                <!--<md-button>Back</md-button>-->
                <!--<md-button class="md-primary" ng-disabled="rolesCtrl.disButton" ng-click="rolesCtrl.saveRole()">-->
                <!--Save-->
                <!--</md-button>-->
                <!--</md-card-actions>-->
            </md-card>
        </md-content>
    </md-tab>
</md-tabs>
