<div ng-cloak>

    <div class="background-header background-welcome"></div>

    <div layout="row" class="margin-2x">

        <div flex>

            <md-toolbar class="md-accent md-hue-1 padding-top-2x border-radius-default search-roles">
                <div layout="row" layout-align="space-between center" class="md-toolbar-tools">
                    <md-input-container>
                        <label>User</label>
                        <input type="text" ng-model="userSearch.input" ng-change="rolesCtrl.filterUsers()">
                    </md-input-container>

                    <md-menu>
                        <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button">
                            <md-icon class="material-icons color-fg-material-grey-text">more_vert</md-icon>
                        </md-button>

                        <md-menu-content>
                            <md-menu-item class="margin-left-2x">
                                <md-checkbox ng-model="userSearch.byName" aria-label="Name" class="md-primary">
                                    Name
                                </md-checkbox>
                            </md-menu-item>

                            <md-menu-item class="margin-left-2x">
                                <md-checkbox ng-model="userSearch.byEmail" aria-label="Email" class="md-primary">
                                    Email
                                </md-checkbox>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </md-toolbar>

            <md-divider class="border-width-default color-border-transparent"></md-divider>

            <md-content>
                <md-list flex class="list-primary">
                    <md-list-item ng-repeat="user in users | orderBy:user.fullName" ng-click="rolesCtrl.selectUser(user)" ng-class="user.selected ? 'list-item-selected' : ''">
                        <div flex layout="row" layout-align="start center">
                            <i class="material-icons color-fg-primary-500 margin-right-2x">account_circle</i>
                            <span>
                                {{user.fullName}}
                                <md-tooltip>
                                    {{user.email}}
                                </md-tooltip>
                            </span>
                        </div>

                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
            </md-content>

        </div>

        <md-divider class="border-width-default color-border-transparent"></md-divider>

        <div flex>

            <md-toolbar class="md-accent md-hue-1 padding-top-2x border-radius-default search-roles">
                <div layout="row" layout-align="start center" class="md-toolbar-tools">
                    <md-input-container>
                        <label>Process</label>
                        <md-select ng-model="rolesCtrl.roles.process" ng-change="rolesCtrl.loadRoles()">
                            <md-option ng-repeat="process in processes" ng-value="process">
                                {{process.title}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container>
                        <label>Role</label>
                        <input type="text" ng-model="roleSearch" ng-change="rolesCtrl.filterRoles()">
                    </md-input-container>

                    <span flex></span>

                    <md-button class="md-primary" ng-click="rolesCtrl.saveRoles()">
                        Save
                    </md-button>

                    <i ng-hide="saved" class="material-icons color-fg-warning">warning</i>
                </div>
            </md-toolbar>

            <md-divider class="border-width-default color-border-transparent"></md-divider>

            <md-content>
                <md-list flex class="list-primary">
                    <md-list-item ng-repeat="role in roles | orderBy:role.name" ng-click="rolesCtrl.selectRole(role)" ng-class="role.selected ? 'list-item-selected' : ''">
                        <div flex layout="row" layout-align="start center">
                            <i class="material-icons color-fg-primary-500 margin-right-2x">perm_identity</i>
                            <span>{{role.name}}</span>
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
            </md-content>

        </div>

    </div>

</div>