<div ng-cloak flex layout="column" class="padding-2x">

    <div hide show-gt-sm flex="100" layout="row" layout-align="start center" class="margin-top-2x">
        <div flex="20" class="line-3px color-bg-primary-op-50"></div>
        <span class="margin-horizontal-default font-size-22">{{::$i18n.page.profile.this}}</span>
        <div flex class="line-3px color-bg-primary-op-50"></div>
    </div>

    <md-divider hide show-gt-sm class="border-width-2x color-border-transparent"></md-divider>

    <div ng-hide="profCtrl.completion === 100" layout="column" layout-align="start start" class="card padding-2x">

        <span>{{$i18n.page.profile.progressPart1 + " " + profCtrl.completion + "% " + $i18n.page.profile.progressPart2}}</span>
        <md-progress-linear md-mode="determinate" value="{{profCtrl.completion}}"></md-progress-linear>

    </div>

    <md-divider ng-hide="profCtrl.completion === 100" class="border-width-default color-border-transparent"></md-divider>

    <div layout-gt-xs="row" layout-xs="column">

        <div flex layout="column" layout-align="start start" class="card padding-2x">

            <h3 class="margin-bottom-2x">{{::$i18n.page.profile.personalInfo.this}}</h3>

            <div flex-offset="15" layout="column">

                <md-input-container>
                    <label>{{::$i18n.page.profile.personalInfo.firstName}}</label>
                    <input type="text" ng-model="profCtrl.user.name" ng-disabled="!profCtrl.isInEditMode" title="">
                </md-input-container>

                <md-input-container>
                    <label>{{::$i18n.page.profile.personalInfo.lastName}}</label>
                    <input type="text" ng-model="profCtrl.user.surname" ng-disabled="!profCtrl.isInEditMode" title="">
                </md-input-container>

            </div>

        </div>

        <md-divider class="border-width-default color-border-transparent"></md-divider>

        <div flex layout="column" layout-align="start start" class="card padding-2x">

            <h3 class="margin-bottom-2x">{{::$i18n.page.profile.contactInfo.this}}</h3>

            <div flex-offset="15" layout="column">

                <!--<md-input-container>-->
                    <!--<label>{{::$i18n.page.profile.contactInfo.phone}}</label>-->
                    <!--<input type="text" ng-model="profCtrl.user.telNumber" disabled title="">-->
                <!--</md-input-container>-->

                <md-input-container>
                    <label>{{::$i18n.page.profile.contactInfo.email}}</label>
                    <input type="email" ng-model="profCtrl.user.email" disabled title="">
                </md-input-container>

            </div>

        </div>

    </div>

    <md-divider class="border-width-default color-border-transparent"></md-divider>

    <div layout-gt-xs="row" layout-xs="column" layout-align="start center" class="card padding-2x">

        <div flex layout="row" layout-align="start start" class="layout-rw-100">

            <h3>{{::$i18n.page.profile.orgs.this}}</h3>

        </div>

        <div flex layout="row" layout-align="start center">

            <md-chips flex ng-model="profCtrl.user.userGroupResources" readonly="true" md-removable="false">

                <md-chip-template>
                    <span>{{$chip.name}}</span>
                </md-chip-template>

            </md-chips>

        </div>

    </div>

    <md-divider class="border-width-default color-border-transparent"></md-divider>

    <div layout-gt-xs="row" layout-xs="column" layout-align="start center" class="card padding-2x">

        <div flex layout="column" layout-align="start start" class="layout-rw-100">

            <h3>{{::$i18n.page.profile.systemRoles.this}}</h3>

        </div>

        <div flex layout="row" layout-align="start center">

            <md-chips flex ng-model="profCtrl.user.authorities" readonly="true" md-removable="false">

                <md-chip-template>
                    <span>{{profCtrl.getRoleName($chip.authority)}}</span>
                </md-chip-template>

            </md-chips>

        </div>

    </div>

    <md-divider class="border-width-default color-border-transparent"></md-divider>

    <div layout-gt-xs="row" layout-xs="column" layout-align="start center" class="card padding-2x">

        <div flex layout="column" layout-align="start start" class="layout-rw-100">

            <h3>{{::$i18n.page.profile.workflowRoles.this}}</h3>

        </div>

        <div flex layout="column" layout-align="start start">
            <div layout="row" layout-align="start center" ng-repeat="process in profCtrl.user.categorizedUserProcessRoles" class="layout-rw-100">

                <h4 class="margin-right-2x">{{process.name}} {{process.version}}</h4>

                <div flex layout="row" layout-align="start center">

                    <md-chips flex ng-model="process.roles" readonly="true" md-removable="false">

                        <md-chip-template>
                            <span>{{$chip.name}}</span>
                        </md-chip-template>

                    </md-chips>

                </div>
            </div>

        </div>

    </div>

    <md-divider class="border-width-default color-border-transparent"></md-divider>

    <div flex layout="row" layout-align="space-between center" layout-xs="column" layout-align-xs="start center" layout-wrap class="card padding-2x layout-xs-rw-100">

        <div layout="row" layout-xs="column" layout-align="start center" layout-wrap class="layout-xs-rw-100">

            <md-button ng-if="!profCtrl.isInEditMode && $config.enable.editProfile" layout="row" layout-align="center center" class="md-primary layout-xs-rw-100" ng-click="profCtrl.enableEdit();">
                <md-icon class="material-icons margin-left-0 margin-right-default">mode_edit</md-icon>
                {{::$i18n.page.profile.actions.edit}}
            </md-button>

            <md-button ng-if="profCtrl.isInEditMode && $config.enable.editProfile" layout="row" layout-align="center center" class="md-warn layout-xs-rw-100" ng-click="profCtrl.cancelEdit();">
                <md-icon class="material-icons margin-left-0 margin-right-default">cancel</md-icon>
                {{::$i18n.page.profile.actions.cancel}}
            </md-button>

            <md-button ng-if="profCtrl.isInEditMode && $config.enable.editProfile" layout="row" layout-align="center center" class="md-primary layout-xs-rw-100" ng-click="profCtrl.updateUser();">
                <md-icon class="material-icons margin-left-0 margin-right-default">done</md-icon>
                {{::$i18n.page.profile.actions.submit}}
            </md-button>

        </div>

        <md-button layout="row" layout-align="center center" class="layout-xs-rw-100" ng-click="profCtrl.openChangePswDialog();">
            <md-icon class="material-icons card-icon margin-left-0 margin-right-default">lock_open</md-icon>
            {{::$i18n.page.profile.actions.changePsw}}
        </md-button>

    </div>

</div>