<md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="one">
        <md-content class="md-padding color-bg-transparent">
            <md-card class="roles">
                <div layout="row" layout-align="left center">
                    <md-input-container class="md-block" flex="20">
                        <label>Name</label>
                        <input>
                    </md-input-container>
                    <p class="roletab"><a>rola1</a></p>
                    <p class="roletab"><a>rola2</a></p>
                    <p class="roletab"><a>rola3</a></p>
                    <p class="roletab"><a>rola4</a></p>
                    <p class="roletab"><a>rola5</a></p>
                    <p class="roletab"><a>rola1</a></p>
                    <p class="roletab"><a>rola2</a></p>
                    <p class="roletab"><a>rola3</a></p>
                    <p class="roletab"><a>rola4</a></p>
                    <p class="roletab"><a>rola5</a></p>
                </div>
                <div layout="row" layout-align="left center">
                    <md-list layout="row" layout-align="left center">
                        <md-list-item layout="row" layout-align="left center">
                            <p>Meno menove</p>
                            <md-checkbox class="md-secondary"></md-checkbox>
                            <md-checkbox class="md-secondary"></md-checkbox>
                            <md-checkbox class="md-secondary"></md-checkbox>
                            <md-checkbox class="md-secondary"></md-checkbox>
                            <md-checkbox class="md-secondary"></md-checkbox>
                        </md-list-item>
                    </md-list>
                </div>
            </md-card>
        </md-content>
    </md-tab>
    <md-tab label="two">
        <md-content class="md-padding color-bg-transparent">
            <md-card layout="row">
                <div class="md-dialog-content" layout="column">
                    <md-input-container>
                        <label>Petri Net</label>
                        <md-select ng-model="flowCtrl.newCase.netId" required>
                            <md-option ng-repeat="net in flowCtrl.petriNetRefs" value="{{net.id}}">
                                {{net.title}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container>
                        <label>Name</label>
                        <input type="text" ng-model="flowCtrl.newCase.title" required>
                    </md-input-container>
                </div>
                <md-button ng-click="flowCtrl.loadPetriNets()">Load Petri Nets</md-button>
            </md-card>

            <md-card layout="row">
                <div class="md-padding" layout="column" flex="40">
                    <md-radio-group ng-model="radios">
                       <p layout="row"> <md-radio-button class="md-primary" value="1">Prve meno</md-radio-button></p>
                       <p layout="row"> <md-radio-button class="md-primary" value="2">druhe meno</md-radio-button></p>
                       <p layout="row"> <md-radio-button class="md-primary" vlaue="3">trietie meno</md-radio-button></p>
                       <p layout="row"> <md-radio-button class="md-primary" value="4">stvrte meno</md-radio-button></p>
                       <p layout="row"> <md-radio-button class="md-primary" value="5">piate meno</md-radio-button></p>
                       <p layout="row"> <md-radio-button class="md-primary" value="6">sieste meno</md-radio-button></p>
                       <p layout="row"> <md-radio-button class="md-primary" value="7">siedme meno</md-radio-button></p>
                       <p layout="row"> <md-radio-button class="md-primary" value="8">osme meno</md-radio-button></p>
                       <p layout="row"> <md-radio-button class="md-primary" value="9">deviate meno</md-radio-button></p>
                    </md-radio-group>

                </div>
                <div class="md-padding" layout="column" flex="40">
                   <md-checkbox layout="row" class="md-primary roles-checkbox"><a>kuko1</a></md-checkbox>
                   <md-checkbox layout="row" class="md-primary roles-checkbox"><a>kuko1</a></md-checkbox>
                   <md-checkbox layout="row" class="md-primary roles-checkbox"><a>kuko1</a></md-checkbox>
                   <md-checkbox layout="row" class="md-primary roles-checkbox"><a>kuko1</a></md-checkbox>
                   <md-checkbox layout="row" class="md-primary roles-checkbox"><a>kuko1</a></md-checkbox>
                   <md-checkbox layout="row" class="md-primary roles-checkbox"><a>kuko1</a></md-checkbox>
                   <md-checkbox layout="row" class="md-primary roles-checkbox"><a>kuko1</a></md-checkbox>
                   <md-checkbox layout="row" class="md-primary roles-checkbox"><a>kuko1</a></md-checkbox>
                   <md-checkbox layout="row" class="md-primary roles-checkbox"><a>kuko1</a></md-checkbox>
                   <md-checkbox layout="row" class="md-primary roles-checkbox"><a>kuko1</a></md-checkbox>

                </div>
                <div class="md-padding" layout="column" flex="10">
                    <md-button>
                        Save
                    </md-button>
                    <md-button>
                        Back
                    </md-button>
                </div>
            </md-card>
        </md-content>
    </md-tab>
</md-tabs>






