<div ng-cloak flex layout="column" class="padding-2x">

    <div layout="column" class="color-bg-transparent margin-top-2x">

        <div flex="100" layout="row" layout-align="start center">
            <div flex="20" class="line-3px color-bg-primary-op-50"></div>
            <span class="margin-horizontal-default font-size-22">{{::$i18n.page.settings.signUp}}</span>
            <div flex class="line-3px color-bg-primary-op-50"></div>
        </div>

        <div ng-include="'views/app/toolbars/settings_signup_toolbar.html'" class="margin-top-2x"></div>

    </div>

</div>