<div ng-cloak layout-xs>
	<div class="background-header background-welcome"></div>
	<md-tabs md-dynamic-height md-border-bottom md-selected="tasksCtrl.activeTab">
		<md-tab ng-repeat="tab in tasksCtrl.tabs" label="{{tab.label}}">
			<div ng-include="'views/app/tasks/tasks_tab.html'"></div>
		</md-tab>
		<md-tab>
			<md-tab-label>
				<md-icon class="material-icons">add</md-icon>
			</md-tab-label>
			<md-content class="md-padding color-bg-transparent">
				<!--TODO: form to add new tab with filter-->
			</md-content>
		</md-tab>
	</md-tabs>
</div>
