<div ng-cloak>

    <md-tabs md-dynamic-height md-autoselect="true" md-border-bottom md-selected="tasksCtrl.activeTab" class="background-tabs">

        <md-tab label="{{::$i18n.page.tasks.all}}" md-on-select="true">
            <md-content class="padding-2x color-bg-transparent">

                <div layout="row" class="card padding-2x">

                    <div flex layout="column">

                        <div layout="row" layout-align="start center">

                            <md-icon class="material-icons color-fg-primary-500 margin-right-14px">search</md-icon>

                            <div flex layout="row">

                                <md-autocomplete class="md-block"
                                                 md-search-text="tasksCtrl.tabs[$index].filter.selectedProcess.search"
                                                 md-selected-item="tasksCtrl.tabs[$index].filter.selectedProcess.item"
                                                 md-selected-item-change="tasksCtrl.processSearchChange(item)"
                                                 md-items="item in tasksCtrl.queryProcesses()"
                                                 md-item-text="item.title"
                                                 md-min-length="0"
                                                 md-no-cache="true"
                                                 md-floating-label="{{::$i18n.page.tasks.filter.process}}">

                                    <md-item-template>
                                        <span md-highlight-text="tasksCtrl.tabs[$index].filter.selectedProcess.search" md-highlight-flags="i">
                                            {{item.title}}
                                        </span>
                                    </md-item-template>

                                    <md-not-found>
                                        {{::$i18n.page.tasks.filter.process + " " + tasksCtrl.tabs[$index].filter.selectedProcess.search + " " + $i18n.page.tasks.filter.processNotFound}}
                                    </md-not-found>

                                </md-autocomplete>

                                <md-autocomplete class="md-block"
                                                 md-search-text="tasksCtrl.tabs[$index].filter.selectedTransition.search"
                                                 md-selected-item="tasksCtrl.tabs[$index].filter.selectedTransition.item"
                                                 md-selected-item-change="tasksCtrl.transitionSearchChange(item)"
                                                 md-items="item in tasksCtrl.queryTransitions()"
                                                 md-item-text="item.title"
                                                 md-min-length="0"
                                                 md-no-cache="true"
                                                 md-floating-label="{{::$i18n.page.tasks.filter.task}}">

                                    <md-item-template>
                                        <span md-highlight-text="tasksCtrl.tabs[$index].filter.selectedTransition.search" md-highlight-flags="i">
                                            {{item.title}}
                                        </span>
                                    </md-item-template>

                                    <md-not-found>
                                        {{::$i18n.page.tasks.filter.task + " " + tasksCtrl.tabs[$index].filter.selectedTransition.search + " " + $i18n.page.tasks.filter.taskNotFound}}
                                    </md-not-found>

                                </md-autocomplete>

                                <md-menu layout="column" layout-align="center center">
                                    <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)" md-menu-origin>
                                        <md-icon class="material-icons">more_vert</md-icon>
                                    </md-button>
                                    <md-menu-content>
                                        <md-menu-item>
                                            <md-button ng-click="tasksCtrl.showFilterDialog()">{{::$i18n.block.btn.save}}
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item>
                                            <md-button ng-click="tasksCtrl.clearFilter()">{{::$i18n.block.btn.reset}}</md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>

                            </div>

                        </div>

                        <div layout="row" layout-align="start center">

                            <md-icon class="material-icons color-fg-primary-500 margin-right-14px">filter_list</md-icon>

                            <md-chips ng-model="tasksCtrl.tabs[$index].filter.chips" readonly="true" md-removable="true"
                                      md-on-remove="tasksCtrl.removeChip($chip)"
                                      id="chips-container" flex>
                                <md-chip-template>
                                    {{$chip.title}}
                                </md-chip-template>

                                <!-- TODO 8.1.2018 Temporary -->
                                <md-chip>Test</md-chip>
                                <md-chip>Test</md-chip>
                                <md-chip>Test</md-chip>
                                <md-chip>Test</md-chip>
                                <md-chip>Test</md-chip>
                                <md-chip>Test</md-chip>
                                <!-- ./Temporary -->

                            </md-chips>

                        </div>

                    </div>

                    <div layout="column" layout-align="center center">

                        <md-button class="md-fab md-raised md-mini md-primary" ng-click="tasksCtrl.searchTasks()">
                            <md-icon class="material-icons">save</md-icon>
                            <md-tooltip md-direction="left">
                                {{::$i18n.block.btn.search}}
                            </md-tooltip>
                        </md-button>

                    </div>

                </div> <!-- ./card -->

                <md-divider class="border-width-default color-border-transparent"></md-divider>

                <div class="tasks">

                    <div class="card tasks-header" layout="column">

                        <md-card-content layout="row" layout-align="left center">
                            <a flex="25" href="javascript:void(0)" ng-click="tasksCtrl.setSortField('caseTitle')">
                                {{::$i18n.block.taskHeader.case}}
                                <md-icon class="material-icons">{{ tasksCtrl.tabs[$index].sort.field == 'caseTitle' &&
                                    !tasksCtrl.tabs[$index].sort.reverse ? 'arrow_drop_up' : 'arrow_drop_down' }}
                                </md-icon>
                            </a>
                            <a flex="25" href="javascript:void(0)" ng-click="tasksCtrl.setSortField('title')">
                                {{::$i18n.block.taskHeader.name}}
                                <md-icon class="material-icons">{{ tasksCtrl.tabs[$index].sort.field == 'title' &&
                                    !tasksCtrl.tabs[$index].sort.reverse ? 'arrow_drop_up' : 'arrow_drop_down' }}
                                </md-icon>
                            </a>
                            <a flex="15" href="javascript:void(0)" ng-click="tasksCtrl.setSortField('priority')">
                                {{::$i18n.block.taskHeader.priority}}
                                <md-icon class="material-icons">{{ tasksCtrl.tabs[$index].sort.field == 'priority' &&
                                    !tasksCtrl.tabs[$index].sort.reverse ? 'arrow_drop_up' : 'arrow_drop_down' }}
                                </md-icon>
                            </a>
                            <a flex="20" href="javascript:void(0)" ng-click="tasksCtrl.setSortField('username')">
                                {{::$i18n.block.taskHeader.user}}
                                <md-icon class="material-icons">{{ tasksCtrl.tabs[$index].sort.field == 'username' &&
                                    !tasksCtrl.tabs[$index].sort.reverse ? 'arrow_drop_up' : 'arrow_drop_down' }}
                                </md-icon>
                            </a>
                            <a flex="15" href="javascript:void(0)" ng-click="tasksCtrl.setSortField('startDate')">
                                {{::$i18n.block.taskHeader.startDate}}
                                <md-icon class="material-icons">{{ tasksCtrl.tabs[$index].sort.field == 'startDate' &&
                                    !tasksCtrl.tabs[$index].sort.reverse ? 'arrow_drop_up' : 'arrow_drop_down' }}
                                </md-icon>
                            </a>
                            <md-menu>
                                <md-button ng-click="$mdOpenMenu($event)" md-menu-origin>
                                    <md-tooltip md-direction="top">{{::$i18n.block.taskHeader.view.this}}</md-tooltip>
                                    <md-icon class="material-icons">view_carousel</md-icon>
                                </md-button>
                                <md-menu-content>
                                    <md-menu-item>
                                        <md-button ng-click="tasksCtrl.changeView('list')">{{::$i18n.block.taskHeader.view.list}}
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="tasksCtrl.changeView('table')" disabled>
                                            {{::$i18n.block.taskHeader.view.table}}
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </md-card-content>

                    </div> <!-- ./card -->

                    <div ng-include="'views/app/panels/task_view_panel.html'"></div>

                    <div layout="row" layout-sm="column" layout-align="center center" in-view="$inview&&tasksCtrl.loadTasks(true)" in-view-options="{ throttle: 0 }">
                        <md-progress-circular md-mode="indeterminate" ng-disabled="!tasksCtrl.tabs[$index].loading" class="md-primary" md-diameter="60"></md-progress-circular>
                    </div>
                </div>

            </md-content>

        </md-tab>

        <md-tab md-on-select="tasksCtrl.loadFilters()">

            <md-tab-label>
                <md-icon class="material-icons md-highlight">add</md-icon>
            </md-tab-label>

            <md-tab-body>
                <md-content class="md-padding color-bg-transparent" layout="column" layout-align="center">
                    <md-card>
                        <form ng-submit="tasksCtrl.addTab()">

                            <md-card-title>
                                <md-card-title-text>

                                    <span class="md-headline">{{::$i18n.page.tasks.addTab.title}}</span>

                                </md-card-title-text>
                            </md-card-title>

                            <md-card-content>

                                <md-input-container class="md-block">
                                    <label>{{::$i18n.page.tasks.addTab.label}}</label>
                                    <input type="text" ng-model="tasksCtrl.newTab.label" required>
                                </md-input-container>

                                <md-radio-group ng-model="tasksCtrl.newTab.filter" required>
                                    <md-list flex>

                                        <md-subheader>{{::$i18n.page.tasks.addTab.filters}}</md-subheader>

                                        <md-list-item class="md-3-line" ng-repeat="filter in tasksCtrl.global.availableFilters" ng-click="null">

                                            <md-radio-button ng-value="filter.filter" class="md-primary" flex>
                                                <div class="md-list-item-text" layout="column">

                                                    <h3>{{filter.name}}</h3>
                                                    <h4>{{filter.access}}</h4>

                                                    <md-chips ng-model="filter.filter.processes" readonly="true" flex>
                                                        <md-chip-template>
                                                            {{$chip.title}}
                                                        </md-chip-template>
                                                    </md-chips>

                                                    <md-chips ng-model="filter.filter.transitions" readonly="true" flex>
                                                        <md-chip-template>
                                                            {{$chip.title}}
                                                        </md-chip-template>
                                                    </md-chips>

                                                </div>
                                            </md-radio-button>

                                            <md-divider></md-divider>

                                        </md-list-item>

                                    </md-list>
                                </md-radio-group>

                            </md-card-content>

                            <md-card-actions layout="row" layout-align="end center">
                                <md-button type="submit">{{::$i18n.page.tasks.addTab.submit}}</md-button>
                            </md-card-actions>

                        </form>
                    </md-card>
                </md-content>
            </md-tab-body>

        </md-tab>

    </md-tabs>

</div>