<div ng-cloak>

    <md-tabs md-dynamic-height md-autoselect="true" md-border-bottom md-selected="tasksCtrl.activeTab" class="background-tabs">

        <md-tab label="{{::$i18n.page.tasks.all}}" md-on-select="true">
            <md-content class="padding-2x color-bg-transparent">

                <div ng-include="'views/app/search_bars/task_search_bar.html'"></div>

                <md-divider class="border-width-2x color-border-transparent"></md-divider>

                <div layout="column">

                    <div ng-include="'views/app/headers/task_header.html'"></div>

                    <md-divider class="border-width-2x color-border-transparent"></md-divider>

                    <!-- TODO 9.1.2018 Temporary for view testing -->
                    <md-expansion-panel-group>
                        <div ng-include="'views/app/panels/task_panel.html'"></div>
                    </md-expansion-panel-group>

                    <div layout="row" layout-align="center center" in-view="$inview&&tasksCtrl.loadTasks(true)" in-view-options="{ throttle: 0 }" class="padding-2x margin-2x">
                        <md-progress-circular md-mode="indeterminate" ng-disabled="false" class="progress-circular-stroke-accent-50" md-diameter="50"></md-progress-circular>
                    </div>

                </div> <!-- ./column -->

            </md-content>

        </md-tab>

        <md-tab md-on-select="tasksCtrl.loadFilters()">

            <md-tab-label>
                <md-icon class="material-icons md-highlight">add</md-icon>
            </md-tab-label>

            <md-tab-body>

                <md-content layout="column" layout-align="center" class="padding-2x color-bg-transparent">

                    <div ng-include="'views/app/search_bars/filter_search_bar.html'"></div>

                    <md-divider class="border-width-2x color-border-transparent"></md-divider>

                    <!-- Detail opened view -->
                    <div layout="row">

                        <div hide flex ng-include="'views/app/filter/filter_small.html'"></div>

                        <md-divider hide hide-sm hide-xs class="border-width-2x color-border-transparent"></md-divider>

                        <div hide hide-sm hide-xs flex-gt-sm="40" layout="column" ng-include="'views/app/filter/filter_detail.html'"></div>

                    </div>

                    <!-- Detail closed view -->
                    <div layout="row" ng-include="'views/app/filter/filter_full.html'"></div>

                </md-content> <!-- ./column -->

            </md-tab-body>

        </md-tab>

    </md-tabs>

</div>