<div ng-cloak class="layout-rh-100">
    <div class="padding-2x">

        <div ng-include="'views/app/search_bars/workflow_search_bar.html'"></div>

        <md-divider class="border-width-2x color-border-transparent"></md-divider>

        <div ng-include="'views/app/headers/workflow_header.html'"></div>

        <md-divider class="border-width-2x color-border-transparent"></md-divider>

        <md-expansion-panel-group md-component-id="workflowExpansionGroup" multiple></md-expansion-panel-group>

        <div layout="row" layout-align="center center" class="padding-2x margin-2x" in-view="$inview&&workCtrl.load(true)">
            <md-progress-circular md-mode="indeterminate" ng-disabled="!workCtrl.loading" class="progress-circular-stroke-primary-500" md-diameter="50"></md-progress-circular>
        </div>

    </div>
</div>