<div ng-cloak layout="column">
	<section layout="row" layout-align="space-between center" class="content-nav-workflow">
		<md-input-container>
			<label>Petri Net</label>
			<md-select ng-model="selected" required>
				<md-option value="1">
					Petri Net 1
				</md-option>
				<md-option value="2">
					Petri Net 2
				</md-option>
				<md-option value="3">
					Petri Net 3
				</md-option>
			</md-select>
		</md-input-container>
		<div layout="row">
			<md-button ng-if="$user.authority === 'admin'" ng-click="flowCtrl.showDialog('upload_net')">Upload Net</md-button>
			<md-button ng-click="flowCtrl.showDialog('create_case'); flowCtrl.loadPetriNets()">Create Case</md-button>
		</div>
	</section>
</div>
