<form name="signupForm" id="signup-form" ng-submit="loginCtrl.activeView.signup()" class="form-signup">

    <md-input-container class="md-block">
        <md-icon class="material-icons">email</md-icon>
        <input ng-model="loginCtrl.activeView.email" name="email" type="email" placeholder="{{::$i18n.page.signUp.email}}" ng-required="true" disabled>
    </md-input-container>

    <md-input-container class="md-block">
        <md-icon class="material-icons">perm_identity</md-icon>
        <input ng-model="loginCtrl.activeView.name" name="name" type="text" placeholder="{{::$i18n.page.signUp.name}}" ng-required="true" autocomplete="given-name">
    </md-input-container>

    <md-input-container class="md-block">
        <md-icon class="material-icons">perm_identity</md-icon>
        <input ng-model="loginCtrl.activeView.surname" name="surname" type="text" placeholder="{{::$i18n.page.signUp.surname}}" ng-required="true" autocomplete="family-name">
    </md-input-container>

    <md-input-container class="md-block">
        <md-icon class="material-icons">lock</md-icon>
        <input ng-model="loginCtrl.activeView.password" name="password" type="password" placeholder="{{::$i18n.page.signUp.psw}}" ng-required="true" ng-minlength="6">
        <div ng-messages="signupForm.password.$error">
            <div ng-message="minlength">{{::$i18n.block.validation.pswLength}}</div>
        </div>
    </md-input-container>

    <md-input-container class="md-block">
        <md-icon class="material-icons">repeat</md-icon>
        <input ng-model="loginCtrl.activeView.retypedPassword" type="password" ng-blur="loginCtrl.activeView.matchPasswords()" placeholder="{{::$i18n.page.signUp.retypePsw}}" ng-required="true">
        <div ng-messages="loginCtrl.activeView.signUpError" ng-show="loginCtrl.activeView.retypedPassword">
            <div ng-message="passwordMatch">{{::$i18n.block.validation.retypedPswNotMatch}}</div>
        </div>
    </md-input-container>

    <md-card-actions>
        <md-button type="submit" class="layout-rw-100 form-btn-submit">{{::$i18n.block.btn.submit}}</md-button>
    </md-card-actions>

    <div layout="row" layout-sm="column" layout-align="center center" class="padding-default margin-horizontal-default" ng-show="loginCtrl.loading">
        <md-progress-circular md-mode="indeterminate" ng-disabled="!loginCtrl.loading" class="md-primary" md-diameter="50"></md-progress-circular>
    </div>

</form>