<form ng-submit="loginCtrl.login()" class="form-signin">

    <md-input-container class="md-block">
        <md-icon class="material-icons">email</md-icon>
        <input ng-model="loginCtrl.credentials.username" type="text" placeholder="{{::$i18n.page.signIn.email}}" ng-required="true">
    </md-input-container>

    <md-input-container class="md-block">
        <md-icon class="material-icons">lock</md-icon>
        <input ng-model="loginCtrl.credentials.password" type="password" placeholder="{{::$i18n.page.signIn.psw}}" ng-required="true">
    </md-input-container>

    <md-card-actions layout="row" layout-xs="column" layout-align="space-between center">

        <md-button flex-order-xs="1" href="#" class="form-btn-signup" ng-click="loginCtrl.displaySignUpForm = !loginCtrl.displaySignUpForm">
            {{::$i18n.page.signIn.signUp}}
        </md-button>

        <md-button type="submit" flex-order-xs="-1" class="form-btn-submit">
            {{::$i18n.page.signIn.signIn}}
        </md-button>

    </md-card-actions>

</form>