<form ng-submit="loginCtrl.activeView.login()" class="form-signin">

    <md-input-container md-no-float class="md-block margin-right-default">
        <md-icon class="material-icons">email</md-icon>
        <input id="form-signin-username" ng-model="loginCtrl.activeView.username" name="username" placeholder="" type="text" ng-required="true" autocomplete="username">
        <label for="form-signin-username">{{::$i18n.page.signIn.email}}</label>
    </md-input-container>

    <md-input-container md-no-float class="md-block margin-right-default">
        <md-icon class="material-icons">lock</md-icon>
        <input id="form-signin-password" ng-model="loginCtrl.activeView.password" name="password" type="password" placeholder="" ng-required="true">
        <label for="form-signin-password">{{::$i18n.page.signIn.psw}}</label>
    </md-input-container>

    <div layout="column" layout-align="start center">

        <div layout="row" layout-xs="column" layout-align="space-between center" class="layout-rw-100">

            <md-button ng-if="$config.enable.userSignUp" flex flex-order-xs="1" class="form-btn-signup layout-xs-rw-100" ng-click="loginCtrl.displayEmailField('invite')">
                {{::$i18n.page.signIn.signUp}}
            </md-button>

            <md-divider ng-if="$config.enable.userSignUp" class="color-border-transparent border-width-default"></md-divider>

            <md-button ng-if="$config.enable.userSignUp" flex-xs type="submit" flex-order-xs="-1" class="form-btn-submit layout-xs-rw-100">
                {{::$i18n.page.signIn.signIn}}
            </md-button>

            <md-button ng-if="!$config.enable.userSignUp" flex type="submit" flex-order-xs="-1" class="form-btn-submit layout-xs-rw-100">
                {{::$i18n.page.signIn.signIn}}
            </md-button>

        </div>

        <md-button class="form-btn-forgotPsw layout-rw-100" ng-click="loginCtrl.displayEmailField('reset')">
            {{::$i18n.page.signIn.forgotPsw}}
        </md-button>

    </div>

</form>