<form ng-submit="loginCtrl.login()">

    <md-input-container class="md-block">
        <md-icon class="material-icons color-fg-blue-grey-300">email</md-icon>
        <input ng-model="loginCtrl.credentials.username" type="text" placeholder="{{::$i18n.page.signIn.email}}" ng-required="true">
    </md-input-container>

    <md-input-container class="md-block">
        <md-icon class="material-icons color-fg-blue-grey-300">lock</md-icon>
        <input ng-model="loginCtrl.credentials.password" type="password" placeholder="{{::$i18n.page.signIn.psw}}" ng-required="true">
    </md-input-container>

    <md-card-actions layout="row" layout-xs="column" layout-align="space-between center">

        <a flex-order-xs="1" href="#" class="color-fg-accent-500 text-no-decor" ng-click="loginCtrl.displaySignUpForm = !loginCtrl.displaySignUpForm">
            {{::$i18n.page.signIn.signUp}}
        </a>

        <md-button type="submit" flex-order-xs="-1" md-colors="{background: 'primary-500'}">
            {{::$i18n.page.signIn.signIn}}
        </md-button>

    </md-card-actions>

</form>