.case-view-container {
    margin: 8px;
    height: calc(100% - 16px);
}

.case-view-search-container {
    padding: 8px 8px;
}

.case-header-padding {
    padding-bottom: 8px;
    padding-top: 8px;
}

.font-size-20 {
    font-size: 20px;
}

.search-width {
    width: 100%;
}
