.case-view-container {
    margin: 16px;
    height: calc(100% - 32px);
}

.case-view-search-container {
    padding: 8px 16px;
}

.case-header-padding {
    padding-bottom: 16px;
    padding-top: 16px;
}

.font-size-20 {
    font-size: 20px;
}

.search-width {
    width: 100%;
}
