import { Component } from '@angular/core';
import {Router} from '@angular/router';

@Component({
  selector: '<%= prefix %>-<%= dasherize(path) %>-<%= viewType %>',
  templateUrl: './<%= dasherize(path) %>-<%= viewType %>.component.html',
  styleUrls: ['./<%= dasherize(path) %>-<%= viewType %>.component.scss']
})
export class <%= classify(path) %><%= fileName %>Component {

  constructor(public routes: Router) { }

}
