.workflow-container {
    padding: 8px;
}

.workflow-header {
    margin-top: 8px;
}

.workflow-panels-container {
    margin-top: 8px;
}

.upload-petri-net {
    position: fixed;
    bottom: 24px;
    right: 24px;
    z-index: 999;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.font-size-20 {
    font-size: 20px;
}

.font-size-40 {
    font-size: 40px;
}

.block-size-40 {
    width: 40px;
    height: 40px;
}
