.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.user-list-item-margin {
    margin: 4px 0;
}

.net-panel-content {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
}

.padding-top-default {
    padding-top: 8px;
}

.padding-default {
    padding: 8px;
}
