import { Injectable } from '@angular/core';
import {ConfigurationService} from "@netgrif/application-engine";

@Injectable({
    providedIn: 'root'
})
export class <%= classify(project) %>ConfigurationService extends ConfigurationService{

    constructor() {
        super(<%= configuration %>);
    }
}
