<md-input-container class="md-block margin-bottom-0 min-width-120px maximize-width-on-xs-displays" flex
                    ng-if="search.searchCategory && (search.searchCategory.id !== search.constants.CATEGORY.CASE.DATASET || search.searchDatafield.object)">
    <label class="placeholder">{{::$i18n.block.search.condition}}</label>
    <md-select ng-model="search.searchOperator" ng-change="search.clearArgumentsInput(); search.setInputTitles()">
        <md-option ng-repeat="operator in search.searchCategory.allowedOperators(undefined, search.searchDatafield.object.toSerializedForm())" ng-value="operator">
            {{operator.display}}
        </md-option>
    </md-select>
</md-input-container>