.data {

    &-field {

        md-input-container .md-errors-spacer {
            min-height: 0 !important;
        }

        md-input-container {

            md-radio-group md-radio-button.md-checked {
                color: $color-primary-500;

                div.md-container.md-ink-ripple > div.md-on {
                    background-color: $color-primary-500;
                }

                div.md-container.md-ink-ripple > div.md-off {
                    border-color: $color-primary-500;
                }
            }

            md-checkbox.md-checked {

                .md-icon {
                    background: $color-primary-500;
                }
            }
        }

        &-title {
            font-size: 16px;
            font-weight: 400;
        }

        md-menu {

            md-icon {
                color: $color-data-file-menu-icon !important;
            }
        }
    }
}

.file-chooser {
    margin: 0;
    padding: 0;

    input {
        position: absolute;
        height: 0.1px;
        width: 0.1px;
        opacity: 0;
        overflow: hidden;
        z-index: -1;
    }

    &-avatar {

        .avatar-icon {
            font-size: 220px;
        }

        input {
            position: absolute;
            height: 0.1px;
            width: 0.1px;
            opacity: 0;
            overflow: hidden;
            z-index: -1;
        }

        label {
            display: none;
            position: absolute;

            .material-icons {
                font-size: 100px;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        &:hover {

            label {
                display: block;
            }
        }
    }
}

.dtp table.dtp-picker-days tr > td > a.selected,
.dtp table.dtp-picker-days tr > td > a.selected.hilite,
.dtp div.dtp-date, .dtp div.dtp-time, .dtp .dtp-hand.on,
.dtp .dtp-actual-meridien a.selected,
.dtp .dtp-picker-time > a.dtp-select-hour.selected {
    background: $color-primary-500;
}

.dtp table.dtp-picker-days tr > td > a.hilite:not(.selected),
.dtp div.dtp-actual-time.p60 span.selected {
    color: $color-primary-700;
}

.dtp div.dtp-year-btn, .dtp div.dtp-actual-year, .dtp div.dtp-actual-maxtime {
    color: #d0f0f0;
}

.dtp > .dtp-content > .dtp-date-view > header.dtp-header {
    background: $color-primary-500;
}

md-menu-content.dtp-month-list {
    background-color: #d0f0f0;
}

md-menu-content.dtp-year-list {
    background-color: #d0f0f0;
}
