//@import '../../templates/default/scss/config';

md-dialog {

    md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {

        md-icon {
            color: $color-grey-50 !important;

            &.color-fg-primary-500 {
                color: $color-primary-500;
            }
        }
    }

    md-expansion-panel-group {

         span {
             color: $color-grey-50 !important;
         }
    }

    .material-icons:not([class*="color-fg"]) {
        color: $color-material-grey-text;
    }
}