//@import '../templates/default/scss/config';

.color {

	&-fg {

		&-success {
			color: $color-success;
		}

		&-warning {
			color: $color-warning;
		}

		&-error {
			color: $color-error;
		}

		&-transparent {
			color: transparent;
		}

		&-green-500 {
			color: $color-green-500;
		}

		&-teal-500 {
			color: $color-teal-500;
		}

		&-light-blue-A700 {
			color: $color-light-blue-A700;
		}

		&-deep-purple-600 {
			color: $color-deep-purple-600;
		}

		&-amber-500 {
			color: $color-amber-500;
		}

		&-deep-orange-500 {
			color: $color-deep-orange-500;
		}

		&-red-500 {
			color: $color-red-500;
		}

		&-brown-500 {
			color: $color-brown-500;
		}

		&-material-grey-text {
			color: $color-material-grey-text;
		}

		&-blue-grey-100 {
			color: $color-blue-grey-100;
		}

		&-black {

			&-op {

				&-20 {
					color: $color-black-op-20;
				}

				&-30 {
					color: $color-black-op-30;
				}

				&-38 {
					color: $color-black-op-38;
				}

				&-40 {
					color: $color-black-op-40;
				}

				&-50 {
					color: $color-black-op-50;
				}

				&-54 {
					color: $color-black-op-54;
				}

				&-60 {
					color: $color-black-op-60;
				}

				&-87 {
					color: $color-black-op-87 !important;
				}
			}
		}

		&-primary {

			&-op {

				&-30 {
					color: $color-primary-op-30;
				}

				&-40 {
					color: $color-primary-op-40;
				}

				&-50 {
					color: $color-primary-op-50;
				}

				&-60 {
					color: $color-primary-op-60;
				}

				&-87 {
					color: $color-primary-op-87 !important;
				}
			}

			&-50 {
				color: $color-primary-50;
			}

			&-100 {
				color: $color-primary-100;
			}

			&-200 {
				color: $color-primary-200;
			}

			&-300 {
				color: $color-primary-300;
			}

			&-400 {
				color: $color-primary-400;
			}

			&-500 {
				color: $color-primary-500;
			}

			&-600 {
				color: $color-primary-600;
			}

			&-700 {
				color: $color-primary-700;
			}

			&-800 {
				color: $color-primary-800;
			}

			&-900 {
				color: $color-primary-900;
			}

			&-A100 {
				color: $color-primary-A100;
			}

			&-A200 {
				color: $color-primary-A200;
			}

			&-A400 {
				color: $color-primary-A400;
			}

			&-A700 {
				color: $color-primary-A700;
			}
		}

		&-accent {

			&-50 {
				color: $color-grey-50 !important;
			}

			&-100 {
				color: $color-grey-100;
			}

			&-200 {
				color: $color-grey-200;
			}

			&-300 {
				color: $color-grey-300;
			}

			&-400 {
				color: $color-grey-400;
			}

			&-500 {
				color: $color-grey-500;
			}

			&-600 {
				color: $color-grey-600;
			}

			&-700 {
				color: $color-grey-700;
			}

			&-800 {
				color: $color-grey-800;
			}

			&-900 {
				color: $color-grey-900;
			}
		}
	}

	&-bg {

		&-success {
			background-color: $color-success;
		}

		&-warning {
			background-color: $color-warning;
		}

		&-error {
			background-color: $color-error;
		}

		&-transparent {
			background-color: transparent;
		}

		&-color-green-500 {
			background-color: $color-green-500;
		}

		&-teal-500 {
			background-color: $color-teal-500;
		}

		&-light-blue-A700 {
			background-color: $color-light-blue-A700;
		}

		&-deep-purple-600 {
			background-color: $color-deep-purple-600;
		}

		&-amber-500 {
			background-color: $color-amber-500;
		}

		&-deep-orange-500 {
			background-color: $color-deep-orange-500;
		}

		&-red-500 {
			background-color: $color-red-500;
		}

		&-brown {
			background-color: $color-brown-500;
		}

		&-material-grey-text {
			background-color: $color-material-grey-text;
		}

		&-blue-grey-100 {
			background-color: $color-blue-grey-100;
		}

		&-black {

			&-op {

				&-20 {
					background-color: $color-black-op-20;
				}

				&-30 {
					background-color: $color-black-op-30;
				}

				&-40 {
					background-color: $color-black-op-40;
				}

				&-50 {
					background-color: $color-black-op-50;
				}

				&-54 {
					background-color: $color-black-op-54;
				}

				&-60 {
					background-color: $color-black-op-60;
				}

				&-87 {
					background-color: $color-black-op-87 !important;
				}
			}
		}

		&-primary {

			&-op {

				&-30 {
					background-color: $color-primary-op-30;
				}

				&-40 {
					background-color: $color-primary-op-40;
				}

				&-50 {
					background-color: $color-primary-op-50;
				}

				&-60 {
					background-color: $color-primary-op-60;
				}

				&-87 {
					background-color: $color-primary-op-87 !important;
				}
			}

			&-50 {
				background-color: $color-primary-50;
			}

			&-100 {
				background-color: $color-primary-100;
			}

			&-200 {
				background-color: $color-primary-200;
			}

			&-300 {
				background-color: $color-primary-300;
			}

			&-400 {
				background-color: $color-primary-400;
			}

			&-500 {
				background-color: $color-primary-500 !important;
			}

			&-600 {
				background-color: $color-primary-600;
			}

			&-700 {
				background-color: $color-primary-700;
			}

			&-800 {
				background-color: $color-primary-800;
			}

			&-900 {
				background-color: $color-primary-900;
			}

			&-A100 {
				background-color: $color-primary-A100;
			}

			&-A200 {
				background-color: $color-primary-A200;
			}

			&-A400 {
				background-color: $color-primary-A400;
			}

			&-A700 {
				background-color: $color-primary-A700;
			}
		}

		&-accent {

			&-50 {
				background-color: $color-grey-50;
			}

			&-100 {
				background-color: $color-grey-100;
			}

			&-200 {
				background-color: $color-grey-200;
			}

			&-300 {
				background-color: $color-grey-300;
			}

			&-400 {
				background-color: $color-grey-400;
			}

			&-500 {
				background-color: $color-grey-500;
			}

			&-600 {
				background-color: $color-grey-600;
			}

			&-700 {
				background-color: $color-grey-700;
			}

			&-800 {
				background-color: $color-grey-800;
			}

			&-900 {
				background-color: $color-grey-900;
			}
		}
	}

	&-border {

		&-transparent {
			border-color: transparent !important;
		}

		&-primary {

			&-op {

				&-30 {
					border-color: $color-primary-op-30 !important;
				}

				&-40 {
					border-color: $color-primary-op-40 !important;
				}

				&-50 {
					border-color: $color-primary-op-50 !important;
				}

				&-60 {
					border-color: $color-primary-op-60 !important;
				}

				&-87 {
					border-color: $color-primary-op-87 !important;
				}
			}
		}
	}
}
