//@import '../templates/default/scss/config';
@import 'mixins';

h1 {
    font-size: 32px;
    font-weight: 300;
    color: $color-grey-50;

    strong {
        font-weight: 700;
        color: $color-primary-500;
    }
}

h2 {
    margin: 0;
    font-size: 32px;
    font-weight: 300;
    color: $color-grey-50;

    strong {
        font-weight: 600;
        color: $color-primary-500;
    }
}

h3 {
    margin: 0;
    font-size: 24px;
    font-weight: 400;
}

span {

     strong {
         font-weight: 600;
         color: $color-primary-500;
     }

    &.active {
        font-weight: 600;
        color: $color-primary-500;
    }
}

// Text overflow
.text {

    &-overflow {

        &-dots {
            @include textOverflowWithDots(auto);
        }
    }

    &-no-decor {
        text-decoration:none;
    }
}

.font {

    &-size {

        &-12 {
            font-size: 12px;
        }

        &-14 {
            font-size: 14px;
        }

        &-15 {
            font-size: 15px;
        }

        &-16 {
            font-size: 16px;
        }

        &-18 {
            font-size: 18px;
        }

        &-20 {
            font-size: 20px;
        }

        &-22 {
            font-size: 22px;
        }
    }

    &-weight {

        &-600 {
            font-weight: 600;
        }
    }
}

.word {

    &-break {

        &-all {
            word-break: break-all;
        }
    }
}

// Highlight class for md-autocomplete
span.highlight {
    color: $color-text-highlight !important;
    font-weight: 500;
}

.file-name-highlight {
    color: $file-name-highlight !important;
}