@import 'colors';
@import 'dims';

$background-header-height: 195px;
$tab-header-height: $dim-48px;

.background {

	&-default {
		background-size: cover !important;
		background: url("../../assets/netgrif_background.png");
	}

	/*&-header {
		position: absolute;
		width: 100%;
		height: $background-header-height;
		top: 0;

		&-tabs {
			@extend .background-header;
			height: $background-header-height - $tab-header-height;
			top: $tab-header-height;
		}
	}*/

	&-fullpage {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
	}

	&-tabs {

		md-tabs-wrapper {
			background-color: $color-grey-200;
		}
	}
}
