.background {

	&-header {
		position: absolute;
		height: 223px;
		width: 100%;
		top: 0;
	}

	&-tabs {
		top: 48px !important;
		height: 175px !important;
	}

	&-welcome {
		background-image: url(../../assets/welcome_background.png);
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
	}
}
