// Primary color - FM
$color-primary-50: 				#e3f6fa;
$color-primary-100: 			#b8e8f2;
$color-primary-300: 			#89d9e9;
$color-primary-200: 			#59c9e0;
$color-primary-400: 			#36bed9;
$color-primary-500: 			#12b2d2;
$color-primary-600: 			#10abcd;
$color-primary-700: 			#0da2c7;
$color-primary-800: 			#0a99c1;
$color-primary-900: 			#058ab6;
$color-primary-A100: 			#e0f6ff;
$color-primary-A200: 			#ade8ff;
$color-primary-A400: 			#7adaff;
$color-primary-A700: 			#60d2ff;


// Accent color
$color-grey-50: 				#FAFAFA;
$color-grey-100: 				#F5F5F5;
$color-grey-200: 				#EEEEEE;
$color-grey-300: 				#E0E0E0;
$color-grey-400: 				#BDBDBD;
$color-grey-500: 				#9E9E9E;
$color-grey-600: 				#757575;
$color-grey-700: 				#616161;
$color-grey-800: 				#424242;
$color-grey-900: 				#212121;


// Background

// Material text
$color-material-grey-text:		rgba(0, 0, 0, .38);

// Menu

// Other

// System
$color-success:					#4CAF50;
$color-warning:					#FFC107;
$color-error:					#F44336;


.color {
	
	&-fg {
		
		&-success {
			color: $color-success !important;
		}

		&-warning {
			color: $color-warning !important;
		}

		&-error {
			color: $color-error !important;
		}
	}
	
	&-bg {
		
		&-success {
			background-color: $color-success !important;
		}

		&-warning {
			background-color: $color-warning !important;
		}

		&-error {
			background-color: $color-error !important;
		}

		&-transparent {
			background-color: transparent;
		}
	}
}
