// Primary color - FM
$color-fm-50: 					#f3e0e6;
$color-fm-100: 					#e0b3bf;
$color-fm-200: 					#cc8095;
$color-fm-300: 					#b74d6b;
$color-fm-400: 					#a7264b;
$color-fm-500: 					#98002b;
$color-fm-600: 					#900026;
$color-fm-700: 					#850020;
$color-fm-800: 					#7b001a;
$color-fm-900: 					#6a0010;
$color-fm-A100: 				#ff99a1;
$color-fm-A200: 				#ff6672;
$color-fm-A400: 				#ff3343;
$color-fm-A700: 				#ff1a2b;

// Accent color
$color-grey-50: 				#FAFAFA;
$color-grey-100: 				#F5F5F5;
$color-grey-200: 				#EEEEEE;
$color-grey-300: 				#E0E0E0;
$color-grey-400: 				#BDBDBD;
$color-grey-500: 				#9E9E9E;
$color-grey-600: 				#757575;
$color-grey-700: 				#616161;
$color-grey-800: 				#424242;
$color-grey-900: 				#212121;

// Background
$color-blue-grey-50: 			#ECEFF1;

// Material text
$color-material-grey-text:		rgba(0, 0, 0, 0.38);

// Other
$color-blue-grey-500:			#607D8B;
$color-amber-500:				#FFC107;
$color-green-500:				#4CAF50;
$color-red-500:					#F44336;
$color-indigo-500:				#3F51B5;
$color-teal-500:				#009688;


.color {
	
	&-fg {
		
		&-fm {
			
			&-50 {
				color: $color-fm-50;
			}
			
			&-100 {
				color: $color-fm-100;
			}
			
			&-200 {
				color: $color-fm-200;
			}
			
			&-300 {
				color: $color-fm-300;
			}
			
			&-400 {
				color: $color-fm-400;
			}
			
			&-500 {
				color: $color-fm-500;
			}
			
			&-600 {
				color: $color-fm-600;
			}
			
			&-700 {
				color: $color-fm-700;
			}
			
			&-800 {
				color: $color-fm-800;
			}
			
			&-900 {
				color: $color-fm-900;
			}
			
			&-A100 {
				color: $color-fm-A100;
			}
			
			&-A200 {   
				color: $color-fm-A200;
			}
			
			&-A400 {
				color: $color-fm-A400;
			}
			
			&-A700 {
				color: $color-fm-A700;
			}
		}
		
		&-grey {
			
			&-50 {
				color: $color-grey-50;
			}
			
			&-100 {
				color: $color-grey-100;
			}
			
			&-200 {
				color: $color-grey-200;
			}
			
			&-300 {
				color: $color-grey-300;
			}
			
			&-400 {
				color: $color-grey-400;
			}
			
			&-500 {
				color: $color-grey-500;
			}
			
			&-600 {
				color: $color-grey-600;
			}
			
			&-700 {
				color: $color-grey-700;
			}
			
			&-800 {
				color: $color-grey-800;
			}
			
			&-900 {
				color: $color-grey-900;
			}
		}

		&-blue-grey {

			&-50 {
				color: $color-blue-grey-50;
			}

			&-500 {
				color: $color-blue-grey-500;
			}
		}

		&-amber {

			&-500 {
				color: $color-amber-500;
			}
		}

		&-green {

			&-500 {
				color: $color-green-500;
			}
		}

		&-red {

			&-500 {
				color: $color-red-500;
			}
		}

		&-indigo {

			&-500 {
				color: $color-indigo-500;
			}
		}

		&-teal {

			&-500 {
				color: $color-teal-500;
			}
		}

		&-material-grey {

			&-text {
				color: $color-material-grey-text;
			}
		}
	}
	
	&-bg {
		
		&-fm {
			
			&-50 {
				background-color: $color-fm-50;
			}
			
			&-100 {
				background-color: $color-fm-100;
			}
			
			&-200 {
				background-color: $color-fm-200;
			}
			
			&-300 {
				background-color: $color-fm-300;
			}
			
			&-400 {
				background-color: $color-fm-400;
			}
			
			&-500 {
				background-color: $color-fm-500;
			}
			
			&-600 {
				background-color: $color-fm-600;
			}
			
			&-700 {
				background-color: $color-fm-700;
			}
			
			&-800 {
				background-color: $color-fm-800;
			}
			
			&-900 {
				background-color: $color-fm-900;
			}
			
			&-A100 {
				background-color: $color-fm-A100;
			}
			
			&-A200 {   
				background-color: $color-fm-A200;
			}
			
			&-A400 {
				background-color: $color-fm-A400;
			}
			
			&-A700 {
				background-color: $color-fm-A700;
			}
		}
		
		&-grey {
			
			&-50 {
				background-color: $color-grey-50;
			}
			
			&-100 {
				background-color: $color-grey-100;
			}
			
			&-200 {
				background-color: $color-grey-200;
			}
			
			&-300 {
				background-color: $color-grey-300;
			}
			
			&-400 {
				background-color: $color-grey-400;
			}
			
			&-500 {
				background-color: $color-grey-500;
			}
			
			&-600 {
				background-color: $color-grey-600;
			}
			
			&-700 {
				background-color: $color-grey-700;
			}
			
			&-800 {
				background-color: $color-grey-800;
			}
			
			&-900 {
				background-color: $color-grey-900;
			}
		}

		&-blue-grey {

			&-50 {
				background-color: $color-blue-grey-50;
			}

			&-500 {
				background-color: $color-blue-grey-500;
			}
		}

		&-amber {

			&-500 {
				background-color: $color-amber-500;
			}
		}

		&-green {

			&-500 {
				background-color: $color-green-500;
			}
		}

		&-red {

			&-500 {
				background-color: $color-red-500;
			}
		}

		&-indigo {

			&-500 {
				background-color: $color-indigo-500;
			}
		}

		&-teal {

			&-500 {
				background-color: $color-teal-500;
			}
		}

		&-material-grey {

			&-text {
				background-color: $color-material-grey-text;
			}
		}

		&-transparent {
			background-color: transparent;
		}
	}
}

.highlight {
	color: $color-fm-500 !important;
}
