// Dimmensions
$dim-default:					8px;
$dim-2x:						2*$dim-default;

$border-radius:					2px;

// Height

.height {

	&-52px {
		height: 52px;
	}

	&-56px { // Expansion panel height
		height: 56px;
	}
}

.width {

}

// Min / Max Dims
.min {

	&-height {

		&-0 {
			min-height: 0 !important;
		}
	}
}

.max {

	&-height {

		&-0 {
			max-height: 0 !important;
		}
	}
}

// Font sizes


// Margins
.margin {

	&-0 {
		margin: 0 !important;
	}

	&-default {
		margin: $dim-default;
	}

	&-2x {
		margin: $dim-2x;
	}

	&-vertical {

		&-0 {
			margin-top: 0;
			margin-bottom: 0;
		}

		&-default {
			margin-top: $dim-default;
			margin-bottom: $dim-default;
		}

		&-2x {
			margin-top: $dim-2x;
			margin-bottom: $dim-2x;
		}
	}

	&-horizontal {

		&-0 {
			margin-left: 0;
			margin-right: 0;
		}

		&-default {
			margin-left: $dim-default;
			margin-right: $dim-default;
		}

		&-2x {
			margin-left: $dim-2x;
			margin-right: $dim-2x;
		}
	}

	&-top {

		&-0 {
			margin-top: 0;
		}

		&-default {
			margin-top: $dim-default;
		}

		&-2x {
			margin-top: $dim-2x;
		}
	}

	&-bottom {

		// To fix input container alignment
		&-negative-15px {
			margin-bottom: -15px;
		}

		&-0 {
			margin-bottom: 0;
		}

		&-default {
			margin-bottom: $dim-default;
		}

		&-2x {
			margin-bottom: $dim-2x;
		}
	}

	&-left {

		&-0 {
			margin-left: 0;
		}

		&-default {
			margin-left: $dim-default;
		}

		&-2x {
			margin-left: $dim-2x;
		}
	}

	&-right {

		&-0 {
			margin-right: 0;
		}

		&-default {
			margin-right: $dim-default;
		}

		&-2x {
			margin-right: $dim-2x;
		}
	}
}

// Paddings
.padding {

	&-0 {
		padding: 0 !important;
	}

	&-default {
		padding: $dim-default;
	}

	&-2x {
		padding: $dim-2x;
	}

	&-vertical {

		&-0 {
			padding-top: 0;
			padding-bottom: 0;
		}

		&-default {
			padding-top: $dim-default;
			padding-bottom: $dim-default;
		}

		&-2x {
			padding-top: $dim-2x;
			padding-bottom: $dim-2x;
		}
	}

	&-horizontal {

		&-0 {
			padding-left: 0;
			padding-right: 0;
		}

		&-default {
			padding-left: $dim-default;
			padding-right: $dim-default;
		}

		&-2x {
			padding-left: $dim-2x;
			padding-right: $dim-2x;
		}
	}

	&-top {

		&-0 {
			padding-top: 0 !important;
		}

		&-default {
			padding-top: $dim-default;
		}

		&-2x {
			padding-top: $dim-2x;
		}
	}

	&-bottom {

		&-0 {
			padding-bottom: 0;
		}

		&-default {
			padding-bottom: $dim-default;
		}

		&-2x {
			padding-bottom: $dim-2x;
		}
	}

	&-left {

		&-0 {
			padding-left: 0;
		}

		&-default {
			padding-left: $dim-default;
		}

		&-2x {
			padding-left: $dim-2x;
		}
	}

	&-right {

		&-0 {
			padding-right: 0;
		}

		&-default {
			padding-right: $dim-default;
		}

		&-2x {
			padding-right: $dim-2x;
		}

		&-66px {
			padding-right: 66px;
		}
	}
}

// Border
.border {

	&-width {

		&-default {
			border-width: $dim-default !important;
		}

		&-2x {
			border-width: $dim-2x !important;
		}
	}

	&-radius {

		&-default {
			border-radius: $border-radius !important;
		}
	}
}
