// Dimmensions
$dim-default:					8px;
$dim-2x:						2*$dim-default;

// Min / Max Dims
.min {

	&-height {

		&-0 {
			min-height: 0 !important;
		}
	}
}

.max {

	&-height {

		&-0 {
			max-height: 0 !important;
		}
	}
}

// Font sizes


// Margins
.margin {

	&-no {
		margin: 0 !important;
	}

	&-default {
		margin: $dim-default;
	}

	&-2x {
		margin: $dim-2x;
	}

	&-vertical {

		&-no {
			margin-top: 0;
			margin-bottom: 0;
		}

		&-default {
			margin-top: $dim-default;
			margin-bottom: $dim-default;
		}

		&-2x {
			margin-top: $dim-2x;
			margin-bottom: $dim-2x;
		}
	}

	&-horizontal {

		&-no {
			margin-left: 0;
			margin-right: 0;
		}

		&-default {
			margin-left: $dim-default;
			margin-right: $dim-default;
		}

		&-2x {
			margin-left: $dim-2x;
			margin-right: $dim-2x;
		}
	}

	&-top {

		&-no {
			margin-top: 0;
		}

		&-default {
			margin-top: $dim-default;
		}

		&-2x {
			margin-top: $dim-2x;
		}
	}

	&-bottom {

		&-no {
			margin-bottom: 0;
		}

		&-default {
			margin-bottom: $dim-default;
		}

		&-2x {
			margin-bottom: $dim-2x;
		}
	}

	&-left {

		&-no {
			margin-left: 0;
		}

		&-default {
			margin-left: $dim-default;
		}

		&-2x {
			margin-left: $dim-2x;
		}
	}

	&-right {

		&-no {
			margin-right: 0;
		}

		&-default {
			margin-right: $dim-default;
		}

		&-2x {
			margin-right: $dim-2x;
		}
	}
}

// Paddings
.padding {

	&-no {
		padding: 0 !important;
	}

	&-default {
		padding: $dim-default;
	}

	&-2x {
		padding: $dim-2x;
	}

	&-vertical {

		&-no {
			padding-top: 0;
			padding-bottom: 0;
		}

		&-default {
			padding-top: $dim-default;
			padding-bottom: $dim-default;
		}

		&-2x {
			padding-top: $dim-2x;
			padding-bottom: $dim-2x;
		}
	}

	&-horizontal {

		&-no {
			padding-left: 0;
			padding-right: 0;
		}

		&-default {
			padding-left: $dim-default;
			padding-right: $dim-default;
		}

		&-2x {
			padding-left: $dim-2x;
			padding-right: $dim-2x;
		}
	}

	&-top {

		&-no {
			padding-top: 0;
		}

		&-default {
			padding-top: $dim-default;
		}

		&-2x {
			padding-top: $dim-2x;
		}
	}

	&-bottom {

		&-no {
			padding-bottom: 0;
		}

		&-default {
			padding-bottom: $dim-default;
		}

		&-2x {
			padding-bottom: $dim-2x;
		}
	}

	&-left {

		&-no {
			padding-left: 0;
		}

		&-default {
			padding-left: $dim-default;
		}

		&-2x {
			padding-left: $dim-2x;
		}
	}

	&-right {

		&-no {
			padding-right: 0;
		}

		&-default {
			padding-right: $dim-default;
		}

		&-2x {
			padding-right: $dim-2x;
		}
	}
}

// Border

.border {

	&-width {

		&-default {
			border-width: $dim-default !important;
		}

		&-2x {
			border-width: $dim-2x !important;
		}
	}
}
