@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {
	// For Google Chrome
	::-webkit-scrollbar {
		width: $size;
		height: $size;
	}
	::-webkit-scrollbar-thumb {
		background: $foreground-color;
	}
	::-webkit-scrollbar-track {
		background: $background-color;
	}
	// For Internet Destroyer
	body {
		scrollbar-face-color: $foreground-color;
		scrollbar-track-color: $background-color;
	}
}

@mixin textOverflowWithDots($elementWidth) {
	width: $elementWidth;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin centerVertically() {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
}

@mixin centerHorizontally() {
    left: 50%;
    transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
  	-ms-transform: translateX(-50%);
}

@mixin centerFixed() {
	position: fixed;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 	-ms-transform: translate(-50%);
}

@mixin centerAbsolute() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 	-ms-transform: translate(-50%);
}
