// Global HTML5 elements
body {
	min-height: 100%;
}

// Custom global classes
.stop-scrolling {
	height: 100%;
	overflow: hidden;
}

.img-responsive {
	width: 100%;
	height: auto;
}

.cursor-pointer {
	cursor: pointer;
}

// Floating Action Button alignment
.fab {

	&-top {

		&-left {
			top: 40px !important;
			bottom: auto;
			left: 40px !important;
			right: auto;
		}

		&-right {
			top: 40px !important;
			bottom: auto;
			left: auto;
			right: 40px !important;
		}
	}

	&-bottom {

		&-left {
			top: auto;
			bottom: 60px !important;
			left: 40px !important;
			right: auto;
		}

		&-right {
			top: auto;
			bottom: 60px !important;
			left: auto;
			right: 40px !important;
		}
	}
}

// Positions
.position {

	&-relative {
		position: relative !important;
	}

	&-absolute {
		position: absolute !important;
	}

	&-fixed {
		position: fixed !important;
	}
}

// Layout
.layout {

	&-vh {					// Window dims

		&-100 {
			height: 100vh;
		}
	}

	&-vw {

		&-100 {
			width: 100vw;
		}
	}

	&-rh {					// Relative dims

		&-100 {
			height: 100%;
		}
	}

	&-rw {

		&-100 {
			width: 100%;
		}
	}

	&-sh {					// Static dims

		&-300 {
			height: 300px;
		}
	}

	&-sw {

		&-300 {
			width: 300px;
		}
	}
}

