// Global HTML5 elements
body {
	min-height: 100%;
}

// Layout
.layout {

	&-vh {

		&-100 {
			height: 100vh;
		}
	}

	&-vw {

		&-100 {
			width: 100vw;
		}
	}

	&-rh {

		&-100 {
			height: 100%;
		}
	}

	&-rw {

		&-100 {
			width: 100%;
		}
	}
}

