// Displays
.display {

    &-block {
        display: block;
    }

    &-none {
        display: none;
    }
}

// Positions
.position {

    &-relative {
        position: relative !important;
    }

    &-absolute {
        position: absolute !important;
    }

    &-fixed {
        position: fixed !important;
    }
}

// Layout
.layout {

    &-rh {					// Relative dims

        &-100 {
            height: 100%;

            &-min {

                &-400 {
                    height: auto;
                }

                &-550 {
                    height: auto;
                }
            }
        }
    }

    &-rw {

        &-100 {
            width: 100%;
        }
    }

    &-sh {					// Static dims

        &-300 {
            height: 300px;
        }
    }

    &-sw {

        &-300 {
            width: 300px;
        }
    }
}

// Responsive layout

// Responsive (By width)
// xs
@media all and (max-width: 599px) {

    .layout {

        &-xs {

            &-rw { // Relative dims

                &-100 {
                    width: 100%;
                }
            }
        }
    }
}
// sm
@media all and (min-width: 600px) and (max-width: 959px) {

    .layout {

        &-sm {

            &-rw { // Relative dims

                &-100 {
                    width: 100%;
                }
            }
        }
    }

}
// md
@media all and (min-width: 960px) and (max-width: 1279px) {

    .layout {

        &-md {

            &-rw { // Relative dims

                &-100 {
                    width: 100%;
                }
            }
        }
    }

}
// lg
@media all and (min-width: 1280px) and (max-width: 1919px) {

    .layout {

        &-lg {

            &-rw { // Relative dims

                &-100 {
                    width: 100%;
                }
            }
        }
    }

}
// xl
@media all and (min-width: 1920px) {

    .layout {

        &-xl {

            &-rw { // Relative dims

                &-100 {
                    width: 100%;
                }
            }
        }
    }

}
// GTs
// gt xs
@media all and (min-width: 600px) {

    .layout {

        &-gt-xs {

            &-rw { // Relative dims

                &-100 {
                    width: 100%;
                }
            }
        }
    }

}
// gt sm
@media all and (min-width: 960px) {

    .layout {

        &-gt-sm {

            &-rw { // Relative dims

                &-100 {
                    width: 100%;
                }
            }
        }
    }

}
// gt md
@media all and (min-width: 1280px) {

    .layout {

        &-gt-md {

            &-rw { // Relative dims

                &-100 {
                    width: 100%;
                }
            }
        }
    }

}
// gt lg
@media all and (min-width: 1920px) {

    .layout {

        &-gt-lg {

            &-rw { // Relative dims

                &-100 {
                    width: 100%;
                }
            }
        }
    }

}

// Responsive (By height)
@media all and (min-height: 400px) {

    .layout {

        &-rh { // Relative height

            &-100 {

                &-min { // Min height

                    &-400 {
                        height: 100%;
                    }
                }
            }
        }
    }
}
@media all and (min-height: 550px) {

    .layout {

        &-rh { // Relative height

            &-100 {

                &-min { // Min height

                    &-550 {
                        height: 100%;
                    }
                }
            }
        }
    }
}