h1 {
    font-size: 32px;
    font-weight: 300;
    color: $color-grey-50;

    strong {
        font-weight: 700;
        color: $color-primary-500;
    }
}

h2 {
    margin: 0;
    font-size: 32px;
    font-weight: 300;
    color: $color-grey-50;

    strong {
        font-weight: 600;
        color: $color-primary-500;
    }
}

span {
     color: $color-grey-50;
     font-weight: 300;

     strong {
         font-weight: 600;
         color: $color-primary-500;
     }

    &.active {
        font-weight: 600;
        color: $color-primary-500;
    }
}

// Text overflow
.text {

    &-overflow {

        &-dots {
            @include textOverflowWithDots(100%);
        }
    }

    &-no-decor {
        text-decoration:none;
    }
}

.font {

    &-size {

        &-12 {
            font-size: 12px;
        }

        &-14 {
            font-size: 14px;
        }

        &-15 {
            font-size: 15px;
        }

        &-16 {
            font-size: 16px;
        }

        &-18 {
            font-size: 18px;
        }

        &-20 {
            font-size: 20px;
        }

        &-22 {
            font-size: 22px;
        }
    }
}