<nc-authentication-overlay>
    <div fxLayout="row" fxLayoutAlign="center center" class="fill-all-space">
        <nc-login-form (login)="onLogin($event)"></nc-login-form>
    </div>
</nc-authentication-overlay>
