<div ng-switch="$eval(switchExpression)" layout="row" layout-align="start center">
    <div ng-switch-default layout="row" layout-align="start center">
        <md-input-container class="md-block margin-0">
            <label class="placeholder">{{inputTitles[$index]}}</label>
            <input ng-model="search.searchArguments[inputGui][$index]">
        </md-input-container>
    </div>

    <div ng-switch-when="autocomplete" layout="row" layout-align="start center">
        <md-autocomplete md-search-text="search.searchArguments[inputGui][$index]"
                         md-selected-item-change="search.searchCategory.autocompleteFilter(inputGui, $index)"
                         md-items="item in search.searchCategory.autocompleteFilter(inputGui, $index)"
                         md-item-text="item"
                         md-min-length="0"
                         md-no-cache="true"
                         md-select-on-match="true"
                         md-match-case-insensitive="true"
                         md-dropdown-items="5"
                         md-floating-label="{{inputTitles[$index]}}"
                         class="autocomplete-aligned-to-input">

            <md-item-template>
                <span md-highlight-text="search.searchArguments[inputGui][$index]" md-highlight-flags="i">
                    {{item}}
                </span>
            </md-item-template>
            <md-not-found>
                {{$i18n.page.tasks.filter.processNotFound}} <!-- TODO change text -->
            </md-not-found>
        </md-autocomplete>
    </div>

    <div ng-switch-when="user" layout="row" layout-align="start center">
        <md-input-container class="md-block margin-0">
            <md-autocomplete md-search-text="search.searchArguments[inputGui][$index]"
                             md-selected-item="search.searchObjects[inputGui][$index]"
                             md-items="item in search.queryUsers(search.searchArguments[inputGui][$index])"
                             md-item-text="item.name"
                             md-min-length="0"
                             md-no-cache="true"
                             md-select-on-match="true"
                             md-match-case-insensitive="true"
                             md-dropdown-items="5"
                             md-floating-label="{{inputTitles[$index]}}"
                             md-delay="500"
                             class="autocomplete-aligned-to-input">

                <md-item-template>
                    <span md-highlight-text="search.searchArguments[inputGui][$index]" md-highlight-flags="i">
                        {{item.name}}
                    </span>
                </md-item-template>
                <md-not-found>
                    {{$i18n.page.tasks.filter.processNotFound}} <!-- TODO change text -->
                </md-not-found>
            </md-autocomplete>
        </md-input-container>
    </div>

    <div ng-switch-when="number" layout="row" layout-align="start center">
        <md-input-container class="md-block margin-0">
            <label class="placeholder">{{inputTitles[$index]}}</label>
            <input ng-model="search.searchArguments[inputGui][$index]" type="number" step="any">
        </md-input-container>
    </div>

    <div ng-switch-when="boolean" layout="row" layout-align="start center">
        <md-input-container class="md-block margin-0">
<!--            <label class="placeholder">{{inputTitles[$index]}}</label>-->
            <md-switch class="md-primary margin-0"
                       ng-model="search.searchArguments[inputGui][$index]"
                       ng-init="search.searchArguments[inputGui][$index] = false"
                       aria-label="Switch">
            </md-switch>
        </md-input-container>
    </div>

    <div ng-switch-when="date" layout="row" layout-align="start center">
        <md-input-container class="md-block margin-0">
            <label class="placeholder">{{inputTitles[$index]}}</label>
            <md-datepicker ng-model="search.searchArguments[inputGui][$index]"
                           aria-label="Pick date"
                           md-open-on-focus>
            </md-datepicker>
        </md-input-container>
    </div>

<!--    TODO dateTime after NAE-182 is merged-->
<!--    <div ng-switch-when="dateTime" layout="row">-->
<!--    </div>-->

    <div ng-switch-when="blank"></div>
</div>