.task-tab-background {
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: transparent;
}

.search-panel {
    margin-top: 8px;
    padding: 8px 8px;
}

.content-margin {
    margin: 0 8px;
}

.task-panel-padding-mini {
    display: none;
}

.full-height {
    height: 100%;
}

.search-width {
    width: 100%;
}
