name: Master Build & Test

on:
    push:
        branches: [ master ]

jobs:
    build:
        name: Build
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v3
                with:
                    fetch-depth: 0
            -   name: Use Node.js 16
                uses: actions/setup-node@v3
                with:
                    node-version: 16
            -   run: |
                    npm cache clean --force
                    npm i
            -   name: Build & test components-core
                run: |
                    npm run ncc:build
                    npm run ncc:full-test
                    npm run ncc:doc
                    npm i ./dist/netgrif-components-core --save-optional --legacy-peer-deps
            -   name: Build & test components
                run: |
                    npm run nc:build
                    npm run nc:full-test
                    npm run nc:doc
                    npm i ./dist/netgrif-components --save-optional --legacy-peer-deps
            -   name: SonarCloud scan
                uses: SonarSource/sonarcloud-github-action@master
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                    SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
            -   name: Build examples
                run: npm run example:build
            -   uses: EndBug/add-and-commit@v8
                with:
                    add: docs
                    pathspec_error_handling: exitImmediately
                    default_author: github_actions
                    committer_name: Netgrif DevOps
                    committer_email: devops@netgrif.com
                    message: 'CI - Update documentation'



