name: Build
on:
    pull_request:
        types: [ opened, synchronize, reopened ]
jobs:
    test:
        name: Test
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v2
            -   uses: actions/setup-node@v2
                name: Full Test
                with:
                    node-version: 12
            -   name: Build & test components-core
                run: |
                    npm run ncc:build
                    npm run ncc:full-test
                    npm i dist/netgrif-components-core --save-optional
            -   name: Build & test components
                run: |
                    npm run nc:build
                    npm run nc:full-test
                    npm i dist/netgrif-components --save-optional
            -   name: Build examples
                run: npm run example:build
