.full-height {
    height: 100%;
    min-height: 100%;
}

.full-width {
    width: 100%;
    min-width: 100%;
}

.padding-default {
    padding: 8px;
}

.padding-half {
    padding: 4px;
}

.padding-x2 {
    padding: 16px;
}

.margin-default {
    margin: 8px;
}

.margin-half {
    margin: 4px;
}

.margin-x2 {
    margin: 16px;
}

.margin-top-default {
    margin-top: 8px;
}

.margin-top-half {
    margin-top: 4px;
}

.margin-top-x2 {
    margin-top: 16px;
}

.margin-bottom-default {
    margin-bottom: 8px;
}

.margin-bottom-half {
    margin-bottom: 4px;
}

.margin-bottom-x2 {
    margin-bottom: 16px;
}

.margin-left-default {
    margin-left: 8px;
}

.margin-left-half {
    margin-left: 4px;
}

.margin-left-x2 {
    margin-left: 16px;
}

.margin-right-default {
    margin-right: 8px;
}

.margin-right-half {
    margin-right: 4px;
}

.margin-right-x2 {
    margin-right: 16px;
}


