.fill-all-space {
    min-width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
}

.login {
    &-background {
        background: url("../../../assets/login_background.png");
        background-size: cover;
    }

    &-card-layout {
        @media (max-width: 599px) {
            height: 100%;
            width: 100%;
        }

        min-height: 400px;
        width: 600px;
    }
}
