import { Component } from '@angular/core';

@Component({
  selector: '<%= prefix %>-login',
  templateUrl: './login.component.html.template',
  styleUrls: ['./login.component.scss.template']
})
export class LoginComponent {

  constructor() { }

}
