<div class="task-tab-background">
    <div fxLayout="column" fxLayoutGap="20"  fxLayoutAlign="space-between stretch" class="content-margin" >
        <mat-card class="search-panel" >TO DO SEARCH</mat-card>
         <nae-header #header type="task" class="task-panel-padding-mini"></nae-header>
        <nae-task-list [taskPanels]="taskPanel" [loading]="loading" [selectedHeaders$]="selectedHeaders$"></nae-task-list>
    </div>
</div>
